---
---
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';

.go-search,
.go-primary,
.search-box,
#page-tertiary,
#ribbon,
#panels,
#page-sort,
.year-options-list,
#page-index,
#page-side,
.hide,
body:not(.document) .closing,
.closing-tertiary,
.closing small,
.qrcode,
input[type="checkbox"],
input[type="button"],
input[type="radio"],
input[type="submit"] {
  display: none;
}

body { font-size: .9em; }
.card-title { padding-top: 1.5em; }
#page-logo img { display: none; }
blockquote { padding-left: .5em; }

.document .the-document ol li:before {
  content: attr(value) ".";
  margin-right: .5em;
  color: #888;
}

.page-subheader {
  display: block;
  margin-bottom: 1em;
}

.special {
  font-size: 1em;

  .hide { display: none; }
  .the-document ol li:before { color: #222; }
  #page-main { text-align: justify; }

  #page-logo {
    width: 76px;
    height: 80px;
    display: block;
    margin: 1em 0 1em 2em !important;
    background: none;

    &:after {
      text-align: left;
      content: "Australasian Legal Information Institute";
      display: block;
      text-indent: 76px !important;
      width: 620px;
      height: 40px;
      color: #222;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: -0.01em;
      position: absolute;
      margin-top: 20px;
    }

    img {
      display: block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 14px;
      left: 14px;
    }

    .title-main { display: none; }
  }

  &.document #page-title {
    background: $red;
    box-shadow: inset 0 0 0 1000px $red;
    color: white;
    text-shadow: 0 0 0 #fff;
    -webkit-print-color-adjust: exact;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 0 .75em 1.5em;
    border-bottom: 2px solid darken($red, 15);
    margin-bottom: 0 !important;
    margin-top: 10px;
  }

  .the-document {
    margin: 1.5em;

    p, dl, li, blockquote { max-width: 45em; }

    h1 {
      background: $red;
      box-shadow: 0px 0px 0px 1000px $red inset;
      color: #fff !important;
      text-shadow: 0 0 0 #fff;
      -webkit-print-color-adjust: exact;
      font-size: 1.5em;
      font-weight: 600;
      padding: 1em;
      border-bottom: 2px solid #C40C0B;
      margin: -24px -1em 1em;

    }
  }

  .closing .inner .qrcode {
    display: block;
    position: absolute;
    right: .25em;
    top: .5em;
  }
}
