---
---
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';

.go-search,
.go-primary,
.search-box,
#page-tertiary,
#ribbon,
#panels,
.year-options-list,
#page-index,
#page-side,
.closing {
  display: none;
}

body {
  font-size: .9em;
}

.special {
  font-size: 1em;

  #page-main { text-align: justify; }

  #page-logo {
    width: 76px;
    height: 80px;
    display: block;
    text-indent: -999em;
    margin: 1em 0 1em 2em !important;

    &:after {
      text-align: left;
      content: "Australasian Legal Information Institute";
      display: block;
      text-indent: 96px !important;
      width: 620px;
      height: 40px;
      color: #222;
      font-size: 1.3em;
      font-weight: 600;
      letter-spacing: -0.01em;
    }
  }

  &.document #page-title {
    background: $red;
    box-shadow: inset 0 0 0 1000px $red;
    color: white;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 0 .75em 2em;
    border-bottom: 2px solid darken($red, 15);
    margin-bottom: 0 !important;
  }

  .the-document {
    margin: 1.5em;

    p, dl, li {
      max-width: 45em;
    }

    header {
      background: $red;
      box-shadow: inset 0 0 0 1000px $red;
      margin: -1.5em -1.5em 0 -1.5em;
    }

    header h1 {
      color: white;
      color: rgba(0,0,0,0);
      text-shadow: 0 0 0 #fff;
      font-size: 2em;
      font-weight: 600;
      padding: 1em .95em 1.5em .95em;

      &:after {
        content: url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://austlii.edu.au&choe=UTF-8);
        position: absolute;
        right: -10px;
        top: -20px;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
     }
    }
  }

  &:before {
    content:url('../images/logo-print-special.png');
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    position: absolute;
    top: 14px;
    left: 30px;
  }
}
