---
---
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';

.go-search,
.go-primary,
.search-box,
#page-tertiary,
#ribbon,
#panels,
#page-sort,
.year-options-list,
#page-index,
#page-side,
.hide,
body:not(.document) .closing,
.closing-tertiary,
.closing small,
.qrcode,
input[type="checkbox"],
input[type="button"],
input[type="radio"],
input[type="submit"] {
  display: none;
}

body {
  font-size: .9em;
}

.document .the-document ol li:before {
  content: attr(value) ".";
  margin-right: .5em;
  color: #888;
}

.page-subheader { 
  display: block;
  margin-bottom: 1em; 
}

.card-title { padding-top: 1.5em; }





.special {
  font-size: 1em;

  .hide { display: none; }

  .document .the-document ol li::before { left: -1.2em; }

  #page-main { text-align: justify; }

  #page-logo {
    width: 76px;
    height: 80px;
    display: block;
    //text-indent: -999em;
    margin: 1em 0 1em 2em !important;
    background: none;

    &:after {
      text-align: left;
      content: "Australasian Legal Information Institute";
      display: block;
      text-indent: 96px !important;
      width: 620px;
      height: 40px;
      color: #222;
      font-size: 1.3em;
      font-weight: 600;
      letter-spacing: -0.01em;
      position: absolute;
      margin-top: 20px;
    }

    img {
      position: absolute;
      width: 80px;
      height: 80px;
      top: 14px;
      left: 14px; 
    }

    .title-main { display: none; }
  }

  &.document #page-title {
    background: $red;
    box-shadow: inset 0 0 0 1000px $red;
    color: white;
    text-shadow: 0 0 0 #fff;
    -webkit-print-color-adjust: exact;
    font-size: 1em;
    font-weight: 600;
    padding: 1em 0 .75em 1.5em;
    border-bottom: 2px solid darken($red, 15);
    margin-bottom: 0 !important;
    margin-top: 10px;
  }

  .the-document {
    margin: 1.5em;

    p, dl, li, blockquote {
      max-width: 45em;
    }

    blockquote {
      margin-left: 0;
    }

    h1 {
      background: $red;
      box-shadow: 0px 0px 0px 1000px $red inset;
      color: white;
      text-shadow: 0 0 0 #fff;
      -webkit-print-color-adjust: exact;
      font-size: 1.5em;
      font-weight: 600;
      padding: 1em;
      border-bottom: 2px solid #C40C0B;
      margin: -24px -1em 1em;
/*
      &:after {
        content: url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://austlii.edu.au&choe=UTF-8);
        position: absolute;
        right: -10px;
        top: -20px;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
}*/

    }
  }

  .closing {

    .inner {

      .qrcode { 
        display: block;        
        position: fixed;
        right: .25em;
        top: .5em;
      }
    }
  }

  /*&:before {
    content:url('../images/logo-print-special.png');
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    position: absolute;
    top: 14px;
    left: 30px;
  }*/
}
