---
---
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';

// Rows

@include media($medium-screen) {
  .row {
    @include row;
  }

  .half-row {
    @include span-columns(6);
  }
}

hr {
  border: none;
  margin: 4em 1em;
}


// Global

body {
  background: $light-gray;
}

// Mixins

%container {
  @include outer-container;
  padding-left: 1em;
  padding-right: 1em;
}

// Header

#page-header {
  padding-bottom: 7px;
  background: white;

  @include media($medium-screen + 20em) {
    .home &  {
      padding-bottom: 2em;
    }
  }
}

#primary {
  @extend %container; 
  @include clearfix;
  position: relative;
  top: 0;

  @include media(max-width $medium-screen + 20em) {
    @include transition(all 0.25s ease-in-out);
  }

  @include media($medium-screen + 20em) {
    .home &  {
      width: 620px;
      padding-top: 2.5em;
      margin-bottom: -25px;
    }
  }
}

.search-is-visible #primary {
  top: -100px;
}

#page-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  text-indent: -999em;
  background: $red;
  margin-top: 7px;
  background: url('../images/logo.svg') no-repeat;

  @include media($medium-screen) {
    width: 80px;
    height: 80px;
  }

  .home & {
    @include media($medium-screen + 20em) {
      width: 120px;
      height: 120px;
      margin: 15px 0 -10px;
    }
  }
}

#page-title {
  display: inline-block;
  position: relative;
  top: 9px;
  left: 8px;
  width: 180px;
  height: 35px;
  font-size: .9em;
  line-height: 30px;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  @include media(em(480)) {
    width: 350px;
  }

  @include media(em(530)) {
    width: 410px;
  }
  
  @include media($medium-screen) {
    top: 10px;
    font-size: 1.2em;
    padding-top: 13px;
    width: 490px;
    height: 65px;
    line-height: 50px;
  }

  @include media($medium-screen + 20em) {
    width: 360px;
  }

  @include media($medium-screen + 26em) {
    width: 450px;
  }

  .home & {
    @include media($medium-screen + 20em) {
      font-size: 1.5em;
      width: 460px;
      padding-top: 0;
    }
  }
}

#page-title .page-subheader {
  display: none;

  @include media($medium-screen + 20em) {
    display: inline;
    font-size: .7em;
    font-weight: normal;
    float: left;
    color: #727272;
  }
}

#page-search {
  position: relative;
  top: -120px;
  height: 0;
  @include transition(all 0.25s ease-in-out);

  @include media($medium-screen + 20em) {
    top: -10px;
    height: auto;
    @include outer-container();
  }
}

.search-box {
  position: absolute;
  top: 0;
  max-height: 50px;
  width: 100%;
  padding-right: 50px;
  padding-left: 1em;

  @include media($medium-screen) {
    top: -17px;
  }

  @include media($medium-screen + 20em) {
    right: 0;
    top: -46px;
    width: 500px;
    padding-right: 1em;
  }

  @include media($medium-screen + 20em) {
    .home & {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: 600px;
      margin: 0 auto;
      padding-left: 135px
    }
  }

  @include media($x-large-screen + 10em) {
    &.is-fixed {
      position: fixed;
      z-index: 7;
      top: 11px;
    }
  }
}

.search-dropdown {
  @include transition(all 0.25s ease-in-out);
  text-align: center;
  display: inline-block;
  float: left;
  width: 15%;
  border-right: 1px solid #e3e3e3;
  height: 33px;
  font-size: .8em;
  background: #f4f4f4;
  border-radius: $base-border-radius 0 0 $base-border-radius;
  color: #a1a1a1;
  line-height: 2.7;

  &:hover {
    color: black;
  }

  @include media(em(480)) {
    width: 10%;
  }

  @include media($medium-screen) {
    height: 40px;
    line-height: 3.2;
  }
}

.search-options {
  @include transition(all 0.25s ease-in-out);
  background: #e9e9e9;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  position: absolute;
  z-index: 5;
  top: 33px;
  left: 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  a,
  label {
    padding: 0 .75em .5em;
    display: block;
    margin: 0;
    font-size: .8em;
    font-weight: normal;
  }

  li:nth-child(1),
  li:nth-child(3) {
    border-bottom: #d4d4d4 1px solid;
    margin-left: .75em;

    label {
      padding-left: 0;
    }
  }

  li:nth-child(2),
  li:nth-child(4) {
    border-bottom: #d4d4d4 1px solid;
  }

  label:first-child {
    padding-top: .5em;
  }

  a {
    padding: .5em .75em;

    &:hover {
      background: $blue;
      color: white;
    }
  }

  input[type="radio"] {
    float: right;
    margin: 4px 4px 0 10px;
  }

  @include media($medium-screen) {
    top: 40px;
  }

  @include media($medium-screen + 20em) {
    .home & {
      left: 135px;
    }
  }

}

.search-box.options-visible {
  .search-options {
    opacity: 1;
    max-height: 200px;
  }

  .search-dropdown {
    background: #e9e9e9;
    border-radius: $base-border-radius 0 0 0;
  }
}

@include media(max-width $medium-screen + 20em) {
  .options-visible .search-options {
    opacity: 0 !important;
    max-height: 0 !important;
  }

  .search-is-visible .options-visible .search-options {
    opacity: 1 !important;
    max-height: 200px !important;
  }
}

.search-box input[type="text"] {
  float: left; 
  background: #f4f4f4;
  box-shadow: none;
  border: none;
  border-radius: 0 $base-border-radius $base-border-radius 0;
  -webkit-appearance: none;
  width: 85%;
  font-size: .9em;
  padding-top: .6em; 
  padding-bottom: .6em;
  height: 33px;

  @include media(em(480)) {
    width: 90%;
  }

  @include media($medium-screen) {
    height: 40px;
  }
}

.search-box input[type="submit"] {
  width: 10%;
  height: 34px;
  text-indent: -999em;
  background: $red url('../images/search-2.svg') center no-repeat;
  background-size: 15px auto;
  float: left;
  box-shadow: none;
  border: none;
  border-radius: $base-border-radius;
  -webkit-appearance: none;
  position: absolute;
  right: 53px;
  top: 3px;

  @include media($medium-screen + 20em) {
    right: 1.2em;
  }
}

.go-primary {
  position: absolute;
  right: 1em;
  top: 0;
  text-indent: -999em;
  background: url('../images/close.svg') right 10px no-repeat;
  background-size: 15px auto;
  width: 10%;
  height: 40px;
  padding: 0;

  @include media($medium-screen) {
    top: -21px;
  }

  @include media($medium-screen + 20em) {
    display: none; 
  }
}

.search-is-visible #page-search {
  top: -38px;
}

#page-tertiary {
  display: none;
  @include outer-container;
  @extend %container;
  text-align: right;

  @include media($medium-screen + 20em) {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    
    li {
      display: inline-block;
      
      a {
        font-size: .7em;
        color: #727272;
        margin-left: 1em;
        position: relative;
        top: .25em;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.go-search {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -999em;
  background: $medium-gray;
  float: right;
  margin-top: 7px;
  background: url('../images/search.svg') center right no-repeat;
  background-size: 20px auto;

  @include media($medium-screen) {
    margin-top: 26px;
  }

  @include media($medium-screen + 20em) {
    display: none;
  }
}

// Ribbons

#ribbon {
  background: $red;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  z-index: 4;

  .ribbon-type { z-index: 7; }
  .ribbon-jurisdiction { z-index: 6; }
  .ribbon-database { z-index: 5; }
  .ribbon-year { z-index: 4; }
  .ribbon-letter { z-index: 3; }

  .ribbon-type a {
    padding-left: .5em;
  }

  span {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  @include media($medium-screen) {
    overflow: auto;
    overflow-y: hidden;
  }

  span {
    display: block;
    color: #ffaea9;
  
    @include media(max-width $medium-screen) {
      display: none;
    }
  }

  ul {
    min-width: 370px;
    white-space: nowrap;

    @include media($medium-screen) {
      min-width: 850px;
    }
  }

  li, a {
    display: inline-block;
    color: white;
  }

  a {
    padding: .5em .5em .5em 1em;
    position: relative;
    font-size: .9em;
    margin-left: -4px;

    @include media($medium-screen) {
      padding: .5em 1.5em .5em 1.5em;
    }
  }

  .is-selected a {
    background: lighten($red, 10);
  }

  .ribbon-document.is-selected a {
    background: $red;
  }

  .is-selected:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 10px 10px 0 10px;
    position: absolute;
    border-color: transparent transparent transparent transparent; // the first one
    bottom: -5px;
    left: 40%; 
    z-index: 2;
  }

  li {
    position: relative;
  }

  li:first-child a {
    padding-left: 1em;
  }

  li:last-child a:before,
  li:last-child a:after {
    display: none;
  }

  a:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 20px 0 20px 7px;
    position: absolute;
    border-color: transparent transparent transparent #d82d21; 
    top: 0;
    right: -7px;

    @include media($medium-screen) {
      border-width: 32px 0 32px 7px;
    }
  }

  a:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 20px 0 20px 7px;
    position: absolute;
    border-color: transparent transparent transparent $red;
    top: 0;
    right: -6px;

    @include media($medium-screen) {
      border-width: 32px 0 32px 7px;
    }
  }

  .is-selected a:after {
    border-color: transparent transparent transparent lighten($red, 10);
  }

  .home & {
    a:after,
    a:before {
      display: none;
    }

    @include media($medium-screen) {
      a {
        padding: .5em 1em;
      }
    }

    @include media($medium-screen + 20em) {
      text-align: center;

      a {
        padding: 1em;
        font-size: 1em;
      }
    }
  }
}

// Panels

#panels {
  background: $panel-bg;
  position: relative;
  z-index: 1;
  font-size: .8em;
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 70px;
  @include transition(all 0.25s ease-in-out);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);

  @include media($medium-screen) {
    overflow: auto;
    overflow-y: hidden;
  }
 
  li, a {
    display: inline-block;
    color: white;
  }

  li {
    padding: 1em 0 1em 1em;
  }

  a,
  #panel-year li  div {
    padding: 1.1em 1em .3em;
    background: $panel-fg;
    border-radius: $base-border-radius;
  }

  #panel-year li  div {
    padding: 1em 1em .7em;
  }

  p {
    color: #c5c4c4;
    margin: -5px 0 .7em;
  }

  .is-selected a {
    background: white;
    color: $panel-bg;
  }

  & > div {
    @include transition(all 0.25s ease-in-out);
    max-height: 0;
    opacity: 0;
    position: relative;
  }

  &.is-type {
    height: 90px;

    ul {
      min-width: 1000px;
    }

    @include media($medium-screen) {
      height: 105px;

      ul {
        min-width: 1300px;
      }
    }
    
    #panel-type {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-jurisdiction {
    ul {
      min-width: 850px;
    }

    #panel-jurisdiction {
      max-height: 100px;
      opacity: 1;
      z-index: 10;

      @include media($medium-screen + 20em) {
        .home & {
          text-align: center; 
        }
      }
    }
  }

  &.is-closed {
    height: 0;
    min-height: 0;
  }

  &.is-year {
    height: 80px;

    @include media($medium-screen) {
      height: 80px;
    }

    ul {
      min-width: 600px;
    }

    #panel-year {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-letter {
    height: 70px;

    @include media($medium-screen) {
      height: 80px;
    }

    ul {
      min-width: 1350px;
    }

    #panel-letter {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  #panel-year {
    h5 {
      display: inline-block;
    }

    .year-specific-dropdown,
    .year-range-dropdown-1,
    .year-range-dropdown-2 {
      padding: .2em .5em;
      margin-left: .7em;
      display: inline-block;
      background: #434343;
      border: 2px solid #575757;
      color: white;

      &.is-selected {
        background: white;
        color: $base-font-color;
        border-color: #ddd;
      }

      &:after {
        content: '▼';
        color: #858585;
        font-size: .8em;
        margin-left: .5em;
      }
    }

    .button {
      background: $red;
      color: white;
      padding: .2em .5em;
      border: 2px solid $red;
      margin-left: .7em;

      &:hover {
        background: lighten($red, 10);
        border: 2px solid lighten($red, 10);
      }
    }
  }
}

.year-options-list {
  background: $panel-fg;
}

.year-options {
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  @include transition(all 0.5s ease-in-out);

  &.is-visible {
    opacity: 1;
    max-height: 700px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: .8em 1em;
    background: darken($panel-fg, 10);
    border-radius: $base-border-radius;
    margin: .5em 1em 0 0;
    color: white;
    font-size: .8em;

    &:hover {
      background: lighten($panel-fg, 10);
    }
  }
}

// Page Main

#page-main {
  @include media(max-width $medium-screen) {
    padding: 0;    
  }

  @include media($large-screen) {
    @include span-columns(8.5);
  }

  .database & {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($large-screen) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

#page-sort {
  padding: .5em 1em;

  @include media($medium-screen) {
    padding: .5em 0;
  }

  li, a {
    display: inline-block;
  }

  a {
    padding: .25em .75em;
    font-size: .9em;
    color: #989898;
    @include transition(all 0.25s ease-in-out);

    &:hover {
      color: darken(#989898, 25);
    }
  }

  & > ul > li:first-child a {
    padding-left: 0;
  }

  .selected a,
  .selected:first-child a {
    color: darken($blue, 10);
    padding: .25em .75em;
    background: #c6e0f0;
    border-radius: $base-border-radius; 
    margin-right: 5px;
  }

  .sort-options {
    .more-qld,
    .more-sa,
    .more-tas,
    .more-vic,
    .more-wa,
    .more-ni,
    .more-nz {
      display: none;
    }
  }

  @include media(max-width em(390)) { .sort-qld { display: none; } .sort-options .more-qld { display: inline; }}
  @include media(max-width em(420)) { .sort-sa  { display: none; } .sort-options .more-sa  { display: inline; }}
  @include media(max-width em(470)) { .sort-tas { display: none; } .sort-options .more-tas { display: inline; }}
  @include media(max-width em(520)) { .sort-vic { display: none; } .sort-options .more-vic { display: inline; }}
  @include media(max-width em(560)) { .sort-wa  { display: none; } .sort-options .more-wa  { display: inline; }}
  @include media(max-width em(680)) { .sort-ni  { display: none; } .sort-options .more-ni  { display: inline; }}
  @include media(max-width em(790)) { .sort-nz  { display: none; } .sort-options .more-nz  { display: inline; }}

  .sort-more {
    & > a {
      @include transition(all 0.25s ease-in-out);
    }

    & > a:after {
      content: '▼';
      font-size: .6em;
      color: #aaa;
      margin-left: .5em;
    }
  }

  .sort-options {
    @include transition(all 0.25s ease-in-out);
    background: #e3e3e3;
    border-radius: 0 $base-border-radius $base-border-radius $base-border-radius;
    position: absolute;
    z-index: 5;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    @include media(max-width $medium-screen) {
      margin-left: -25px;
    }

    li, a {
      display: block;
    }

    a {
      @include transition(all 0 ease-in-out);
      padding: .5em .75em;
      font-weight: normal;
      border-bottom: #d4d4d4 1px solid;
      color: #838383;

      &:hover {
        background: $blue;
        border-color: darken($blue, 5);
        color: white;
      }
    }

    li:last-child a {
      border: none;
    }
  }

  &.options-visible {
    .sort-options {
      opacity: 1;
      max-height: 500px;
    }

    .sort-more > a {
      background: #e3e3e3;
      border-radius: $base-border-radius $base-border-radius 0 0;
      color: #838383;
    }
  }
}

.card {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;

  @include media($medium-screen) {
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    border-radius: $base-border-radius;
  }

  a:hover {
    text-decoration: underline;
  }

  &.card-double {
    @include media($medium-screen) {
      @include span-columns(6);

      &.omega {
        @include omega;
      }
    }
  }
}

.card-group {
  @include row;
}

.card-title {
  padding: .25em 1em 0;
  clear: both;
  color: #989898;
  font-weight: normal;

  &.card-title-large {
    font-size: 1.2em;
    padding: .5em .8em 0;
    color: #565656;
    font-weight: bold;
  }

  @include media(max-width $medium-screen) {
    &:first-child {
      padding-top: 1.5em;
    }
  }
}

.card a {
  padding: .7em 1em;
  display: block;
  font-size: .9em;
}

.card li:nth-child(2n) a {
  background: #f6fafd;
  border-top: #eaf0f6 1px solid;
  border-bottom: #eaf0f6 1px solid;
}

// Page Side

#page-side {
  display: none;

  @include media($large-screen) {
    margin-top: .8em;
    display: block;
    @include span-columns(3);
    @include shift(0.5);

    .side-element {
      font-size: .8em;
    }
  }
}

.side-element {
  position: relative;
  padding-left: 3em;
  margin-bottom: 2em;

  h4 {
    font-size: 1.3em;
    font-weight: normal;
    padding-top: 2px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background: #ddd;
  }

  a {
    margin-bottom: .3em;
    display: block;
    color: $base-font-color;
  }

  .contribute-now a,
  a:hover {
    color: $blue;
  }
}

// Page Content

#page-content { 
  position: relative;
  z-index: 1; 
  @include outer-container;

  @include media($medium-screen) {
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

// Document

.document {
  background: white;

  #page-main {
    @include media($x-large-screen) {
      @include span-columns(7);
      @include shift(2.5);
    }
  } 

  #page-side {
    margin-top: 3em;

    @include media($x-large-screen) {
      @include span-columns(2);
      @include shift(0.5);
    }
  }

  .the-document { 
    line-height: 1.7;
    @extend %container;

    header {
      @include media($medium-screen) {
        text-align: center;
      }
    }

    h1 {
      padding: 2em 0 1em;

      @include media($medium-screen) {
        font-size: 1.5em;
        display: block;
        padding: 2em 0 1em;
      }
    }
  }
}

.all-section {
  max-height: 4000px;
  overflow: hidden;
  opacity: 1;
  @include transition(all .5s ease-in-out);
  padding-bottom: 4em;
}

.all-section.is-hidden {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
}
