---
---
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
  
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';

@media screen {
  @import 'layout/global';
  @import 'layout/header';
  @import 'layout/search';
  @import 'layout/tertiary';
  @import 'layout/ribbons';
  @import 'layout/panels';
  @import 'layout/main';
  @import 'layout/card';
  @import 'layout/side';
  @import 'layout/document';
  @import 'layout/closing';

  @import 'pages/database_all';
  @import 'pages/adv_search';
  @import 'pages/personnel';
}

@media print {
  @import 'layout/print';
}

// Things that can't live inside a @media

// General hide rule
.hide {
  display: none;
}

// Buttons
#page-content .button {
  @extend button;
  font-weight: normal;
}

// Inline PDFs get a 'card' wrapper
.document {
  embed {
    @extend .card;
  }
}

// Hero

.has-hero #page-main {
  padding-top: 3em;
}

.page-hero {
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  display: table;

  header {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.6em;
    color: white;
    text-shadow: 0 3px 20px rgba(0,0,0,.25);
  }

  h1 {
    margin: 0 auto;
    max-width: 30em;
    @extend %container;
  }
}

code {
  display: block;
  margin-bottom: 1em;
}

.document .the-document .faq-title {
  margin-bottom: 1em;
}

.document .the-document .faq-answer {
  padding-bottom: 1em;
  margin-bottom: 1.75em;
  border-bottom: $base-border;

  &:last-child {
    border: none;
  }
}

.document .the-document h3 {
  color: $red;
  margin-top: 0;
  padding-top: 0;
}

.document .faq-title a,
.document .faq-answer h3 a {
  font-weight: normal;
  text-decoration: none;
  text-align: right;
  color: $medlight-gray;

  &:hover {
    color: $blue;
  }

  @include media($x-large-screen + 10em) {
    position: absolute;
    margin-left: -40px;
    width: 30px;
  }
}
