---
---
@import 'source-sans-pro';
@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';

@import 'layout/mixins';
@import 'layout/global';
@import 'layout/header';
@import 'layout/search';
@import 'layout/contribute';
@import 'layout/tertiary';
@import 'layout/ribbons';
@import 'layout/panels';
@import 'layout/main';
@import 'layout/card';
@import 'layout/side';
@import 'layout/document';
@import 'layout/closing';

@import 'layout/contributors';
@import 'pages/database_all';
@import 'pages/adv_search';
@import 'pages/personnel';

@import 'video-js';

// Things that can't live inside a @media

// General hide rule
.hide { display: none; }

// Buttons
#page-content .button,
.select-pages select,
.sort-item.prev a,
.sort-item.next a {
  @extend button;
  font-weight: normal;
}

// Inline PDFs get a 'card' wrapper
.document {
  embed {
    @extend .card;
  }
}

// Hero

/*.has-hero #page-main {
  padding-top: 3em;
}

.page-hero {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 150%;
  text-align: center;
  display: table;

  @include media($medium-screen) {
    height: 450px;
    background-size: cover;
  }

  header {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    color: white;
    text-shadow: 0 3px 20px rgba(0,0,0,.25);

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h1 {
    margin: 0 auto;
    max-width: 30em;
    @extend %container;
  }
}*/

code {
  display: block;
  margin-bottom: 1em;
}

.document .the-document .faq-title {
  margin-bottom: 1em;
}

.document .the-document .faq-answer {
  padding-bottom: 1em;
  margin-bottom: 1.75em;
  border-bottom: $base-border;

  &:last-child {
    border: none;
  }
}

.document .the-document h3 {
  color: $red-type;
  margin-top: 0;
  padding-top: 0;
}

.document .faq-title a,
.document .faq-answer h3 a {
  font-weight: normal;
  text-decoration: none;
  text-align: right;
  color: $medlight-gray;

  &:hover {
    color: $blue;
  }

  @include media($x-large-screen + 10em) {
    position: absolute;
    margin-left: -40px;
    width: 30px;
  }
}


// Contact

.contact {
  h1 { display: none; }

  #offices {
    @include media($medium-screen) { @include span-columns(6); }
    @include media($x-large-screen) { @include span-columns(4.75); }
  }

  #mailing {
    @include media($medium-screen) { @include span-columns(6); @include omega ;}
    @include media($x-large-screen) { @include span-columns(4.25); }
  }

  #phone {
    @include media($medium-screen) { @include span-columns(12); }
    @include media($x-large-screen) { @include span-columns(3); }

    ul { padding: 0; }

    li {
      list-style: none;
      margin: 0;
    }
  }
}


// User Guides

.panel {
  background: $light-gray;
  border: $base-border;
  padding: 1em 1em .5em;
}

.tile-list {
  @include row;

  .document .the-document & { padding: 0; }

  li {
    @include media(min-width em(480) max-width $medium-screen) {
      @include span-columns(6);
      &:nth-child(2n) { @include omega; }
    }

    @include media(min-width $medium-screen max-width $large-screen) {
      @include span-columns(4);
      &:nth-child(3n) { @include omega; }
    }

    @include media(min-width $large-screen max-width $x-large-screen) {
      @include span-columns(6);
      &:nth-child(2n) { @include omega; }
    }

    @include media($x-large-screen) {
      @include span-columns(4);
      &:nth-child(3n) { @include omega; }
    }
  }
}
