---
---
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

@import 'normalize';
@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'base/base';
@import 'neat/neat';
@import 'layout/global';
@import 'layout/header';
@import 'layout/search';
@import 'layout/tertiary';
@import 'layout/ribbons';
@import 'layout/panels';
@import 'layout/main';
@import 'layout/card';
@import 'layout/side';
@import 'layout/document';
@import 'pages/database_all';

.document .closing {
  border-top: 1px solid $base-border-color;
}

.closing {
  background: white;
  margin-top: 2em;
  padding-top: 3em;
  padding-bottom: 3em;

  .inner {
    @extend %container;

    @include media($large-screen) {
      background: url('../images/logo-mono.svg') no-repeat right center;
      background-size: 55px;
    }
  }

  li {
    @include media($medium-screen) {
      display: inline-block;
    }
  }

  small {
    opacity: .5;
  }
}

.closing-primary a {
  margin: 0 1em .5em 0;
  display: inline-block;
}

.closing-tertiary a {
  font-size: .8em;
  margin: 0 1em .5em 0;
  display: inline-block;
  color: $base-font-color;
}

.home .closing {
  text-align: center;

  .inner {
    background: url('../images/falm.svg') center top no-repeat;
    background-size: 45px;
    padding-top: 55px;
  }
}

.home-2 .closing {
  text-align: center; 

  .inner {
    background: transparent;
  }

  a {
    background: url('../images/closing.png');
    display: inline-block;
    height: 40px; 
    text-indent: -999em;
    text-align: left;
  }

  .altlaw a {
    background-position: 0 0;
    width: 62px;
  }

  .asianlii a {
    background-position: -78px -8px;
    width: 39px;
  }

  .austlii a {
    background-position: -132px -8px;
    width: 34px;
  }

  .bailii a {
    background-position: -181px -6px;
    width: 31px;
  }

  .canlii a {
    background-position: -225px -4px;
    width: 72px;
  }

  .cardiffuni a {
    background-position: -313px -6px;
    width: 39px;
  }

  .commonlii a {
    background-position: -368px -4px;
    width: 45px;
  }

  .cylaw a {
    background-position: -425px -2px;
    width: 80px;
  }

  .droit a {
    background-position: -521px -2px;
    width: 80px;
  }

  .glin a {
    background-position: -613px -2px;
    width: 67px;
  }

  .hklii a {
    background-position: -693px -2px;
    width: 42px;
  }

  .idt a {
    background-position: -753px -4px;
    width: 42px;
  }

  .unam a {
    background-position: -810px -4px;
    width: 35px;
  }

  .iijusticia a {
    background-position: -858px -2px;
    width: 65px;
  }

  .irlii a {
    background-position: -936px -2px;
    width: 46px;
    height: 44px;
  }

  .ittig a {
    background-position: -991px -2px;
    width: 46px;
  }

  .jerseylaw a {
    background-position: -1049px -5px;
    width: 74px;
  }

  .jips a {
    background-position: -1138px -2px;
    width: 28px;
  }

  .juriburkina a {
    background-position: -1184px -4px;
    width: 73px;
  }

  .juriniger a {
    background-position: -1265px -3px;
    width: 76px;
  }

  .eklr a {
    background-position: -1351px -3px;
    width: 65px;
  }

  .ksl a {
    background-position: -1427px -4px;
    width: 41px;
  }

  .klri a {
    background-position: -1481px -4px;
    width: 85px;
  }

  .lawphil a {
    background-position: -1584px -4px;
    width: 117px;
  }

  .lexum a {
    background-position: -1725px -4px;
    width: 77px;
  }

  .cornell a {
    background-position: -1817px -4px;
    width: 68px;
  }

  .liiofindia a {
    background-position: -1906px -6px;
    width: 38px;
  }

  .malawilii a {
    background-position: -1964px -6px;
    width: 52px;
  }

  .nzlii a {
    background-position: -2029px -8px;
    width: 35px;
  }

  .paclii a {
    background-position: -2080px -4px;
    width: 27px;
  }

  .saflii a {
    background-position: -2122px -4px;
    width: 45px;
  }

  .tlrc a {
    background-position: -2183px -6px;
    width: 33px;
  }

  .ulii a {
    background-position: -2230px -6px;
    width: 51px;
  }

  .worldlii a {
    background-position: -2295px -6px;
    width: 34px;
  }
}

// Advanced Search

.search {
  .card {
    .multi {
      @include row;
      padding: 1em;

      h6 {
        @include span-columns(3);
        font-weight: normal;
      }

      div {
        @include span-columns(9);
      }

      input {
        margin-bottom: 0;

        background: #f4f4f4;
        box-shadow: none;
        border: none;
        border-radius: $base-border-radius;
        -webkit-appearance: none;
        font-size: .9em;
        height: 33px;
      }

      &:nth-child(2n) input {
        background: #EBEEF1;
      }

      p {
        margin-bottom: 0;
        font-size: .9em;
        opacity: .7;
      }
    }
  }
}

#page-content .button {
  @extend button;
  font-weight: normal;
  margin: 0 0 2em 1em;
}


@media print {
  #page-search,
  #page-tertiary,
  #ribbon,
  #panels,
  #page-sort,
  .year-options-list,
  .closing-primary,
  .closing-tertiary,
  #page-side,
  #page-index {
    display: none !important;
  }
}

.search {
  #panels.card {
    border-color: black;
    margin-bottom: 0;
    height: 98px;
    overflow: hidden;

    a:hover {
      text-decoration: none;
    }
  }

  #panels.is-year ul {
    min-width: 100%; 
  }

  .year-options-list {
    margin-bottom: 2em;
    margin-top: -2px;
  }
}

// Personnel

.personnel-list {
  @include row;
}

.person {
  @include media($medium-screen) {
    @include span-columns(6);
    padding: 1em;

    &:nth-child(2n-1) {
      clear: left;
    }

    &:nth-child(2n) {
      @include omega;
    }
  }

  img {
    margin-bottom: .5em;
  }

  .email, .phone, .website {
    background: #eee;
    border-radius: $base-border-radius;
    padding: .25em .5em;
    margin-bottom: 1em;
    font-size: .8em;
    display: inline-block;

    &:hover {
      text-decoration: none !important;
      background: $blue;
      color: white;
    }
  }

  p {
    font-size: .875em;
    line-height: 1.4;
  }

  h3 span {
    font-weight: 400;
  }

  h4 {
    font-weight: 400;
    color: #888;
  }
}
