<footer class="closing">
  <div class="inner">
    {% if page.class == 'home' %}
    <p>AustLII participates in the <a href="">Free Access to Law Movement</a>.</p>
    {% elsif page.class contains 'home-2' %}
    <p>AustLII participates in the free access to law movement, a grouping of the following organisations:</p>

    <ul>
      <li class="altlaw"><a href="#">AltLaw</a></li>
      <li class="asianlii"><a href="#">AsianLII</a></li>
      <li class="austlii"><a href="#">AustLII</a></li>
      <li class="bailii"><a href="#">BaiLII</a></li>
      <li class="canlii"><a href="#">CanLII</a></li>
      <li class="cardiffuni"><a href="#">Cardiff University</a></li>
      <li class="commonlii"><a href="#">CommonLII</a></li>
      <li class="cylaw"><a href="#">CyLaw</a></li>
      <li class="droit"><a href="#">Droit</a></li>
      <li class="glin"><a href="#">GLIN</a></li>
      <li class="hklii"><a href="#">HKLII</a></li>
      <li class="idt"><a href="#">IDT</a></li>
      <li class="unam"><a href="#">UNAM</a></li>
      <li class="iijusticia"><a href="#">IIJusticia</a></li>
      <li class="irlii"><a href="#">IRLII</a></li>
      <li class="ittig"><a href="#">ITTIG</a></li>
      <li class="jerseylaw"><a href="#">JerseyLaw</a></li>
      <li class="jips"><a href="#">JIPS</a></li>
      <li class="juriburkina"><a href="#">JuriBurkina</a></li>
      <li class="juriniger"><a href="#">JuriNiger</a></li>
      <li class="eklr"><a href="#">eKLR</a></li>
      <li class="ksl"><a href="#">KSL</a></li>
      <li class="klri"><a href="#">KLRI</a></li>
      <li class="lawphil"><a href="#">LawPhil</a></li>
      <li class="lexum"><a href="#">Lexum</a></li>
      <li class="cornell"><a href="#">Cornell</a></li>
      <li class="liiofindia"><a href="#">LIIofIndia</a></li>
      <li class="malawilii"><a href="#">MalawiLII</a></li>
      <li class="nzlii"><a href="#">NZLII</a></li>
      <li class="paclii"><a href="#">PacLII</a></li>
      <li class="saflii"><a href="#">SafLII</a></li>
      <li class="tlrc"><a href="#">TLRC</a></li>
      <li class="ulii"><a href="#">ULII</a></li>
      <li class="worldlii"><a href="#">WorldLII</a></li>
    </ul>
    {% else %}
    <!--<ul class="closing-primary">
      <li><a href="database-all.html">All Databases</a></li>
      <li><a href="database-cases.html">Cases &amp; Legislation</a></li>
      <li><a href="database-journals.html">Journals &amp; Scholarships</a></li>
      <li><a href="database-treaties.html">Treaties</a></li>
      <li><a href="database-libraries.html">Libraries</a></li>
      <li><a href="#">LawCite</a></li>
    </ul>-->

    <ul class="closing-tertiary">
      <li><a href="about.html">About</a></li>
      <li><a href="#">Copyright</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Disclaimers</a></li>
      <li><a href="#">Help</a></li>
    </ul>

    <small>http://www.austlii.edu.au{{ page.url }}</small>
    {% endif %}
  </div>
</footer>
