<!-- Search box

Filters search box at the top of database search pages. Should be included 
right after the opening form tag.

'Results' is a class added to database pages, which exposes the ability
to search just by that database.

'Searchable' is a page variable which indicates the page has checkboxes
on it - the search box has a radio button for selecting we only search
the checked areas.

'Extra search' is for those rare extra options found in pages like the
Aviation Law Association library database.
-->


  <div id="page-search" class="filters-search">
    <h2 class="hide">Search AustLII</h2>
    <div class="search-box">
      <a class="search-dropdown" href="javascript:void(0);">&#9660;</a> 

      <fieldset>
        <legend>Search Options</legend>
        <ul class="search-options">
          {% if page.class contains 'results' %}
            <li><label for="database-all">All databases <input type="radio" name="search-database" id="database-all" checked tabindex="2"></label></li>
            <li><label for="database-this">This database only <input type="radio" name="search-database" id="database-this" tabindex="3"></label></li>
          {% endif %}

          {% if page.searchable == true %}
            <li><label for="database-selected">Selected databases <input type="radio" name="search-filter" checked tabindex="4"></label></li>
            <li><label for="database-all">All databases <input type="radio" name="search-filter" id="database-all" tabindex="5"></label></li>
          {% endif %}

          <li><label for="database-full">Full text <input type="radio" name="search-text" id="database-full" checked tabindex="6"></label></li>
          <li><label for="database-title">Titles only <input type="radio" name="search-text" id="database-title" tabindex="7"></label></li>

          <li class="advanced-search"><a href="search.html" tabindex="8">Advanced Search…</a></li>
        </ul>
      </fieldset>

      <label for="search-box" class="hide">Search term:</label>
      {% if page.class contains 'home' %} 
      <input id="search-box" type="text" placeholder="Search all databases" tabindex="9">
      {% elsif page.searchable == true %}
      <input id="search-box" type="text" placeholder="Search selected databases" tabindex="9">
      {% elsif page.class contains 'results search' %}
      <input id="search-box" type="text" placeholder="Search AustLII" value="Test" tabindex="9">
      {% else %}
      <input id="search-box" type="text" placeholder="Search AustLII" tabindex="9">
      {% endif %}
      <a href="javascript:void(0);" class="search-box-clear hide">&times;</a>
      <input type="submit" value="Search" tabindex="9">

      {% if page.extra-search == true %}
      <div class="extra-search">
        <label for="extra-database"><input type="radio" name="extrasearch2" id="extra-database" checked>Databases</input></label> 
        <label for="extra-catalog"><input type="radio" name="extrasearch2" id="extra-catalog">Catalog &amp; Websearch</label> 
        <label for="extra-google"><input type="radio" name="extrasearch2" id="extra-google">Law on Google</label></div>
      {% endif %}
    </div>
    <a class="go-primary" href="#">Close</a>
  </div>
