<!-- Search box

Filters search box at the top of database search pages. Should be included 
right after the opening form tag.

'Results' is a class added to database pages, which exposes the ability
to search just by that database.

'Searchable' is a page variable which indicates the page has checkboxes
on it - the search box has a radio button for selecting we only search
the checked areas.

'Extra search' is for those rare extra options found in pages like the
Aviation Law Association library database.
-->


  <div id="page-search" class="filters-search">
    <h2 class="hide">Search AustLII</h2>
    <div class="search-box">
      <fieldset>
        <legend>Search Options</legend>
        <div class="search-dropdown is-hidden" id="search-dropdown">
          <div class="search-dropdown-loader is-hidden" id="search-dropdown-suggestions-loader"></div>
          <ul class="search-dropdown-suggestions is-hidden" id="search-dropdown-suggestions"></ul>
          <ul class="search-dropdown-databases" id="search-dropdown-databases">
            <li>
              <span>
                Search <strong>My search history</strong> in all databases
              </span>
              <label for="database-all">
                <input type="radio" name="search-filter" id="database-all" checked>
                All databases
              </label>
            </li>
            {% if page.class contains 'home' %}
              <li>
                <span>
                  Search <strong>My search history</strong> in all databases in 2018
                </span>
                <label for="database-all-year">
                  <input type="radio" name="search-filter" id="database-all-year">
                  All databases in 2018
                </label>
              </li>
            {% endif %}
            {% if page.searchable == true %}
              <li>
                <span>
                  Search <strong>My search history</strong> in selected databases
                </span>
                <label for="database-selected">
                  <input type="radio" name="search-filter" id="database-selected">
                  Selected databases
                </label>
              </li>
            {% endif %}
            {% if page.class contains 'results' %}
              <li>
                <span>
                  Search <strong>My search history</strong> in this database only
                </span>
                <label for="database-this">
                  <input type="radio" name="search-filter" id="database-this">
                  This database
                </label>
              </li>
              <li>
                <span>
                  Search <strong>My search history</strong> in this database in 2018
                </span>
                <label for="database-this-year">
                  <input type="radio" name="search-filter" id="database-this-year">
                  This database in 2018
                </label>
              </li>
            {% endif %}
          </ul>
          <ul class="search-dropdown-options">
            <li>
              <label for="database-full">
                <input type="radio" name="queryType" value="fullText" id="database-full" checked>
                Full text
              </label>
            </li>
            <li>
              <label for="database-title">
                <input type="radio" name="queryType" value="titlesOnly" id="database-title">
                Titles only
              </label>
            </li>
            <li>
              <a href="search-tabbed.html" tabindex="8">Advanced Search…</a>
            </li>
          </ul>
        </div>
      </fieldset>

      <label for="search-box" class="hide">Search term:</label>
      {% if page.class contains 'home' %} 
      <input id="search-box" type="text" name="searchText" placeholder="Search all databases" tabindex="9">
      {% elsif page.searchable == true %}
      <input id="search-box" type="text" name="searchText" placeholder="Search selected databases" tabindex="9">
      {% elsif page.class contains 'results search' %}
      <input id="search-box" type="text" name="searchText" placeholder="Search AustLII" value="Test" tabindex="9">
      {% else %}
      <input id="search-box" type="text" name="searchText" placeholder="Search AustLII" tabindex="9">
      {% endif %}
      <div class="search-box-controls">
        <a href="javascript:void(0);" class="search-box-clear hide">&times;</a>
        <input type="submit" value="Search all" tabindex="9">
      </div>

      {% if page.extra-search == true %}
      <div class="extra-search">
        <label for="extra-database"><input type="radio" name="extrasearch2" id="extra-database" checked>Databases</input></label> 
        <label for="extra-catalog"><input type="radio" name="extrasearch2" id="extra-catalog">Catalog &amp; Websearch</label> 
        <label for="extra-google"><input type="radio" name="extrasearch2" id="extra-google">Law on Google</label></div>
      {% endif %}
    </div>
    <a class="go-primary" href="#">Close</a>
  </div>
