{% if page.class contains 'results' %}
{% unless page.class contains 'country' or page.class contains 'subject' %}
  <div id="pagination-sort">
    <ul>
      <li class="prev"><a href="javascript:void(0)">Previous</a></li>
      <li class="selected"><a href="javascript:void(0)">3</a></li>
      <li><a href="javascript:void(0)">4</a></li>
      <li><a href="javascript:void(0)">5</a></li>
      <li><a href="javascript:void(0)">6</a></li>
      <li><a href="javascript:void(0)">7</a></li>
      <li><a href="javascript:void(0)">8</a></li>
      <li class="next"><a href="javascript:void(0)">Next</a></li>
    </ul>

    <div class="select-pages">
      <select>
        <option>50 results per page</option>
        <option>100 results per page</option>
        <option>250 results per page</option>
        <option>500 results per page</option>
      </select>
    </div>
  </div>
{% endunless %}
{% endif %}
