<div class="year-options-list">
  <div class="year-specific-options year-options">
    <ul>
      <li><h5><a href="results.html">2015</a></h5></li>
      <li><h5><a href="results.html">2014</a></h5></li>
      <li><h5><a href="results.html">2013</a></h5></li>
      <li><h5><a href="results.html">2012</a></h5></li>
      <li><h5><a href="results.html">2011</a></h5></li>
      <li><h5><a href="results.html">2010</a></h5></li>
      <li><h5><a href="results.html">2009</a></h5></li>
      <li><h5><a href="results.html">2008</a></h5></li>
      <li><h5><a href="results.html">2007</a></h5></li>
      <li><h5><a href="results.html">2006</a></h5></li>
      <li><h5><a href="results.html">2005</a></h5></li>
      <li><h5><a href="results.html">2004</a></h5></li>
      <li><h5><a href="results.html">2015</a></h5></li>
      <li><h5><a href="results.html">2014</a></h5></li>
      <li><h5><a href="results.html">2013</a></h5></li>
      <li><h5><a href="results.html">2012</a></h5></li>
      <li><h5><a href="results.html">2011</a></h5></li>
      <li><h5><a href="results.html">2010</a></h5></li>
      <li><h5><a href="results.html">2009</a></h5></li>
      <li><h5><a href="results.html">2008</a></h5></li>
      <li><h5><a href="results.html">2007</a></h5></li>
      <li><h5><a href="results.html">2006</a></h5></li>
      <li><h5><a href="results.html">2005</a></h5></li>
      <li><h5><a href="results.html">2004</a></h5></li>
      <li><h5><a href="results.html">2015</a></h5></li>
      <li><h5><a href="results.html">2014</a></h5></li>
      <li><h5><a href="results.html">2013</a></h5></li>
      <li><h5><a href="results.html">2012</a></h5></li>
      <li><h5><a href="results.html">2011</a></h5></li>
      <li><h5><a href="results.html">2010</a></h5></li>
      <li><h5><a href="results.html">2009</a></h5></li>
      <li><h5><a href="results.html">2008</a></h5></li>
      <li><h5><a href="results.html">2007</a></h5></li>
      <li><h5><a href="results.html">2006</a></h5></li>
      <li><h5><a href="results.html">2005</a></h5></li>
      <li><h5><a href="results.html">2004</a></h5></li>
      <li><h5><a href="results.html">2015</a></h5></li>
      <li><h5><a href="results.html">2014</a></h5></li>
      <li><h5><a href="results.html">2013</a></h5></li>
      <li><h5><a href="results.html">2012</a></h5></li>
      <li><h5><a href="results.html">2011</a></h5></li>
      <li><h5><a href="results.html">2010</a></h5></li>
      <li><h5><a href="results.html">2009</a></h5></li>
      <li><h5><a href="results.html">2008</a></h5></li>
      <li><h5><a href="results.html">2007</a></h5></li>
      <li><h5><a href="results.html">2006</a></h5></li>
      <li><h5><a href="results.html">2005</a></h5></li>
      <li><h5><a href="results.html">2004</a></h5></li>
    </ul>
  </div>

  <div class="year-range-1-options year-options">
    <ul>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
    </ul>
  </div>

  <div class="year-range-2-options year-options">
    <ul>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
      <li><h5><a href="#">2015</a></h5></li>
      <li><h5><a href="#">2014</a></h5></li>
      <li><h5><a href="#">2013</a></h5></li>
      <li><h5><a href="#">2012</a></h5></li>
      <li><h5><a href="#">2011</a></h5></li>
      <li><h5><a href="#">2010</a></h5></li>
      <li><h5><a href="#">2009</a></h5></li>
      <li><h5><a href="#">2008</a></h5></li>
      <li><h5><a href="#">2007</a></h5></li>
      <li><h5><a href="#">2006</a></h5></li>
      <li><h5><a href="#">2005</a></h5></li>
      <li><h5><a href="#">2004</a></h5></li>
    </ul>
  </div>


  <div class="date-range-1-options year-options">
    <ul>
      <li><h5><a href="#">1</a></h5></li>
      <li><h5><a href="#">2</a></h5></li>
      <li><h5><a href="#">3</a></h5></li>
      <li><h5><a href="#">4</a></h5></li>
      <li><h5><a href="#">5</a></h5></li>
      <li><h5><a href="#">6</a></h5></li>
      <li><h5><a href="#">7</a></h5></li>
      <li><h5><a href="#">8</a></h5></li>
      <li><h5><a href="#">9</a></h5></li>
      <li><h5><a href="#">10</a></h5></li>
      <li><h5><a href="#">11</a></h5></li>
      <li><h5><a href="#">12</a></h5></li>
      <li><h5><a href="#">13</a></h5></li>
      <li><h5><a href="#">14</a></h5></li>
      <li><h5><a href="#">15</a></h5></li>
      <li><h5><a href="#">16</a></h5></li>
      <li><h5><a href="#">17</a></h5></li>
      <li><h5><a href="#">18</a></h5></li>
      <li><h5><a href="#">19</a></h5></li>
      <li><h5><a href="#">20</a></h5></li>
      <li><h5><a href="#">21</a></h5></li>
      <li><h5><a href="#">22</a></h5></li>
      <li><h5><a href="#">23</a></h5></li>
      <li><h5><a href="#">24</a></h5></li>
      <li><h5><a href="#">25</a></h5></li>
      <li><h5><a href="#">26</a></h5></li>
      <li><h5><a href="#">27</a></h5></li>
      <li><h5><a href="#">28</a></h5></li>
      <li><h5><a href="#">29</a></h5></li>
      <li><h5><a href="#">30</a></h5></li>
      <li><h5><a href="#">31</a></h5></li>
    </ul>
  </div>

  <div class="date-range-2-options year-options">
    <ul>
      <li><h5><a href="#">January</a></h5></li>
      <li><h5><a href="#">February</a></h5></li>
      <li><h5><a href="#">March</a></h5></li>
      <li><h5><a href="#">April</a></h5></li>
      <li><h5><a href="#">May</a></h5></li>
      <li><h5><a href="#">June</a></h5></li>
      <li><h5><a href="#">July</a></h5></li>
      <li><h5><a href="#">August</a></h5></li>
      <li><h5><a href="#">September</a></h5></li>
      <li><h5><a href="#">October</a></h5></li>
      <li><h5><a href="#">November</a></h5></li>
      <li><h5><a href="#">December</a></h5></li>
    </ul>
  </div>
</div>
