{% if page.class == 'search' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-about.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-partner.html %}
{% include side/side-contributors.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database libraries' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-libraries.html %}
{% include side/side-contributors.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database treaties' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-treaties.html %}
{% include side/side-contributors.html %}
</div>
{% endif %}

{% if page.class == 'database journals' %}
<!-- Journals Sidebar -->
<div id="page-side">
{% include side/side-journals.html %}
{% include side/side-contributors.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database libraries aviation' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-partner.html %}
{% include side/side-libraries.html %} 
{% include side/side-contributors.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'document' %}
<!-- Document Sidebar -->
<div id="page-side">
  {% include side/side-download.html %}
  {% include side/side-context.html %}
  {% include side/side-cited.html %}
  {% include side/side-cited-by.html %}
  {% include side/side-authors.html %}
</div> 
<div id="page-index">
  <div class="side-element side-authors">
    {% include svg/icon-authors.svg %}
    <h4>Table of Contents</h4>
    <ul>
      <li>This document isn’t part of a series.</li>
    </ul>
  </div>
</div> 
{% endif %}

{% if page.class contains 'about' %}
<!-- About Sidebar -->
<div id="page-side">
  {% include side/side-contributors.html %}
  {% include side/side-stats.html %}
  {% include side/side-tools.html %}
</div> 
<div id="page-index">
  {% include side/side-about.html %}
</div> 
{% endif %}

{% if page.class == 'home' %}
<!-- Home Sidebar -->
<div id="page-side">
  {% include side/side-contributors.html %}
  {% include side/side-updates.html %}
  {% include side/side-stats.html %}

  <div class="side-element side-search">
    {% include svg/icon-websearch.svg %}
    <h4>Catalogs</h4>
    <ul>
      <li><a href="http://www.worldlii.org/catalog/1.html">Australia</a></li>
      <li><a href="http://www.worldlii.org/catalog/2602.html">By Jurisdiction</a></li>
      <li><a href="http://www.worldlii.org/catalog/33.html">By Subject</a></li>
      <li><a href="http://www.worldlii.org/catalog/2385.html">Community Info</a></li>
      <li><a href="http://www.worldlii.org/catalog/193.html">Legal Services</a></li>
      <li><a href="http://www.worldlii.org/catalog/1.html">More…</a></li>
      <li><a href="http://www.worldlii.org/catalog/242.html">New Zealand</a></li>
  </div>

  {% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class contains 'results' %}
{% if page.class contains 'search' %}
<!-- Search Results Sidebar -->
<div id="page-side">
  <div class="side-element side-about">
    {% include svg/icon-websearch.svg %}
    <h4>Databases Selected</h4>
    <ul>
      <li><a href="#">Commonwealth Numbered Acts</a></li>
      <li><a href="#">Commonwealth Numbered Regulations</a></li>
      <li><a href="#">Commonwealth Numbered Regulations Explanations</a></li>
      <li><a href="#">Commonwealth Repealed Acts</a></li>
      <li><a href="#">Commonwealth Repealed Regulations</a></li>
    </ul>
  </div>
  {% include side/side-contributors.html %}
  {% include side/side-tools.html %}
</div>
{% else %}
<!-- Results Sidebar -->
<div id="page-side">
  {% include side/side-partner.html %}
  {% include side/side-about.html %} 
  {% include side/side-contributors.html %}
  {% include side/side-tools.html %}
</div>
{% endif %}
{% endif %}
