{% if page.class == 'search' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-about.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-partner.html %}
{% include side/side-contributors-sm.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database libraries' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-libraries.html %}
{% include side/side-contributors-sm.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database treaties' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-treaties.html %}
</div>
{% endif %}

{% if page.class == 'database journals' %}
<!-- Journals Sidebar -->
<div id="page-side">
{% include side/side-journals.html %}
{% include side/side-contributors-sm.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class == 'database libraries aviation' %}
<!-- Libraries Sidebar -->
<div id="page-side">
{% include side/side-partner.html %}
{% include side/side-libraries.html %} 
{% include side/side-contributors-sm.html %}
{% include side/side-tools.html %}
</div>
{% endif %}

{% if page.class contains 'document legislation' %}
<!-- Document Sidebar -->
<div id="page-side">
  {% include side/side-partner.html %}
  {% include side/side-context.html %}
  {% include side/side-print.html %}
  {% include side/side-notes.html %}
  {% include side/side-download.html %}
  {% include side/side-cited-by.html %}
  {% include side/side-social.html %}
</div> 
{% elsif page.class contains 'document' %}
{% unless page.class contains 'about' %}
<!-- Document Sidebar -->
<div id="page-side">
  {% include side/side-partner.html %}
  {% include side/side-context.html %}
  {% include side/side-print.html %}
  {% include side/side-download.html %}
  {% include side/side-cited.html %}
  {% include side/side-cited-by.html %}
  {% include side/side-authors.html %}
  {% include side/side-social.html %}
  <div class="end-of-side"></div>
</div> 
{% endunless %}
{% endif %}

{% if page.class contains 'about' %}
<!-- About Sidebar -->
<div id="page-side">
  {% include side/side-about.html %}
</div> 
{% endif %}

{% if page.class contains 'home' or page.class contains 'status' %}
<!-- Home Sidebar -->
<div id="page-side">
  {% include side/side-contributors.html %}
  {% include side/side-updates.html %}
  {% include side/side-social.html %}
  {% include side/side-catalogs.html %}
  {% include side/side-tools.html %}
  {% include side/side-stats.html %}
</div>
{% endif %}

{% if page.class contains 'results' %}
{% if page.class contains 'search' %}
<!-- Search Results Sidebar -->
<div id="page-side">
  {% include side/side-search-results.html %}
</div>
{% else %}
<!-- Results Sidebar -->
<div id="page-side">
  {% include side/side-partner.html %}
  {% include side/side-about.html %} 
  <!-- Small Contribute box -->
  <!-- Subscribe box -->
</div>
{% endif %}
{% endif %}
