@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}