// Advanced Search

.search,
.lawcite {
  .card {
    .multi {
      @include row;
      padding: 1em;

      h6 {
        @include span-columns(3);
        font-weight: normal;

        @include media(max-width $medium-screen){
          font-size: .9em;
          padding-top: 9px;
          text-transform: capitalize;
        }
      }

      div {
        @include span-columns(9);
      }

      .card-options--solo { float: left; }

      input,
      .month {
        margin-bottom: 0;
        background: white;
        border: $base-border;
        border-color: darken($base-border-color, 5);
        box-shadow: none;
        border-radius: $base-border-radius;
        -webkit-appearance: none;
        font-size: .9em;
        height: 33px;
      }

      .day,
      .month,
      .year {
        width: 30%;
        display: inline-block;
        margin-right: 5%;
        float: left;

        @include media($large-screen) {
          width: 15%;
        }
      }
      @include media(max-width $small-screen) {
        .day, .year { width: 25%; }
        .month { width: 40%; }
      }

      .month {
        position: relative;

        @include media($large-screen) {
          width: 20%;
        }

        select {
          @include appearance(none);
          border: none;
          background: none;
          width: 100%;
          height:100%;
          margin: 0;
          text-indent: .5em;
          outline: none;
        }

        &:after {
          content: "\25bc";
          color: $medium-gray;
          position: absolute;
          top: .5em;
          font-size: .75em;
          -webkit-transform: translateY(25%);
          pointer-events: none;
          display: block;
          right: .45em;

          @include media(em(410)){
            right: .65em;
          }

        }
      }

      .year {
        margin-right: 0;
      }

      // LawCite search grid mods

      div.input-sm {
        width: 34.361%;
      }

      div.input-xs {
        width: 11.6159%;

        .year {
          @include fill-parent;
        }
      }

      div.input-push {
        float: left;
        margin-left: 25.58945%;
        margin-right: 2.58765%;
        width: auto;

        .checkbox {
          margin-left: 0;
        }
      }

      h6.mid-text,
      h6.gutter-text {
        background: rgba(55, 150, 204, .2) none repeat scroll 0 0;
        border-radius: 3px;
        display: inline-block;
        font-size: 0.75em;
        margin-top: 0.6em;
        opacity: 0.7;
        padding: 2px 5px;
        width: auto;
        color: $blue;
      }

      h6.gutter-text {
          margin-left: -2.56823%;
          margin-right: 0.76823%;

        @include media($medium-screen){
        margin-left: -0.42941%;
        margin-right: 1.76823%;
        width: 1.95%;
        }
      }
    }
  }

  .card-checkboxes.is-collapsed {
    max-height: 9.65em;
    overflow: hidden;
  }
  
  .no-js & {
    .card-checkboxes.is-collapsed {
      max-height: initial;
      overflow: visible;
    }
  }

  #page-main .button {
    margin: 0 0 2em 1em;
  }
}

.results.search .multi {
  padding: .5em 1em;
}

.search.results.detail .multi {
  padding: 1em;
}


@include media(max-width $medium-screen){
  .hide-s {
    display: none !important;
  }
}

.no-js-search-method {
  display: none;
}

.no-js .no-js-search-method {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  
  input,
  label {
    display: inline-block;
  }
  
  label {
    font-size: 0.8em;
    margin-right: 0.5em;
    padding-bottom: 5px;
  }
}
