// Page: All Databases

.card-options {
  text-align: right;
  position: relative;
  z-index: 5;

  @include media(max-width $medium-screen) {
    margin-right: 1em;
  }

  .search.results & {
    position: absolute;
    right: 0;
  }

  @include media($medium-screen) {
    position: absolute;
    right: 0;
  }
  
  a {
    display: inline-block;
    border-radius: $base-border-radius;
    background: darken($light-gray, 6);
    padding: .5em .7em .3em .5em;
    font-size: .8em;
    font-weight: normal;
    color: #888;
    margin-left: .8em;
    position: relative;

    &:hover { background: darken($light-gray, 10); }
  }
}

.card-options .card-options--detail:before {
  background: url('../images/detail-off.svg');
  content: '';
  width: 17px;
  height: 17px;
  display: block;
  float: left;
  margin-right: .5em;
}

.card-options .card-options--detail.checked:before {
  background: url('../images/detail-on.svg');
}

.card-options .card-options--toggle {
  padding-left: 30px;

  &:before {
    content: '';
    display: block;
    background: white;
    border: 2px solid darken($base-border-color, 10);
    width: 18px;
    height: 18px;
    left: .5em;
    position: absolute;
    text-align: center;
    line-height: .9;
    border-radius: 2px;
    outline: none; 
  }

  &:hover:before { border-color: darken($base-border-color, 15); }

  &.checked {
    &:before {
      background: $blue;
      border-color: transparent;
    }

    &:after {
      content: '';
      position: absolute;
      border-color: #eee;
      left: 12px;
      top: 9px;
      width: 6px;
      height: 12px;
      border-width: 2px;
      border-style: solid;
      border-top: 0;
      border-left: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      display: table;
    }
  }
}

.all-section {
  overflow: hidden;
  opacity: 1;
  padding-bottom: 2em;

  @media print {
    padding: 0;
    margin: 0;
  }

  &:last-child {
    .half-row:nth-of-type(2) {
     margin-bottom: 7em;
    }
  }
}

.all-section.is-hidden {
  opacity: 0;
  height: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
