// Page: All Databases

.all-section {
  max-height: 6000px;
  overflow: hidden;
  opacity: 1;
  @include transition(all .5s ease-in-out);
  padding-bottom: 2em;

  @media print {
    max-height: none;
    padding: 0 !important;
    margin: 0;
  }
}

.all-section.is-hidden {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
}

.select-all-none-overall {
  cursor: pointer;
  background: #ddd;
  padding: .5em .7em .3em .5em;
  display: inline-block;
  border-radius: 4px;
  font-size: .8em;
  font-weight: normal;
  color: #888;
  margin-left: .8em;

  &:hover {
    background: #ccc;
    color: #777;
  }

  @include media($medium-screen) {
    position: absolute;
    right: 0;
  }
}

.select-all-none-overall span {
  position: relative;
  top: -3px;
}
