// Page: All Databases

.card-options {
  position: relative;
  z-index: 5;
  margin-left: 1em;

  @include media($medium-screen) {
    text-align: right;
    margin-left: 0;
  }

  .search.results & {
    @include media($medium-screen) {
      position: absolute;
      right: 0;
    }
  }

  @include media($medium-screen) {
    position: absolute;
    right: 0;
  }

  a {
    position: relative;
    top: .4em;
    margin-bottom: 0 !important;
  }
}

#page-content .card-options--toggle,
#page-content .card-options--solo,
#page-content .card-options--link,
#page-content .card-options--expand {
  display: inline-block;
  border-radius: $base-border-radius;
  background: darken($light-gray, 6);
  padding: .5em .7em .3em .5em;
  font-size: .8em;
  font-weight: normal;
  color: #888;
  margin-right: .8em;
  margin-bottom: .4em;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: darken($light-gray, 10);
    text-decoration: none;
  }
}

#page-content .card-options--toggle,
#page-content .card-options--solo,
#page-content .card-options--link,
#page-content .card-options--expand {
  padding-left: 30px;

  @include media($xx-large-screen) {
    line-height: 1.3;
    padding-bottom: .4em;
  }

  @include media($xxx-large-screen) {
    line-height: 1.1;
    padding-bottom: .5em;
  }

  &:before {
    content: '';
    display: block;
    background: white;
    border: 2px solid darken($base-border-color, 10);
    width: 18px;
    height: 18px;
    left: .5em;
    position: absolute;
    text-align: center;
    line-height: .9;
    border-radius: 2px;
    outline: none; 
  }

  &:hover:before {
    border-color: darken($base-border-color, 15);
  }

  &.checked {
    &:before {
      background: $blue;
      border-color: transparent;
    }

    &:after {
      content: '';
      position: absolute;
      border-color: #eee;
      left: 12px;
      top: 9px;
      width: 6px;
      height: 12px;
      border-width: 2px;
      border-style: solid;
      border-top: 0;
      border-left: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      display: table;
    }
  }
}

.all-section {
  overflow: hidden;
  opacity: 1;
  padding-bottom: 2em;

  @media print {
    padding: 0;
    margin: 0;
  }

  &:last-child {
    .half-row:nth-of-type(2) {
     margin-bottom: 7em;
    }
  }
}

.all-section.is-hidden {
  opacity: 0;
  height: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
