<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>What are journals?</h4>
  <p>Description goes here about what journals are.</p>
</div>

<div class="side-element side-search">
  {% include svg/icon-websearch.svg %}
  <h4>Catalog and Websearch</h4>
  <ul>
    <li><a href="#">Academic Journals</a></li>
    <li><a href="#">By Jurisdiction</a></li>
    <li><a href="#">By Name</a></li>
    <li><a href="#">Commercial Journals</a></li>
    <li><a href="#">Government & Court Publications</a></li>
    <li><a href="#">Legal Profession Publications</a></li>
    <li><a href="#">NGO/Association Publications</a></li>
  </ul>
</div>
