{% if page.class contains 'search' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About Advanced Search</h4>
  <p>The copy that goes here will explain advanced search, how it works, what the types of options are, etc.</p>
  <p>Fairly succinctly, mind you.</p>
</div>
{% endif %}

{% if page.class contains 'lawcite' %}
<div class="side-element">
  <img src="images/lawcite.gif">
</div>
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About LawCite</h4>
  <p>There are currently <strong>4,731,531</strong> indexed cases, law reform documents and journal articles included in the system. Last updated: <strong>04 August 2015</strong>.</p>
</div>
{% endif %}

{% if page.class contains 'about' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About AustLII</h4>
  <h6>General Info</h6>
  <ul>
    <li class="{% if page.url == '/about.html' %}selected{% endif %}"><a href="about.html">Overview</a></li>
    <li><a href="document-report.html">Annual Report</a></li>
    <li class="{% if page.url == '/publications.html' %}selected{% endif %}"><a href="publications.html">Published papers</a></li>
    <li class="{% if page.url == '/contact.html' %}selected{% endif %}"><a href="contact.html">Contact us</a></li>
  </ul>
  <br />

  <h6>Help with AustLII</h6>
  <ul>
    <li class="{% if page.url == '/help.html' %}selected{% endif %}"><a href="help.html">Overview</a></li>
    <li class="{% if page.url == '/faq.html' %}selected{% endif %}"><a href="faq.html">FAQs</a></li>
    <li class="{% if page.class contains 'guide' %}selected{% endif %}"><a href="guides.html">User Guides</a></li>
    <li class="{% if page.url == '/feedback.html' %}selected{% endif %}"><a href="feedback.html">Give Feedback</a></li>
  </ul>
  <br />

  <h6>Policies</h6>
  <ul>
    <li class="{% if page.url == '/disclaimers.html' %}selected{% endif %}"><a href="disclaimers.html">Disclaimers</a></li>
    <li class="{% if page.url == '/privacy.html' %}selected{% endif %}"><a href="privacy.html">Privacy Policy</a></li>
    <li class="{% if page.url == '/copyright.html' %}selected{% endif %}"><a href="copyright.html">Copyright Policy</a></li>
    <li class="{% if page.url == '/linking.html' %}selected{% endif %}"><a href="linking.html">Linking</a></li>
  </ul>
  <br />

  <h6>Our Team</h6>
  <ul>
    <li class="{% if page.url == '/personnel.html' %}selected{% endif %}"><a href="personnel.html">Personnel</a></li> 
    <li class="{% if page.url == '/funding.html' %}selected{% endif %}"><a href="funding.html">Funding info</a></li>
    <li class="{% if page.url == '/careers.html' %}selected{% endif %}"><a href="careers.html">Careers</a></li>
    <li class="{% if page.url == '/thanks.html' %}selected{% endif %}"><a href="thanks.html">Thanks</a></li>
  </ul>
</div>
{% endif %}

{% if page.class contains 'results legislation' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About this Database</h4>
  <p>This database contains copies of all consolidated Commonwealth Acts with the exception of some Appropriation and Supply Acts and, from May 2015, all amending Acts due to ComLaw changes.</p>
  <p>If there have been no amendments to an Act or an official consolidation does not yet exist, you will not find it in this database; instead, you will find it in the numbered Acts database.</p>

  <div class="side-about-more">
    <p>The Commonwealth Attorney-General's Department maintains ComLaw, a website of Commonwealth legislation.  All material herein is reproduced by permission, but does not purport to be the official or authorised version.</p>

    <h6>Database last updated: 21 September 2015</h6>
    <p>This is the date AustLII last updated this database and does not necessarily indicate currency. This database is updated from data obtained directly from the ComLaw website which is maintained by the Office of Legislative Drafting in the Attorney-General's Department. AustLII aims to publish updates on a weekly basis. Amendments made after AustLII's most recent update will not be available in this database.</p>
    <p>To check the date of the most recent update on AustLII of any act check the [Notes] link at the top of any section of the Act. More recent updates may be available from ComLaw.</p>

    <h6>Data Provision</h6>
    <p>Data in this database is owned by the Commonwealth of Australia and is provided to AustLII under a cooperative arrangement between the Office of Legislative Drafting, Attorney-General's Department, Canberra and AustLII. AustLII gratefully acknowledges the assistance of the Office of Legislative Drafting in making this data available for public access.</p>
  </div>

  <ul>
    <li><a href="#">Numbered Acts database</a></li>
    <li><a href="#">ComLaw</a></li>
  </ul>

  <a href="javascript:void(0);" class="side-about-more-link">More</a>
</div>
{% elsif page.class contains 'results' %}
{% unless page.class contains 'journals' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About this Database</h4>
  <p>This database contains decisions from June 1995 of the Supreme Court of New South Wales. The decisions in this database are all those that have been selected and provided by the Court. Decisions are usually sent on a daily basis. Decisions are also available at the Court site.</p>
</div>

<div class="side-element side-rss">
  {% include svg/icon-rss.svg %}
  <h4>Subscribe with RSS</h4>
  <ul>
    <li><a href="#">Subscribe to database feed</a></li>
    <li><a href="#">Subscribe to search/filter feed</a></li>
  </ul>
</div>
{% endunless %}
{% endif %}

{% if page.class contains 'libraries' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About this Library</h4>
  <p>This Library includes databases of Australasian aviation law accessible via AustLII and NZLII. Catalog and Websearch enables searches of Australian aviation materials on other websites as does Law on Google. More information about this Library can be found in the <a href="#">Australasian Aviation Law Library brochure [PDF].</a></p>
  <p>For comments and suggested additions to the Library, please contact <a href="#">suggestions@austlii.edu.au</a></p>
  <p>This Library is developed with the assistance of the <a href="#">Aviation Law Association of Australia & New Zealand (ALAANZ).</a> AustLII thanks those organisations that provide it with data, funding and other assistance.</p>
</div>
{% endif %}

{% if page.class contains 'journals' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <a href="javascript:void(0);" class="learn-more side-about-more-link">More</a>
  <h4>About this Journal</h4>
  <p>This database contains documents from the Aboriginal Law Bulletin (AboriginalLawB). In April 1997, it was renamed as the Indigenous Law Bulletin (IndigLawB). More information can be found on the Bulletin website.</p>
 
  <div class="side-about-more">
    <h6>Names of Deceased People</h6>
    <p>The Indigenous/Aboriginal Law Bulletin may contain names of and other references to deceased persons. This may cause distress, especially to the relatives of these people.</p>
    <p>Where requested by relatives or representatives, names which have appeared in the original print edition have been suppressed for this reproduction.</p>
    <h6>Sensitive Use</h6>
    <p>Users are required to treat this material with sensitivity, being aware that it may contain words or descriptions which may be offensive or distressing.</p>
    <h6>Reproduction for Online Use</h6>
    <p>The ILB/ALB is now fully text searchable on AustLII. The wording of all articles is in its original form, except where names have been suppressed as above. For older material, where original digital material was not available, original print editions have been scanned, and the text extracted by character recognition software. All possible efforts to proofread the material have been made, but it is possible some errors remain where words have been wrongly recognised by the software. References in the text to other articles in the ILB/ALB are print citations.</p>
  </div>
</div>
{% endif %}
