<div class="side-element side-search">
  {% include svg/icon-websearch.svg %}
  <a href="#" class="learn-more">More</a>
  <h4>Catalogs</h4>
  <ul>
    <li><a href="http://www.worldlii.org/catalog/1.html">Australia</a></li>
    <li>
      <ul>
        <li><a href="http://www.worldlii.org/catalog/2602.html">By Jurisdiction</a></li>
        <li><a href="http://www.worldlii.org/catalog/33.html">By Subject</a></li>
        <li><a href="http://www.worldlii.org/catalog/2385.html">Community Info</a></li>
        <li><a href="http://www.worldlii.org/catalog/193.html">Legal Services</a></li>
      </ul>
    </li>
    <li><a href="http://www.worldlii.org/catalog/242.html">New Zealand</a></li>
  </ul>
</div>
