<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About the Treaties</h4>
  <ul>
    <li><a href="#">About the Australian Treaties Library</a></li>
    <li><a href="#">Electronic Treaties Database</a></i>
  </ul>
  <br />
  <h6>Acknowledgements</h6>
  <p>AustLII thanks the Department of Foreign Affairs and Trade (DFAT) for its financial and organisational support, and provision of content, for the Treaties Library since 1996. We also thank the Joint Standing Committee on Treaties (JSCOT) for its reports, and the Australian Research Council (ARC) for financial support.</p>
</div>

<div class="side-element side-search">
  {% include svg/icon-websearch.svg %}
  <h4>Catalog and Websearch</h4>
  <ul>
    <li><a href="#">By Country</a></li>
    <li><a href="#">By Subject</a></li>
    <li><a href="#">International Organisations & Bodies</a></li>
    <li><a href="#">Multi-National Collections</a></li>
    <li><a href="#">Other Indexes</a></li>
    <li><a href="#">Research Centres</a></li>
    <li><a href="#">Status Lists</a></li>
  </ul>
</div>
