<div class="side-element side-contributors">
  {% include svg/icon-contributors.svg %}
  <h4>Contributors</h4>
  <ul>
    <li><a href="#">All Contributors</a></li>
    <li><a href="#">By Jurisdiction</a></li>
    <li><a href="#">By Type</a></li> 
    <li class="contribute-now">
      <a href="#" class="button">Contribute Now</a>

      <div class="annual-reports is-open">
        <a href="javascript:void(0);" class="annual-reports-button button">Reports</a>
        <ul class="annual-reports-dropdown">
          <li><a href="#">2014 (PDF)</a></li>
          <li><a href="#">2013 (PDF)</a></li>
          <li><a href="#">2012 (PDF)</a></li>
          <li><a href="#">2011 (PDF)</a></li>
          <li><a href="#">2010 (PDF)</a></li>
          <li><a href="#">2009 (PDF)</a></li>
          <li><a href="#">2008 (PDF)</a></li>
          <li><a href="#">2007 (PDF)</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
