{% if page.class contains 'search' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About Advanced Search</h4>
  <p>The copy that goes here will explain advanced search, how it works, what the types of options are, etc.</p>
  <p>Fairly succinctly, mind you.</p>
</div>
{% endif %}

{% if page.class contains 'about' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About AustLII</h4>
  <h6>General Info</h6>
  <ul>
    <li class="{% if page.url == '/about.html' %}selected{% endif %}"><a href="about.html">Overview</a></li>
    <li><a href="#">Annual Report</a></li>
    <li class="{% if page.url == '/publications.html' %}selected{% endif %}"><a href="publications.html">Published papers</a></li>
    <li class="{% if page.url == '/faq.html' %}selected{% endif %}"><a href="faq.html">FAQs</a></li>
    <li class="{% if page.url == '/feedback.html' %}selected{% endif %}"><a href="feedback.html">Feedback</a></li>
    <li class="{% if page.url == '/contact.html' %}selected{% endif %}"><a href="contact.html">Contact us</a></li>
  </ul>
  <br />

  <h6>Help with AustLII</h6>
  <ul>
    <li><a href="http://www.worldlii.org/catalog/2332.html">Legal Research Guide</a></li>
    <li><a href="#">Help Pages</a></li>
  </ul>
  <br />

  <h6>Policies</h6>
  <ul>
    <li class="{% if page.url == '/disclaimers.html' %}selected{% endif %}"><a href="disclaimers.html">Disclaimers</a></li>
    <li class="{% if page.url == '/privacy.html' %}selected{% endif %}"><a href="privacy.html">Privacy Policy</a></li>
    <li class="{% if page.url == '/copyright.html' %}selected{% endif %}"><a href="copyright.html">Copyright Policy</a></li>
    <li class="{% if page.url == '/linking.html' %}selected{% endif %}"><a href="linking.html">Linking</a></li>
  </ul>
  <br />

  <h6>Who &amp; How</h6>
  <ul>
    <li class="{% if page.url == '/personnel.html' %}selected{% endif %}"><a href="personnel.html">Personnel</a></li> 
    <li class="{% if page.url == '/funding.html' %}selected{% endif %}"><a href="funding.html">Funding info</a></li>
    <li class="{% if page.url == '/careers.html' %}selected{% endif %}"><a href="careers.html">Careers</a></li>
    <li class="{% if page.url == '/thanks.html' %}selected{% endif %}"><a href="thanks.html">Thanks</a></li>
  </ul>
</div>
{% endif %}

{% if page.class == 'results' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About this Database</h4>
  <p>This database contains decisions from June 1995 of the Supreme Court of New South Wales. The decisions in this database are all those that have been selected and provided by the Court. Decisions are usually sent on a daily basis. Decisions are also available at the Court site.</p>
  <p><a href="#">See the Court site for further information concerning the Court.</a></p>
</div>
{% endif %}

{% if page.class contains 'libraries' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About this Library</h4>
  <p>This Library includes databases of Australasian aviation law accessible via AustLII and NZLII. Catalog and Websearch enables searches of Australian aviation materials on other websites as does Law on Google. More information about this Library can be found in the <a href="#">Australasian Aviation Law Library brochure [PDF].</a></p>
  <p>For comments and suggested additions to the Library, please contact <a href="#">suggestions@austlii.edu.au</a></p>
  <p>This Library is developed with the assistance of the <a href="#">Aviation Law Association of Australia & New Zealand (ALAANZ).</a> AustLII thanks those organisations that provide it with data, funding and other assistance.</p>
</div>
{% endif %}

{% if page.class contains 'journals' %}
<div class="side-element side-about">
  {% include svg/icon-about.svg %}
  <h4>About this Journal</h4>
  <p>This database contains documents from the Aboriginal Law Bulletin (AboriginalLawB). In April 1997, it was renamed as the Indigenous Law Bulletin (IndigLawB). More information can be found on the Bulletin website.</p>
 
  <div class="side-about-more">
    <h6>Names of Deceased People</h6>
    <p>The Indigenous/Aboriginal Law Bulletin may contain names of and other references to deceased persons. This may cause distress, especially to the relatives of these people.</p>
    <p>Where requested by relatives or representatives, names which have appeared in the original print edition have been suppressed for this reproduction.</p>
    <h6>Sensitive Use</h6>
    <p>Users are required to treat this material with sensitivity, being aware that it may contain words or descriptions which may be offensive or distressing.</p>
    <h6>Reproduction for Online Use</h6>
    <p>The ILB/ALB is now fully text searchable on AustLII. The wording of all articles is in its original form, except where names have been suppressed as above. For older material, where original digital material was not available, original print editions have been scanned, and the text extracted by character recognition software. All possible efforts to proofread the material have been made, but it is possible some errors remain where words have been wrongly recognised by the software. References in the text to other articles in the ILB/ALB are print citations.</p>
  </div>

  <a href="javascript:void(0);" class="side-about-more-link">More</a>
</div>
{% endif %}
