<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AustLII</title>
  <link rel="stylesheet" href="css/screen.css" />
</head>
<body class="home">
  <header id="page-header">
    <div id="primary">
      <a id="page-logo" href="/">AustLII</a>
      <h1 id="page-title"><span>Australasian Legal Information Institute</span> <span class="page-subheader">A joint facility of UTS & UNSF Faculties of Law.</span></h1>
      <a class="go-search" href="#">Search</a>
    </div>

    <div id="page-search">
      <div class="search-box">
        <a class="search-dropdown" href="#">▼</a>

        <ul class="search-options">
          <li><label>All database <input type="radio"></label></li>
          <li><label>This database only <input type="radio"></label></li>
          <li><label>Full text <input type="radio"></label></li>
          <li><label>Titles only <input type="radio"></label></li>
          <li><a href="#">Advanced Search…</a></li>
        </ul>

        <input type="text" placeholder="Search AustLII">
        <input type="submit" value="Search">
      </div>
      <a class="go-primary" href="#">Close</a>
    </div>

    <ul id="page-tertiary">
      <li><a href="#">About</a></li>
      <li><a href="#">Copyright</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Disclaimers</a></li>
    </ul>
  </header>

  <nav id="ribbon">
    <ul>
      <li class="ribbon-home-databases"><a href="database.html">All Databases</a></li>
      <li class="ribbon-home-cases"><a href="database.html">Cases &amp; Legislation</a></li>
      <li class="ribbon-home-journals"><a href="#">Journals</a></li>
      <li class="ribbon-home-libraries"><a href="#">Libraries</a></li>
      <li class="ribbon-home-catalogs"><a href="#">Catalogs</a></li>
    </ul>
  </nav>

  <div id="panels" class="is-jurisdiction">
    <div id="panel-type">
      <ul>
        <li class="panel-type-all"><a href="results.html"><h5>All Databases</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="results.html"><h5>Cases &amp; Legislation</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="results.html"><h5>Journals &amp; Scholarships</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="results.html"><h5>Libraries</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="results.html"><h5>Catalogs</h5><p>Description goes here for selection.</p></a></li>
      </ul>
    </div>

    <div id="panel-jurisdiction">
      <ul>
        <li class="panel-type-all"><a href="database.html"><h5>All of Australia</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>Cth</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>ACT</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>NSW</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>NT</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>QLD</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>SA</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>TA</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>VI</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>WA</h5></a></li>
          <li class="panel-type-all"><a href="database.html"><h5>New Zealand</h5></a></li>
      </ul>
    </div>
  </div>

  <div id="page-content">

    <div id="page-main">
      {% if page.sort == true %}
      <div id="page-sort">
        <ul>
          <li class="sort-item sort-recent selected"><a href="#">Most Recent</a></li>
          <li class="sort-item sort-cited"><a href="#">Most Cited</a></li>
          <li class="sort-more">
            <a href="#">More</a>
            <ul class="sort-options">
              <li><a href="#">Extra Option</a></li>
              <li><a href="#">Extra Option</a></li>
              <li><a href="#">Extra Option</a></li>
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}

      {{ content }}
    </div>
    
    <div id="page-side">
      <div class="side-element side-contributors">
        <h4>Contributors</h4>
        <ul>
          <li><a href="#">Recent Contributors</a></li>
          <li><a href="#">Annual Reports</a></li>
          <li class="contribute-now"><a href="#">Contribute Now</a></li>
        </ul>
      </div>

      <div class="side-element side-updates">
        <h4>Update Status</h4>
        <ul>
          <li><a href="#">Case Law Updates</a></li>
          <li><a href="#">Journal Updates</a></li>
          <li><a href="#">Legislation Updates</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script>
    $(function() {
      $('.go-search, .go-primary').on('click', function() {
        $('#page-header').toggleClass('search-is-visible');
      });

      $('.search-dropdown').on('click', function() {
        $('.search-box').toggleClass('options-visible');
      });

      $('.sort-more').on('click', function() {
        $('#page-sort').toggleClass('options-visible');
      });

      $('.sort-item').on('click', function() {
        $('.sort-item').removeClass('selected');
        $(this).addClass('selected');
      });

      $('#ribbon li a').on('click', function() {
        $('#ribbon li').removeClass('is-selected');
        $(this).parent().addClass('is-selected');
      });

      $('#panels a').on('click', function() {
        $('#panels li').removeClass('is-selected');
        $(this).parent().addClass('is-selected');
      });

      $('.ribbon-type').on('click', function() {
        $('#panels').removeClass().addClass('is-type');
        $('.year-options').removeClass('is-visible');
        $('#panel-year .is-selected').removeClass('is-selected');
      });

      $('.ribbon-jurisdiction').on('click', function() {
        $('#panels').removeClass().addClass('is-jurisdiction');
        $('.year-options').removeClass('is-visible');
        $('#panel-year .is-selected').removeClass('is-selected');
      });

      $('.ribbon-year').on('click', function() {
        $('#panels').removeClass().addClass('is-year');
      });

      $('.ribbon-letter').on('click', function() {
        $('#panels').removeClass().addClass('is-letter');
        $('.year-options').removeClass('is-visible');
        $('#panel-year .is-selected').removeClass('is-selected');
      });

      $('.year-specific-dropdown').on('click', function() {
        $('.year-options').removeClass('is-visible');
        $('.year-specific-options').addClass('is-visible');
        $('.year-range-dropdown-1, .year-range-dropdown-2').removeClass('is-selected');
        $(this).addClass('is-selected');
      });

      $('.year-range-dropdown-1').on('click', function() {
        $('.year-options').removeClass('is-visible');
        $('.year-range-1-options').addClass('is-visible');
        $('.year-specific-dropdown, .year-range-dropdown-2').removeClass('is-selected');
        $(this).addClass('is-selected');
      });

      $('.year-range-dropdown-2').on('click', function() {
        $('.year-options').removeClass('is-visible');
        $('.year-range-2-options').addClass('is-visible');
        $('.year-specific-dropdown, .year-range-dropdown-1').removeClass('is-selected');
        $(this).addClass('is-selected');
      });

      $('.year-options a').on('click', function() {
        $('.year-options.is-visible').removeClass('is-visible');
        $('#panel-year a.is-selected').removeClass('is-selected');
      });
    });
  </script>
</body>
</html>
