<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Article">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AustLII</title>
  <link rel="stylesheet" href="css/screen.css" />
</head>
<body>
  <header id="page-header">
    <div id="primary">
      <a id="page-logo" href="/">AustLII</a>
      <h1 id="page-title">Supreme Court of New South Wales</h1>
      <a class="go-search" href="#">Search</a>
    </div>

    <div id="page-search">
      <div class="search-box">
        <a class="search-dropdown" href="#">▼</a>
        <input type="text" placeholder="Search AustLII">
        <input type="submit" value="Search">
      </div>
      <a class="go-primary" href="#">Close</a>
    </div>

    <ul id="page-tertiary">
      <li><a href="#">About</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </header>

  <nav id="ribbon">
    <ul>
      <li class="ribbon-type is-selected"><a href="#">Type <span>Cases &amp; Legislation</span></a></li>
      <li class="ribbon-jurisdiction"><a href="#">Jurisdiction <span>New South Wales</span></a></li>
      <li class="ribbon-database"><a href="#">Database <span>Supreme Court of New South Wales<span></a></li>
      <li class="ribbon-year"><a href="#">Year <span>Any</span></a></li>
      <li class="ribbon-letter"><a href="#">Starts with <span>Any letter</span></a></li>
    </ul>
  </nav>

  <div id="panels" class="is-type">
    <div id="panel-type">
      <ul>
        <li class="panel-type-all"><a href="#"><h5>All Databases</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="#"><h5>Cases &amp; Legislation</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="#"><h5>Journals &amp; Scholarships</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="#"><h5>Libraries</h5><p>Description goes here for selection.</p></a></li>
        <li class="panel-type-all"><a href="#"><h5>Catalogs</h5><p>Description goes here for selection.</p></a></li>
      </ul>
    </div>

    <div id="panel-jurisdiction">
      <ul>
        <li class="panel-type-all"><a href="#"><h5>All of Australia</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>Cth</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>ACT</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>NSW</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>NT</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>QLD</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>SA</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>TA</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>VI</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>WA</h5></a></li>
          <li class="panel-type-all"><a href="#"><h5>New Zealand</h5></a></li>
      </ul>
    </div>

    <div id="panel-year">
      <ul>
        <li class="panel-type-all"><a href="#"><h5>Specific Year</h5></a></li>
        <li class="panel-type-all"><a href="#"><h5>Date Range</h5></a></li>
      </ul>
    </div>

    <div id="panel-letter">
      <ul>
        <li class="panel-letter-a"><a href="#"><h5>A</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>B</h5></a></li>
        <li class="panel-letter-c"><a href="#"><h5>C</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>D</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>E</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>F</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>G</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>H</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>I</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>J</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>K</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>L</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>M</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>N</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>O</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>P</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>Q</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>R</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>S</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>T</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>U</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>V</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>W</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>X</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>Y</h5></a></li>
        <li class="panel-letter-b"><a href="#"><h5>Z</h5></a></li>
      </ul>
    </div>
  </div>

  <div id="page-content">

    <section id="page-main">
      <div id="page-sort">
        <ul>
          <li class="sort-recent selected"><a href="#">Most Recent</a></li>
          <li class="sort-cited"><a href="#">Most Cited</a></li>
          <li class="sort-more"><a href="#">More</a></li>
        </ul>
      </div>

      <div class="card">
        <ul>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
          <li><a href="#">Construction, Forestry, Mining and EnergyUnion v Boral Resources (Vic) Pty Ltd[2015] HCA 21 (17 June 2015)</a></li>
        </ul>
      </div>
    </section>
    
    <div id="page-side">
      <div class="side-element side-partner">
        <h6>Partner</h6>
        <p>This database is presented in partnership with Bond University Faculty of Law.</p>
        <img src="http://placehold.it/145x50" alt="" />
      </div>

      <div class="side-element side-contributors">
        <h6>Contributors</h6>
        <ul>
          <li><a href="#">Recent contributors</a></li>
          <li><a href="#">Recent contributors</a></li>
          <li><a href="#">Recent contributors</a></li>
        </ul>
      </div>

      <div class="side-element side-updates">
        <h6>Update Status</h6>
        <ul>
          <li><a href="#">Recent contributors</a></li>
          <li><a href="#">Recent contributors</a></li>
          <li><a href="#">Recent contributors</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script>
    $(function() {
      $('.go-search, .go-primary').on('click', function() {
        $('#page-header').toggleClass('search-is-visible');
      });

      $('#ribbon li a').on('click', function() {
        $('#ribbon li').removeClass('is-selected');
        $(this).parent().addClass('is-selected');
      });

      $('#panels a').on('click', function() {
        $('#panels li').removeClass('is-selected');
        $(this).parent().addClass('is-selected');
      });

      $('.ribbon-type').on('click', function() {
        $('#panels').removeClass().addClass('is-type');
      });

      $('.ribbon-jurisdiction').on('click', function() {
        $('#panels').removeClass().addClass('is-jurisdiction');
      });

      $('.ribbon-year').on('click', function() {
        $('#panels').removeClass().addClass('is-year');
      });

      $('.ribbon-letter').on('click', function() {
        $('#panels').removeClass().addClass('is-letter');
      });
    });
  </script>
</body>
</html>
