---
layout: compress
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>

  <link media="all" rel="stylesheet" href="css/screen.css" />

  <meta name="theme-color" content="#ee3224">
  <meta name="description" content="Australasian Legal Information Institute, a joint facility of UTY & NUSW Faculties of Law.">
  <link rel="icon" sizes="192x192" href="images/icon-192.png">
  <link rel="apple-touch-icon-precomposed" href="images/icon-shortcut.png">
  <meta name="msapplication-TileColor" content="#ee3224">
  <meta name="msapplication-TileImage" content="images/icon/ms.png">
  <script src="js/modernizr.min.js"></script>
</head>
<body class="{{ page.class }}"> 
  <header id="page-header">
    <div id="primary">
      <a id="page-logo" href="/" tabindex="1">
        <img src="images/logo.svg" alt="AustLII">
        <span class="title-main">AustLII</span>
      </a>
      {% unless page.search == false %}
      <a class="go-search" href="#">Search</a>
      {% endunless %}
      {% if page.class contains 'checklist' %}
      <a class="go-search filters" href="#">Search</a>
      {% endif %}

      {% if page.class contains 'document' %}
      <h2 id="page-title"><span>{{ page.database }}</span></h2>
      {% elsif page.class contains 'home' %}
      <h1 id="page-title">
        <span>Australasian Legal Information Institute</span> 
        <span class="page-subheader">Free, comprehensive and independent access to Australasian law</span>
      </h1>
      {% elsif page.class contains 'contribute' %}
      <div class="title-block">
        <h1 id="page-title"> Without you, we wouldn't exist. </h1>
        <p>We rely on the generosity of our donors to operate.<br>Thank you for making AustLII possible.</p>
      </div>
      {% else %}
      <h1 id="page-title"><span>{{ page.title }}</span></h1>
      {% endif %}
    </div>
  {% unless page.class contains 'contribute' %}
    {% include search.html %}

    <ul id="page-tertiary">
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="copyright.html">Copyright &amp; Usage</a></li>
      <li><a href="privacy.html">Privacy</a></li>
      <li><a href="disclaimers.html">Disclaimers</a></li>
      <li><a href="feedback.html">Feedback</a></li>
      <li><a href="help.html">Help</a></li>
    </ul>
  {% endunless %}
  </header>

  {% include ribbon.html %}
  {% include panels.html %}

  <div id="page-content">

    <div id="page-main"> 
      {% include sort.html %}

      {% if page.class contains 'document' %}
      <article class="the-document">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </article>
      {% else %}
      {{ content }}
      {% endif %}

      {% include pagination.html %}
    </div>
    {% unless page.class contains 'contribute' %}
    {% include side.html %}
    {% include closing.html %}
    {% endunless %}
  </div>

  <script src="js/production.min.js"></script>
</body>
</html>
