// Card

.card {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;

  @include media($medium-screen) {
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    border-radius: $base-border-radius;
  }

  a:hover {
    text-decoration: underline;
  }

  input[type="checkbox"] {
    margin: 0.55em .5em 0 1em;
    display: inline-block;
    float: left;
  }
}

.card-title {
  padding: .25em 1em 0;
  clear: both;
  color: #989898;
  font-weight: normal;

  &.card-title-large {
    font-size: 1.2em;
    padding: .5em .8em 0;
    color: #565656;
    font-weight: bold;
  }

  @include media(max-width $medium-screen) {
    &:first-child {
      padding-top: 1.5em;
    }
  }
}

.card a {
  padding: .5em 1em;
  display: block;
  font-size: .9em;
}

.is-searchable .card a {
  padding: .5em 1em .5em 3.5em;
}

.card li:nth-child(2n) a {
  background: #f6fafd;
  border-top: #eaf0f6 1px solid;
  border-bottom: #eaf0f6 1px solid;
}

.card input[type="checkbox"] {
  @include transition(all 0.2s ease-in-out);
  background: white; 
  border: 2px solid #ddd;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  position: relative;
  text-align: center;
  line-height: .9;
  border-radius: $base-border-radius - 1;
  outline: none;
}

.card input[type="checkbox"]:checked {
  background: $blue;
  border: none;
}

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  border-color: #eee;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: table;
}
