// Card

.results .card li {
  padding: .5em 1em;
  position: relative;

  &:before {
    @include media(min-width 80em) {
      content: attr(data-count);
      color: $medium-gray;
      position: absolute;
      font-size: $discovery-font-size;
      left: -58px;
      text-align: right;
      width: 50px;
      opacity: 0;
      
      &:hover {
        opacity: .5;
      }
    }
  }

  a { padding: 0; }
}

.results .card li:hover:before {
  opacity: .5;
}

.card {
  background: white;
  margin-bottom: .5em; 
  border-top: $base-border;
  border-bottom: $base-border;

  &.card-checkboxes {

    // For when cards have checkboxes in the rows
    a { padding: .5em 1em .5em 3.5em; }

    .content-inline a {
      display: inline-block;
    }

    .content-inline {
    
      li {
        padding: .4em 1em .4em 3.5em;
        position: relative;
      }
      
      .checkbox {
        position: absolute;
        left: 1em;
        top: .55em;
        margin: 0;
      }
      
      a {
        display: inline;
        padding: 0;
      }
    }

    > ul {
      .no-js & {
        max-height: 19.5rem;
        overflow: auto;
      }
    }

    li {
      position: relative;

      > label {
        .no-js & {
          margin-bottom: 0;
        }
      }

      > div {
        position: relative;

        &.is-fixed {
          position: fixed;
          top: 0;
          z-index: 1;
        }

        &.is-shadowed {
          box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2);
        }
      }

      > ul {
        max-height: 0px;
        overflow: hidden;
        position: relative;

        .no-js & {
          max-height: none;
        }

        li:first-child {
          border-top: 1px solid #e5eff4;
        }

        > li {
          padding-left: 8px;
          @include transform(translateY(-50%));
          @include transition(transform .2s ease-in-out);
          
          .no-js & {
            @include transform(translateY(0));
          }
        }

        &::after {
          content: '';
          display: inline-block;
          width: 8px;
          background: #E8E8E8;
          @include transform(translateX(-100%));
          @include transition(transform .2s ease-in-out);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
        }

        &.is-active {
          &::after {
            @include transform(translateX(0%));
          }

          > li {
            @include transform(translateY(0%));
          }
        }
      }
    }
  }

  // Give sides etc. when larger
  @include media($medium-screen) {
    margin-bottom: 1.5em; 
    border: $base-border;
    border-bottom-color: darken($base-border-color, 5);
    border-radius: $base-border-radius;
  }

  a {
    padding: .5em 1em;
    display: block;
    font-size: $discovery-font-size;

    &:hover { text-decoration: underline; }

    @media print {
      padding: 0;
      margin: 0;
    }
  }

  // Rows that have multiple links in them
  .multi {
    padding: .5em 1em;
    display: table;
    width: 100%;
    font-size: $discovery-font-size;

    .image {
      display: table-cell;
      height: 100%;
      vertical-align: top;
      padding-right: $small-spacing/2;

      img { max-width: initial; }
    }

    a {
      font-size: $base-font-size;
      padding: 0;
      display: inline;
    }

    p {
      margin-bottom: 0;
      font-size: .9em;
      opacity: .7;
    }

    .meta {
      font-size: $side-font-size;

      span, a {
        margin: .4em 0 0 0;
        display: inline-block;

          @include media(max-width $medium-screen) {
            display: block;
            float: left;
            margin: .4em .4em 0 0;
          }  
        }

        a.break {
          @include media(max-width $medium-screen) {
            clear: both;
          }
      }

      span { color: $medium-gray; }

      @include media($medium-screen) {
        .right { float: right; }

        .break:before {
          background: darken($base-border-color, 2) none repeat scroll 0 0;
          content: '';
          display: inline-block;
          height: 3px;
          width: 3px;
          margin: 0 0.5em 0.2em;
        }
      }

      .stars {
        opacity: .5;

        @include media($medium-screen) {
          margin: .4em 0 0 .3em;
        }

        img {
          width: 9px;

          &.star-off { opacity: .3; }
        }
      }
    }
  }

  // Cards with tables in them (e.g. Status)
  table {
    margin: 2%;
    width: 96%;

    th,
    td {
      padding: 10px;
      line-height: 1.2;
      font-size: .95em;
    }

    a { padding: 0; }
  }

  li {
    border-bottom: 1px solid #e5eff4;
  }

  // Odd/Even row styles
  li:nth-child(2n - 1),
  .multi:nth-child(2n - 1) {
    &, & > div {
      background: white;
    }
  }

  li:nth-child(2n),
  .multi:nth-child(2n) {

    &, & > div {
      background: #f7fbfd;
    }
  }

  li:last-child,
  li:last-child a { border-bottom: none; }

  .multi:nth-child(2n) a {
    background: none;
    border: none;
  }

  // Positioning for card checkboxes
  input[type="checkbox"],
  .checkbox {
    margin: 0.55em .5em 0 1em;
    float: left;
  }
}

.card-checkboxes-dropdown {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 2px;
  right: 4px;

  &::after {
    content: '';
    display: inline-block;
    padding: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    @include transform-origin(5px 3px);
    @include transform(translate(-50%, -30%) rotate(135deg));
    @include transition(transform .2s ease-in-out, border-top-color .2s ease-in-out, border-right-color .2s ease-in-out);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:hover {
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    outline: none;
  }

  &.is-active {
    &::after {
      @include transform(translate(-50%, -30%) rotate(315deg));
    }
  }

  .no-js & {
    display: none;
  }
}

// Gray titles above cards
.card-title {
  font-size: 1em;
  font-weight: 400;
  padding: .25em 1em .5em;
  clear: both;
  color: $medium-gray;
  display: block;
  padding-top: .55em;
  margin-bottom: 0;

  .checkbox {
    top: .5em;
    margin-left: 1.5px;
    margin-right: .95em;
    position: relative;
  }

  @media print {
    padding: 0;
    margin: 0;
  }

  // Larger black titles above cards
  &.card-title-large {
    font-size: 1.2em;
    padding: 1em .8em .5em;
    color: $base-font-color;
    font-weight: bold;

    @include media($medium-screen) {
      padding: 0 .8em .5em;
    }

    .checkbox {
      margin-right: .7em;
    }
  }
}

// Checkboxes
.checkbox {
  @include transition(all 0.2s ease-in-out);
  @include appearance(none);
  display: inline-block;
  background: white; 
  border: 2px solid $base-border-color;
  width: 18px;
  height: 18px;
  position: relative;
  text-align: center;
  line-height: .9;
  border-radius: $base-border-radius - 1;
  outline: none;
  
  .no-js & {
    background: transparent;
  }

  input { display: none; }
  
  .no-js & {
    
    input { 
      display: inline-block;
      position: relative;
      top: -10px;
      margin: 0 !important;
    }
  }
}

.checkbox.checked, .checkbox.semi-checked {
  background: $blue;
  border: none;
  
  .no-js & {
    background: transparent;
  }
}

.checkbox.checked:before {
  content: "";
  position: absolute;
  border-color: #eee;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: table;
  
  .no-js & {
    display: none;
  }
}

.checkbox.semi-checked:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #eee;
  left: 4px;
  top: 8px;
  width: 10px;
  height: 2px;
  
  .no-js & {
    display: none;
  }
}

.no-js .checkbox-group {
  display: none;
}

.faux-checkbox { @extend .checkbox; }
