// Card

.results .card li:before {
  @include media(min-width 80em) {
    content: attr(data-count);
    color: $medium-gray;
    position: absolute;
    padding: .5em 0;
    font-size: $discovery-font-size;
    left: -30px;
    text-align: right;
    width: 30px;
    opacity: 0;
  }
}

.results .card li:hover:before {
  opacity: .5;
}

.card {
  background: white;
  margin-bottom: .5em; 
  border-top: $base-border;
  border-bottom: $base-border;

  // For when cards have checkboxes in the rows
  &.card-checkboxes a { padding: .5em 1em .5em 3.5em; }

  // Give sides etc. when larger
  @include media($medium-screen) {
    margin-bottom: 1.5em; 
    border: $base-border;
    border-bottom-color: darken($base-border-color, 5);
    border-radius: $base-border-radius;
  }

  a {
    padding: .5em 1em;
    display: block;
    font-size: $discovery-font-size;

    &:hover { text-decoration: underline; }

    @media print {
      padding: 0;
      margin: 0;
    }
  }

  // Rows that have multiple links in them
  .multi {
    padding: .5em 1em;
    display: block;
    font-size: $discovery-font-size;

    a {
      font-size: $base-font-size;
      padding: 0;
      display: inline;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .meta {
      font-size: $side-font-size;

      span, a {
        margin: .4em 0 0 0;
        display: inline-block;
        margin-right: 1em;
        color: $medium-gray; 
      }
    }
  }

  // Cards with tables in them (e.g. Status)
  table {
    margin: 2%;
    width: 96%;

    th,
    td {
      padding: 10px;
      line-height: 1.2;
      font-size: .95em;
    }

    a { padding: 0; }
  }

  // Odd/Even row styles
  li:nth-child(2n) a,
  .multi:nth-child(2n) {
    background: #f7fbfd;
    border-top: 1px solid #e5eff4;
    border-bottom: 1px solid #e5eff4;
  }

  li:last-child,
  li:last-child a { border-bottom: none; }

  .multi:nth-child(2n) a {
    background: none;
    border: none;
  }

  // Positioning for card checkboxes
  input[type="checkbox"],
  .checkbox {
    margin: 0.55em .5em 0 1em;
    float: left;
  }
}

// Gray titles above cards
.card-title {
  font-size: 1em;
  font-weight: 400;
  padding: .25em 1em .5em;
  clear: both;
  color: $medium-gray;
  display: block;
  padding-top: .55em;
  margin-bottom: 0;

  .checkbox {
    top: .5em;
    margin-left: 1.5px;
    margin-right: .95em;
    position: relative;
  }

  @media print {
    padding: 0;
    margin: 0;
  }

  // Larger black titles above cards
  &.card-title-large {
    font-size: 1.2em;
    padding: 1em .8em .5em;
    color: $base-font-color;
    font-weight: bold;

    @include media($medium-screen) {
      padding: 0 .8em .5em;
    }

    .checkbox {
      margin-right: .7em;
    }
  }
}

// Checkboxes
.checkbox {
  @include transition(all 0.2s ease-in-out);
  @include appearance(none);
  display: inline-block;
  background: white; 
  border: 2px solid $base-border-color;
  width: 18px;
  height: 18px;
  position: relative;
  text-align: center;
  line-height: .9;
  border-radius: $base-border-radius - 1;
  outline: none;

  input { display: none; }
}

.checkbox.checked {
  background: $blue;
  border: none;
}

.checkbox.checked:before {
  content: "";
  position: absolute;
  border-color: #eee;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: table;
}

.faux-checkbox { @extend .checkbox; }
