// Card

.home .card ul,
.database .card ul,
.results .card ul {
  font-size: .9em;
}

.card {
  background: white;
  margin-bottom: 1.5em; 
  border-top: $base-border;
  border-bottom: $base-border;

  // For when cards have checkboxes in the rows
  &.card-checkboxes a { padding: .5em 1em .5em 3.5em; }

  // Give sides etc. when larger
  @include media($medium-screen) { border: $base-border; }

  a {
    padding: .5em 1em;
    display: block;
    font-size: $discovery-font-size;

    &:hover { text-decoration: underline; }

    @media print {
      padding: 0;
      margin: 0;
    }
  }

  // Rows that have multiple links in them
  .multi {
    padding: .5em 1em;
    display: block;
    font-size: $discovery-font-size;

    a {
      font-size: $base-font-size;
      padding: 0;
      display: inline;
    }

    @media print {
      padding: 0;
      margin: 0;
    }
  }

  // Cards with tables in them (e.g. Status)
  table {
    margin: 2%;
    width: 96%;

    th,
    td {
      padding: 10px;
      line-height: 1.2;
      font-size: .95em;
    }

    a { padding: 0; }
  }

  // Odd/Even row styles
  li:nth-child(2n) a,
  .multi:nth-child(2n) {
    background: #f7fbfd;
    border-top: 1px solid #e5eff4;
    border-bottom: 1px solid #e5eff4;
  }

  li:last-child,
  li:last-child a { border-bottom: none; }

  .multi:nth-child(2n) a {
    background: none;
    border: none;
  }

  // Positioning for card checkboxes
  input[type="checkbox"],
  .checkbox {
    margin: 0.55em .5em 0 1em;
    float: left;
  }
}

// Gray titles above cards
.card-title {
  font-size: 1em;
  font-weight: 400;
  padding: .25em 1em;
  clear: both;
  color: $medium-gray;
  display: block;
  padding-top: .55em;
  margin-bottom: 0;

  &.title-checkbox {
    padding-left: .9em;

    .select-all-none {
      padding-right: .75em;

      @include media($medium-screen) {
        padding-right: 1em;
      }
    }
  }

  // Increase padding of first title when small
  @include media(max-width $medium-screen) {
    &:first-child {
      padding-top: 1.2em;
    }
  }

  @media print {
    padding: 0;
    margin: 0;
  }

  // Larger black titles above cards
  &.card-title-large {
    font-size: 1.2em;
    padding: .5em .8em;
    margin-bottom: .3em;
    color: $base-font-color;
    font-weight: bold;

    @media print {
      padding: 0;
      margin: 0;
    }
  }
}

// All/None toggle switches
.select-all-none {
  display: inline;
  padding: 0 .55em 0 0;

  label { margin: 0 0 -2px; }
}

// Checkboxes
.checkbox {
  @include transition(all 0.2s ease-in-out);
  @include appearance(none);
  display: inline-block;
  background: white; 
  border: 2px solid $base-border-color;
  width: 18px;
  height: 18px;
  position: relative;
  text-align: center;
  line-height: .9;
  border-radius: $base-border-radius - 1;
  outline: none;

  input { display: none; }
}

.checkbox.checked {
  background: $blue;
  border: none;
}

.checkbox.checked:before {
  content: "";
  position: absolute;
  border-color: #eee;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: table;
}

.faux-checkbox { @extend .checkbox; }
