// Card

.card {
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;

  @include media($medium-screen) {
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    border-radius: $base-border-radius;
  }

  a:hover {
    text-decoration: underline;
  }
}

.card-title {
  padding: .25em 1em 0;
  clear: both;
  color: #989898;
  font-weight: normal;

  &.card-title-large {
    font-size: 1.2em;
    padding: .5em .8em 0;
    color: #565656;
    font-weight: bold;
  }

  @include media(max-width $medium-screen) {
    &:first-child {
      padding-top: 1.5em;
    }
  }
}

.card a {
  padding: .7em 1em;
  display: block;
  font-size: .9em;
}

.card li:nth-child(2n) a {
  background: #f6fafd;
  border-top: #eaf0f6 1px solid;
  border-bottom: #eaf0f6 1px solid;
}
