// Closing / Footer

.closing {
  padding-bottom: 1em;

  @include media($large-screen) {
    @include span-columns(3);
    position: absolute;
    bottom: 4em;
    right: 1em;
    z-index: 3;

    .database.all &,
    .database.cases & {
      position: relative;
      padding-left: 1em;
      width: 30em;
    }
  }

  .inner {
    margin: 0 1em;
    border-top: $base-border;
    padding-top: 1em;

    @include media($large-screen) {
      margin: 0;
    }

    p + a {
      display: inline-block;
      margin-top: -.5em;
    }
  }

  li {
    @include media($medium-screen) { display: inline-block; }
  }
}

.closing-tertiary a,
.closing small {
  font-size: .7em;
  margin: 0 .5em 0 0;
  display: inline-block;
  color: $medium-gray; 
}

.closing-tertiary a:hover { text-decoration: underline; }

.home .closing {

  p {
    font-size: .8em;
    margin: 0 1em 0 0;
    display: inline-block;
    color: $medium-gray;

    a {
      color: $medium-gray;
      &:hover { text-decoration: underline; }
    }
  }
}

.home-2 .closing {
  text-align: center; 

  .inner { background: transparent; }

  a {
    background: url('../images/closing.png');
    display: inline-block;
    height: 40px; 
    text-indent: -999em;
    text-align: left;
  }

  .altlaw a {
    background-position: 0 0;
    width: 62px;
  }

  .asianlii a {
    background-position: -78px -8px;
    width: 39px;
  }

  .austlii a {
    background-position: -132px -8px;
    width: 34px;
  }

  .bailii a {
    background-position: -181px -6px;
    width: 31px;
  }

  .canlii a {
    background-position: -225px -4px;
    width: 72px;
  }

  .cardiffuni a {
    background-position: -313px -6px;
    width: 39px;
  }

  .commonlii a {
    background-position: -368px -4px;
    width: 45px;
  }

  .cylaw a {
    background-position: -425px -2px;
    width: 80px;
  }

  .droit a {
    background-position: -521px -2px;
    width: 80px;
  }

  .glin a {
    background-position: -613px -2px;
    width: 67px;
  }

  .hklii a {
    background-position: -693px -2px;
    width: 42px;
  }

  .idt a {
    background-position: -753px -4px;
    width: 42px;
  }

  .unam a {
    background-position: -810px -4px;
    width: 35px;
  }

  .iijusticia a {
    background-position: -858px -2px;
    width: 65px;
  }

  .irlii a {
    background-position: -936px -2px;
    width: 46px;
    height: 44px;
  }

  .ittig a {
    background-position: -991px -2px;
    width: 46px;
  }

  .jerseylaw a {
    background-position: -1049px -5px;
    width: 74px;
  }

  .jips a {
    background-position: -1138px -2px;
    width: 28px;
  }

  .juriburkina a {
    background-position: -1184px -4px;
    width: 73px;
  }

  .juriniger a {
    background-position: -1265px -3px;
    width: 76px;
  }

  .eklr a {
    background-position: -1351px -3px;
    width: 65px;
  }

  .ksl a {
    background-position: -1427px -4px;
    width: 41px;
  }

  .klri a {
    background-position: -1481px -4px;
    width: 85px;
  }

  .lawphil a {
    background-position: -1584px -4px;
    width: 117px;
  }

  .lexum a {
    background-position: -1725px -4px;
    width: 77px;
  }

  .cornell a {
    background-position: -1817px -4px;
    width: 68px;
  }

  .liiofindia a {
    background-position: -1906px -6px;
    width: 38px;
  }

  .malawilii a {
    background-position: -1964px -6px;
    width: 52px;
  }

  .nzlii a {
    background-position: -2029px -8px;
    width: 35px;
  }

  .paclii a {
    background-position: -2080px -4px;
    width: 27px;
  }

  .saflii a {
    background-position: -2122px -4px;
    width: 45px;
  }

  .tlrc a {
    background-position: -2183px -6px;
    width: 33px;
  }

  .ulii a {
    background-position: -2230px -6px;
    width: 51px;
  }

  .worldlii a {
    background-position: -2295px -6px;
    width: 34px;
  }
}
