// Advanced Search

.contribute {
  padding-bottom: 8em;

  #page-main {
    position: relative;

    .contribute-download {
      position: absolute;
      right: 0;
      top: $base-spacing;

      .button {
        background: $blue;
        color: white;
        font-size: .8em;

        &:hover { background: darken($blue, 5); }
      }

        @include media(max-width $medium-screen) {
          top: $base-spacing + $small-spacing;
          right: 1em;

          .desktop { display: none; }
        }
    }
  }

  h2 { margin-top: $small-spacing; }

  .card {

    @include media(max-width $medium-screen) {
      font-size: $base-font-size;
    }

    li {
      @include row;
      padding: 1em;

      &:nth-child(2n) { background: transparent; }

      h6 {
        @include span-columns(3);
        font-weight: normal;
        word-wrap: break-word;
        hyphens: auto;
      }

      .input {
        @include span-columns(6);

        @include media(max-width $medium-screen) {
          @include span-columns(9);
        }
        
        &.select-wrapper {
          position: relative;

          &:after {
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 136, 136, 0);
            border-top-color: $medium-gray;
            border-width: 4px;
            margin-left: -4px;
            right: .6em;
            top: .8em;
            -webkit-transform: translatey(25%);
          }
        }

        select {
          width: 100%;
          border: none;
          border-radius: $base-border-radius;
          background: darken($light-gray, 5);
          margin-bottom: 0;
          padding: 3px .5em;
          height: 33px;
          font-size: .9em;


          background: $base-border-color;
          color: $medium-gray;
          padding-right: 1.8em;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &:hover { background: darken($base-border-color, 5); }

          option { 
          -moz-appearance: none;
          appearance: none;
          }
        }
      }

      .set {
        @include span-columns(9);

        .input {
          @include span-columns(6 of 9);
          margin-bottom: $small-spacing/2;

          &:not(.input-sm):not(.input-med) { clear: both; }

          &.select-wrapper {
            position: relative;

            &:after {
              border: solid transparent;
              content: "";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 136, 136, 0);
              border-top-color: $medium-gray;
              border-width: 4px;
              margin-left: -4px;
              right: .6em;
              top: .8em;
              -webkit-transform: translatey(25%);
            }
          }

          @include media(max-width $medium-screen) {
            @include span-columns(9 of 9);
          }

          select {
            width: 100%;
            border: none;
            border-radius: $base-border-radius;
            background: darken($light-gray, 5);
            margin-bottom: 0;
            padding: 3px .5em;
            height: 33px;
            font-size: .9em;


            background: $base-border-color;
            color: $medium-gray;
            padding-right: 1.8em;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:hover { background: darken($base-border-color, 5); }

            option { 
            -moz-appearance: none;
            appearance: none;
            }
          }
        }

        .input-sm {
          @include span-columns(3 of 9);

          @include media(max-width $medium-screen) {
            @include span-columns(4.5 of 9);

            &:nth-of-type(4) { margin-right: 0; }
          }
        }

        .input-tn {
          @include span-columns(1.25 of 9);
          line-height: 1.2;

          @include media(max-width $medium-screen) {
            @include span-columns(2 of 9);

            &:nth-of-type(4) { margin-right: 0; }
          }

          label {
            white-space: nowrap;
          }
        }

        .input-med {
          @include span-columns(4.75 of 9);

          @include media(max-width $medium-screen) {
            @include span-columns(5 of 9);
          }
        }
        
        .set-extend {
          background: #ECF9FF;
          border: 1px solid #e5eff4;
          border-radius: 3px;
          float: left;
          width: 71.75%;
          max-height: 0px;
          transition: all .3s;
          overflow: hidden; 
          opacity: 0;
          
          &.is-opened {
            max-height: 150px;
            opacity: 1;
          }

          @include media(max-width $medium-screen) {
            width: 100%;
          
            &.is-opened {
              max-height: 250px;
            }
          }
          
          & > p {
            margin: 1em;
            float: left;
          }
          
          .field-extend {
            float: left;
            width: 45%;
            background: white;
            border: 1px solid #e5eff4;
            margin: 1em 0 0 1em;
            padding: .5em;

            @include media(max-width $medium-screen) {
              width: calc(100% - 2em);
            }
            
            .checkbox {
              margin: 0 .5em 0 0;
              position: relative;
              top: 2px;
              
              &::after {
                top: 2px;
              }
            }
            
            select {
              display: inline-block;
              margin: 0 .5em;
              border: none;
            }
            
            .extend-text {
              color: #999;
              font-size: .9em;
            }
          }
        }
      }

      input {
        margin-bottom: 0;
        background: darken($light-gray, 5);
        border: none;
        border-color: darken($base-border-color, 5);
        box-shadow: none;
        border-radius: $base-border-radius;
        -webkit-appearance: none;
        font-size: .9em;
        height: 33px;

        &:focus { background: darken($light-gray, 2.5); }
      }

      .input-sm {
        @include span-columns(3);

        @include media(max-width $medium-screen) {
          @include span-columns(5);
        }
      }

      .input-xs {
        @include span-columns(2);

        @include media(max-width $medium-screen) {
          @include span-columns(5);
        }
      }

      .input-tn {
        @include span-columns(1.25);
        line-height: 1.2;

        @include media(max-width $medium-screen) {
          @include span-columns(2);

          &:nth-of-type(4) { margin-right: 0; }
        }

        label {
          white-space: nowrap;
        }
      }

      .input-med {
        @include span-columns(4);

        @include media(max-width $medium-screen) {
          @include span-columns(5);
        }
      }

      .push {
        float: left;
        margin-left: 25.58945%;
        margin-right: 2.58765%;
        width: auto;

        .checkbox {
          margin-left: 0;
        }
      }

      .radio-options {
        line-height: 18px;
        padding-bottom: 0.5em;
        padding-left: 30px;
        background: #e9e9e9 none repeat scroll 0 0;
        border-radius: 3px;
        color: #888;
        display: inline-block;
        font-size: 0.8em;
        font-weight: normal;
        margin-bottom: 0.4em;
        margin-right: 0.8em;
        padding: 0.5em 0.7em 0.55em 2.2em;
        position: relative;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background: darken($light-gray, 10);
          text-decoration: none;
        }

        &:hover:before {
          border-color: darken($base-border-color, 15);
        }

        &.checked {
          &:before {
            background: $blue;
            border-color: transparent;
          }

          &:after {
            content: '';
            position: absolute;
            border-color: #eee;
            left: 12px;
            top: 9px;
            width: 6px;
            height: 12px;
            border-width: 2px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            display: table;
          }
        
          .arrow-down {

            &::after {
              transform: scale(1.25, -1);
            }
          }
        }

        &:before {
          background: white none repeat scroll 0 0;
          border: 2px solid #d2d2d2;
          border-radius: 2px;
          content: "";
          display: block;
          height: 18px;
          left: 0.5em;
          line-height: 0.9;
          outline: medium none;
          position: absolute;
          text-align: center;
          width: 18px;
        }
        
        .arrow-down {

          &::after {
            content: '\25bc';
            color: #858585;
            font-size: .65em;
            margin-left: .5em;
            transform: scale(1.25, 1);
            display: inline-block;
            transition: all .15s;
          }
        }
        
        input[type="radio"] {
          display: none;
        }
      }

      .text-toggler {
        position: relative;
        width: 8em;

        input { 
          position: absolute;
          top: 0;
          background: transparent;
          right: 3px;
          width: 5em;
          font-size: 1em;
          padding-left: 0;
        }
      }

      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type=number] {
          -moz-appearance:textfield;
      }
    }
  }

  .multi.is-collapsed {
    max-height: 0;
    overflow: hidden;
  }

  .contribute-cards {
    float: left; 

    img { vertical-align: middle; }
  }
  
  .no-js & {

    .card {
      
      li {

        .radio-options {
          padding: .5em .7em .55em;

          &.checked:after { display: none; }

          &:before {
            display: none;
          }

          input[type="radio"] {
              display: inline;
              height: auto;
          }
        }

        .text-toggler {

          input { 
            background: #e9e9e9;
            width: 6.6em;
          }
        }
      }
    }
  }

  .push { 
    margin-left: 25.58945%;
    margin-left: calc(25.58945% + .5em);

    .button { 
      float: left;
      margin-right: 0.55em !important;
    }
  }

}