// Document

.document {
  background: white;

  // Inline PDFs get a 'card' wrapper
  embed {
    @extend .card;
  }

  // Move Main content to the center on large screens
  #page-main {
    @include media($x-large-screen) {
      @include span-columns(7);
      @include shift(2.25);
    }
  } 

  // Shrink the right sidebar on large screens
  #page-side {
    margin-top: 4.5em;

    @include media($x-large-screen) {
      @include span-columns(2.5);
    }
  }

  // Main document section of the page
  .the-document { 
    @extend %container;
    line-height: 1.7;

    header {
      @include media($medium-screen) {
        text-align: center;
      }
    }

    // List styles for document content
    ul {
      list-style: disc;
      padding-left: 1.5em;

      li {
        margin-bottom: 1em;
      }
    }

    // Hyperlink styles within documents
    a {
      text-decoration: underline;
    }

    // Make the header larger than default
    // (Default is normally the top-left)
    h1 {
      padding: 1.5em 0 1em;

      @include media($medium-screen) {
        font-size: 1.6em;
        display: block;
        padding: 2em 0 1em;
        letter-spacing: -0.02em;
      }
    }

    // Usse H2 to break up the page content
    h2 {
      padding-top: 2em;
    }
  }

  // Expander button to show table of contents
  .index-expand {
    display: none;

    @include media(max-width $x-large-screen) {
      display: inline;
      float: right;
      border: none;
    }
  }

  // Table of contents section modifications
  // (So it doesn't look like document content)
  #page-index ul {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @include media(max-width $x-large-screen) {
      display: none;
    }
  }

  // Showing the table of contents
  #page-index.is-expanded ul {
    @include media(max-width $x-large-screen) {
      display: block;
    }
  }
}
