// Document
.document {
  #page-content { 
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;

    @include media($medium-screen) { padding-top: 0; }
  }

  // Move Main content to the center on large screens
  #page-main {
    @include media($large-screen) {
      @include span-columns(8.5);
      background: white;
      min-height: 900px;
    }
  } 

  // Shrink the right sidebar on large screens
  #page-side { margin-top: 2.5em; }

  // Main document section of the page
  .the-document { 
    line-height: 1.6;
    padding-bottom: 2em;
    min-height: 700px;

    // List styles for document content
    ul {
      list-style: disc;
      padding-left: 1.5em;

      li { margin-bottom: 1em; }
    }

    ol {
      li {
        margin-bottom: 1em;

        &[value]::before {
          content: attr(value) ".";
          margin-right: .5em;
          color: $medium-gray;

          @include media(min-width 78.75em) {
            width: 2em;
            text-align: right;
            position: absolute;
            left: -1.3em;
          }
        }
      }

      &[type="a"], &[type="i"] {
        li::before {
          @include media(min-width 78.75em) {
            position: initial;
            left: 0;
          }
        }
      }
    }
    
    //blockquotes within the document
    blockquote {
      margin: 1em 2em;
    }

    // Hyperlink styles within documents
    a { text-decoration: underline; }

    // Make the header larger than default
    // (Default is normally the top-left)
    h1 {
      padding: 1.5em 0 1em;

      @include media($medium-screen) {
        font-size: 1.6em;
        display: block;
        padding: 1.5em 0 0;
        letter-spacing: -0.02em;
      }
    }

    // Use H2 to break up the page content
    h2 { padding-top: 2em; }

    // If H2 comes first in the document, remove that padding
    header + h2,
    #page-index + h2 { padding-top: 0; }
  }

  // Expander button to show table of contents
  .the-document .index-expand {
    display: none;
    margin-top: .25em;
    text-decoration: none;

    @include media(max-width $x-large-screen) {
      display: inline;
      float: right;
      border: none;
    }
  }

  // Table of contents section modifications
  // (So it doesn't look like document content)
  #page-index ul {
    padding-left: 0;
    list-style: none;

    li { margin-bottom: 0; }

    a {
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }

    @include media(max-width $x-large-screen) { display: none; }
  }

  // Showing the table of contents
  #page-index.is-expanded ul {
    @include media(max-width $x-large-screen) { display: block; }
  }
}

// Legislation doc
.document.legislation {
  .the-document {
    td {
      vertical-align: top;
      font-size: .8em;
    }

    th,
    td {
      padding: 5px;
    }

    header {
      text-align: left;
    }

    h1 {
      padding-bottom: 0;
    }

    ul {
      list-style: none;
      padding: 0 0 1em 1em;
    }

    li {
      margin: 0 0 .5em;
      font-size: .95em;
    }

    h2 {
      padding-top: 0;
    }

    h4 {
      font-size: .9em;
      margin-left: 1em;
      padding-bottom: .15em;
      border-bottom: $base-border;
    }

    .leg-number {
      text-decoration: none;
      margin: 0 .25em;
    }
  }
}

.document .the-document ol {
  
  &:not(.value-data) {
    counter-reset: usergenerated;
    
    li {
      counter-increment: usergenerated;
      position: relative;
      padding-left: 1em;
      margin-top: .75em;

      &:before {
        content: counter(usergenerated) '. ';
      }
      
      ol, ul {
        padding-left: 1em;
      }
      
      ul {
        counter-reset: none;
        
        li {
          counter-increment: none;
          padding-left: 0;
          
          &:before {
            content: none;
          } 
      
          ul {
            counter-reset: none;

            li {
              counter-increment: none;
              padding-left: 0;

              &:before {
                content: none;
              }      
            }

            ol {
              counter-reset: usergenerated;

              li {
                counter-increment: usergenerated;
                padding-left: 1em;

                &:before {
                  content: counter(usergenerated) '. ';
                }      
              }
            }
          }     
        }
        
        ol {
          counter-reset: usergenerated;
        
          li {
            counter-increment: usergenerated;
            padding-left: 1em;

            &:before {
              content: counter(usergenerated) '. ';
            } 
      
            ul {
              counter-reset: none;

              li {
                counter-increment: none;
                padding-left: 0;

                &:before {
                  content: none;
                }      
              }

              ol {
                counter-reset: usergenerated;

                li {
                  counter-increment: usergenerated;
                  padding-left: 1em;

                  &:before {
                    content: counter(usergenerated) '. ';
                  }      
                }
              }
            }        
          }
        }
      }
    }
  }
  
  &.value-data[type="a"] li, &.value-data[type="i"] li {
    
    &:before {
      content: attr(data-value) ".";
    }
  }
}

hr.filler {
  width: 50%;
}
