// Document

.document {
  background: white;

  #page-main {
    @include media($x-large-screen) {
      @include span-columns(7);
      @include shift(2.5);
    }
  } 

  #page-side {
    margin-top: 3em;

    @include media($x-large-screen) {
      @include span-columns(2.5);
    }
  }

  .the-document { 
    line-height: 1.7;
    @extend %container;

    header {
      @include media($medium-screen) {
        text-align: center;
      }
    }

    a:hover {
      text-decoration: underline;
    }

    h1 {
      padding: 1.5em 0 1em;

      @include media($medium-screen) {
        font-size: 1.6em;
        display: block;
        padding: 2em 0 1em;
        letter-spacing: -0.02em;
      }
    }

    h2 {
      padding-top: 2em;
    }
  }

  .index-expand {
    display: none;

    @include media(max-width $x-large-screen) {
      display: inline;
      float: right;
      border: none;
    }
  }

  #page-index ul {
    @include media(max-width $x-large-screen) {
      display: none;

      li:first-child a {
        border: none;
      }
    }
  }

  #page-index.is-expanded ul {
    @include media(max-width $x-large-screen) {
      display: block;
    }
  }
}
