// Form-specific modules, applicable to any form, regardless of placement

//error messages

.has-error {
  margin-bottom: 0 !important;
  
  .search & {
    position: relative;
  }
}

[data-validation-current-error].error {
  background: #F5E7E6 !important;
  border-radius: 3px 3px 0 0 !important;
  
  .search & {
    border-radius: 3px !important;
    border: none !important;
  }
}

.help-block.error {
  background: #FF8780;
  color: white;
  white-space: nowrap;
  border-radius: 0 0 3px 3px;
  padding: .25em .5em;
  font-size: .85em;
  position: relative;
  
  .search & {
    border-radius: 3px;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    max-width: 100%;
    z-index: 1;
    white-space: pre-wrap;
    
    &::before {
      content: "";
      display: block;
      height: 10px;
      width: 10px;
      background: #FF8780;
      position: absolute;
      left: 15px;
      top: -5px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
