// Global

// Setting body background color, and also setting relative/height
// so that the footer can absolutely hug the bottom of the page.
body {
  position: relative;
  height: 100%;
  background: $light-gray;
  
  &.document {
    @include media($large-screen) {
      @include background-image(linear-gradient(left, white 49%, $light-gray 50%));
    }
  }
}

// Mixins

@mixin list-numerals {
  counter-increment: counter-numerals;
  position: relative;

  &:hover::before {
    background: $medlight-gray;
    border-radius: 25px;
    color: $light-gray;
    content: counter(counter-numerals, decimal);
    font-size: .8em;
    height: 18px;
    left: -2.7em;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: .8em;
    width: 18px;
  }

}



// Containers move content from the browser edges, so they don't
// sit flush and awkward.
%container {
  @include outer-container;
  padding-left: 1em;
  padding-right: 1em;

  @media print {
    padding: 0 !important;
    margin: 0 !important;
  }
}

// Rows: Useful for pages such as "All Databases"
@include media($medium-screen) {
  .row { @include row; }

  .half-row { @include span-columns(6); }
}
