// Rows

@include media($medium-screen) {
  .row {
    @include row;
  }

  .half-row {
    @include span-columns(6);
  }
}

hr {
  border: none;
  margin: 4em 1em;
}


// Global

body {
  background: $light-gray;
}

// Mixins

%container {
  @include outer-container;
  padding-left: 1em;
  padding-right: 1em;

  @media print {
    padding: 0 !important;
    margin: 0 !important;
  }
}
