// Global

// Setting body background color, and also setting relative/height
// so that the footer can absolutely hug the bottom of the page.
body {
  position: relative;
  height: 100%;
  background: $light-gray;
  
  &.document {
    @include media($large-screen) {
      @include background-image(linear-gradient(left, white 49%, $light-gray 50%));
    }
  }
}

// Mixins

// Containers move content from the browser edges, so they don't
// sit flush and awkward.
%container {
  @include outer-container;
  padding-left: 1em;
  padding-right: 1em;

  @media print {
    padding: 0 !important;
    margin: 0 !important;
  }
}

// Rows: Useful for pages such as "All Databases"
@include media($medium-screen) {
  .row { @include row; }

  .half-row { @include span-columns(6); }
}
