// Header

// Header padding gives some breathing room between the header and the ribbon below it.
#page-header {
  padding-bottom: .5em;
  background: white;
}

// The homepage version gets a different version due to the big title section it has.
.home #page-header {
  @include media($medium-screen + 20em) {
    padding-bottom: 2em;
  }
}

// Primary is the header content, not including the search box or the tertiary links.
// Relative/top positioning allows it to move properly with the search box on smaller screens during toggles.
#primary {
  @extend %container; 
  @include clearfix;
  position: relative;
  top: 0;

  // Animate the header for smaller screens where animations are necessary for search toggles.
  @include media(max-width $medium-screen + 20em) {
    @include transition(all 0.25s ease-in-out);
  }

  // The homepage version gets a different version due to the big title section it has.
  @include media($medium-screen + 20em) {
    .home & {
      width: 620px;
      padding-top: 2.5em;
      margin-bottom: -25px;
    }
  }
}

// When the search box is visible on small screens, push the primary section up out of the way.
.search-is-visible #primary {
  top: -100px;
}

// The logo at the top of every page: sizes for different viewports and pages.
#page-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  text-indent: -999em;
  background: $red;
  margin-top: 7px;
  background: url('../images/logo.svg') no-repeat;

  @include media($medium-screen) {
    width: 65px;
    height: 65px;
    margin-top: 15px;
  }

  .home & {
    @include media($medium-screen + 20em) {
      width: 120px;
      height: 120px;
      margin: 15px 0 -10px;
    }
  }
}

// Modify the page title on the homepage, for the custom hero layout it has.
.home #page-title {
  letter-spacing: -0.01em;
  
  // On very small screens, reduce the full title to just 'AustLII', to avoid ellipses.
  @include media(max-width $medium-screen - 10em) {
    &:after {
      content: 'AustLII';
    }

    // Hide the "A joint facility" copy on small screens.
    span {
      display: none;
    }
  }
}

// The main page title at the top of every page.
#page-title {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 0;
  padding-left: 8px;
  width: 180px;
  height: 47px;
  margin: 0;
  font-size: 1em;
  line-height: 30px;
  letter-spacing: -0.02em;
  display: table-cell;
  vertical-align: middle;

  @include media(em(420)) { width: 250px; }
  @include media(em(480)) { width: 350px; }
  @include media(em(530)) { width: 410px; }
  @include media($medium-screen + 20em) { width: 360px; }
  @include media($medium-screen + 26em) { width: 450px; }

  @include media($medium-screen) {
    font-size: 1.2em;
    width: 490px;
    line-height: 45px;
    height: 87px;
  }

  // The title itself lives within a span for vertical alignment.
  // Increase width as browser width increases, to make more room before the ellipsis kicks in.
  span {
    line-height: normal;
    display: inline-block; 
    vertical-align: middle;

    @include media(max-width $medium-screen) {
      overflow-y: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 200px;
    }
 
    @include media(em(360)) { width: 250px; }

    @include media(em(560)) { width: 450px; }
  }

  .home & {
    @include media($medium-screen + 20em) {
      font-size: 1.6em;
      width: 460px;
      padding-top: 0;
    }
  }
}

// The 'subheader' is the gray additional text on the homepage below the main title.
// This text gets hidden on small screens.
#page-title .page-subheader {
  display: none;

  @include media($medium-screen + 20em) {
    display: inline;
    font-size: .7em;
    font-weight: normal;
    float: left;
    color: #727272;
  }
}

// Search box wrapper: This allows us to move the search in and out on small screens, and right-align on large screens.
#page-search {
  position: relative;
  top: -120px;
  height: 0;
  @include transition(all 0.25s ease-in-out);

  @include media($medium-screen + 20em) {
    top: -10px;
    height: auto;
    @include outer-container();
  }
}
