// Page Content

#page-content { 
  position: relative;
  z-index: 1; 
  min-height: 700px;
  @include outer-container;

  @include media(max-width $medium-screen) { font-size: 1.05em; }

  @include media($medium-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media print { font-size: .8em; }
}

// Page Main

.database #page-main,
.search #page-main { position: relative; }

.document #page-main {
  @include media($large-screen) {
    background: white;
    padding-right: 4em;
    border-right: $base-border;
  }
}

#page-main {
  padding-top: .5em;

  @include media($medium-screen) {
    min-height: 800px;
    padding-top: 1em;
  }

  @include media($large-screen) {
    @include span-columns(8.5);
  }

  .database.all &,
  .database.cases & {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($large-screen) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

html.no-js .sort-more { display: none !important; }

// Search results sort row for joining sort-tabs
#page-sort-2 {
  font-size: .9em;
  background: white;
  padding-top: .5em;
  border-top: $base-border;
  border-bottom: $base-border;
  margin-bottom: 1em;

  @include media($medium-screen) {
    border-radius: $base-border-radius;
    border: $base-border;
  }

  a {
    display: inline-block;
    font-size: $side-font-size;
    @include transition(all 0.25s ease-in-out); 
    margin-right: 1em;
    color: $medium-gray; 

    &.selected { text-decoration: underline; }
  }

  .page-sort-inner { 
    @include outer-container;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sort-extra-item {
    margin-bottom: .25em;
    padding-bottom: .25em;
    display: inline-block;

    @include media(max-width $medium-screen) {
      display: block;
      border-bottom: $base-border;

      &:last-child {
        border: none;
      }
    }

    @include media($medium-screen) {
      border-right: $base-border;
      padding-right: .25em;
      margin-right: .75em;
    }

    &:last-child {
      border: none;
    }
  }
}

#page-sort.sort-solo,
#pagination-sort {
  padding: .5em 1em .1em;
  display: inline-block;
  font-size: $side-font-size;

  @include media($medium-screen) {
    padding: 0 1em 1em;
  }

  li, a { display: inline-block; }

  & > ul > li a {
    color: $medium-gray;
    border: 1px solid #ddd;
    background: #ddd;
    border-radius: $base-border-radius;
    line-height: 2.2;
    padding: 0 .5em;

    @include media($medium-screen) {
      border: 1px solid #eee;
      background: #eee;
    }
  }

  & > ul > .selected > a {
    color: $red;
    border-color: $red;
    background: transparent;
    padding: 0 .75em;
  }
}

#page-sort.sort-solo {
  .second-row {
    margin-top: .25em;
  }

  @include media(max-width $medium-screen) {
    padding: .6em 1em .6em;
    background: #eee;
    margin-top: -0.6em; 
  }
}

#page-sort.sort-tabs {
  font-size: .9em;
  padding-bottom: 0;
  position: relative;
  bottom: -1px;
  margin-top: .2em;

  li, li > a { display: inline-block; }

  // Move the tabs away from the side on small screens
  @include media(max-width $medium-screen) {
    li:first-child { margin-left: .5em; }
    li:first-child.selected { margin-left: 1em; }
  }

  a {
    @include transition(all 0.2s ease-in-out);
    padding: .5em;
    font-size: $discovery-font-size;
    color: $medium-gray;
    border: 1px solid transparent;
    border-bottom: 0;
  }

  & > ul > .selected > a {
    color: $base-font-color;
    border: $base-border;
    padding: .5em 1em;
    background: white; 
    border-radius: $base-border-radius $base-border-radius 0 0;
    border-bottom: 0;
  }
}

#pagination-sort { 
  width: 100%;

  ul {
    display: inline-block;
  }

  .prev a:before {
    font-size: 1.5em;
    line-height: .5em;
    margin: 0 .5em 0 0;
    position: relative;
    top: 1px; 
    content: "\2039";
    color: $medium-gray;
  }

  .next a:after {
    margin: 0 0 0 .5em;
    content: "\203A";
    font-size: 1.5em;
    line-height: .5em;
    position: relative;
    top: 1px; 
    color: $medium-gray;
  }

  .prev a,
  .next a{
    background: $base-border-color;

    &:hover { background: darken($base-border-color, 5); }
  }

  .prev.selected a,
  .next.selected a {
    border: 1px solid transparent;
    color: $medium-gray;
  }

  .select-pages { 
    position: relative;
    float: right;
    margin-left: .5em;

    select { 
      background: $base-border-color;
      color: $medium-gray;
      padding-right: 1.8em;
      -moz-appearance: none;
      appearance: none;

      &:hover { background: darken($base-border-color, 5); }

      option { 
      -moz-appearance: none;
      appearance: none;
      }
    }

    &:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 136, 136, 0);
      border-top-color: $medium-gray;
      border-width: 4px;
      margin-left: -4px;
      right: 1.2em;
      top: 1.4em;
      -webkit-transform: translatey(-25%);
    }
  }
}

#page-sort {
  width: 100%;

  @include media(max-width $medium-screen) {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  ul { white-space: nowrap; }
}
