// Page Content

#page-content { 
  position: relative;
  z-index: 1; 
  min-height: 700px;
  @include outer-container;

  @include media(max-width $medium-screen) {
    font-size: 1.05em;
  }

  @include media($medium-screen) {
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  @media print {
    font-size: .8em;
  }
}

// Page Main

.database #page-main {
  position: relative;
}

#page-main {
  @include media(max-width $medium-screen) {
    padding: 0;    
  }

  @include media($large-screen) {
    @include span-columns(8.5);
  }

  .database.all &,
  .database.cases & {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($large-screen) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.database #page-sort {
  margin-bottom: .2em;
}

#page-sort {
  padding: .5em 1em;

  @include media($medium-screen) {
    padding: .5em 0;
  }

  li, a {
    display: inline-block;
  }

  a {
    padding: .25em .6em;
    font-size: $discovery-font-size;
    color: darken($medium-gray, 15);
    @include transition(all 0.25s ease-in-out);

    &:hover {
      color: $dark-gray;
    }

    @include media(max-width $medium-screen - 10em) {
      padding: .25em .5em;
    }
  }

  & > ul > li:first-child a {
    padding-left: 0;
  }

  .selected > a,
  .selected:first-child > a {
    color: darken($blue, 10);
    padding: .25em .6em;
    background: #c6e0f0;
    border-radius: $base-border-radius; 
    margin-right: 5px;
  }

  .sort-options .selected a {
    border-radius: 0;
    padding: .5em .75em;
    background: $blue;
    border-bottom: darken($blue, 5) 1px solid;
    color: white;
    margin-right: 0;
  }

  .sort-options { 
    [data-sort="qld"],
    [data-sort="sa"],
    [data-sort="tas"],
    [data-sort="vic"],
    [data-sort="wa"],
    [data-sort="no"],
    [data-sort="nz"],
    [data-sort="js"],
    [data-sort="lrs"],
    [data-sort="mt"] {
      display: none;
    }
  }

  .sort-accessed { display: inline; }
  .sort-options .more-cited { display: none; }
  .sort-options .more-accessed { display: none; }

  &.has-special {
    .sort-accessed { display: none; }
    .sort-options .more-accessed { display: inline; }
  }

  @include media(max-width em(560)) {
    .sort-accessed { display: none; }
    .sort-options .more-cited { display: none; }
    .sort-options .more-accessed { display: inline; }

    &.has-special {
      .sort-cited { display: none; }
      .sort-options .more-cited { display: inline; }
    }
  }

  .database.all & ,
  .database.cases & {
    @include media(max-width em(430)) { [data-sort="qld"] { display: none; } .sort-options [data-sort="qld"] { display: inline; }}
    @include media(max-width em(470)) { [data-sort="sa"]  { display: none; } .sort-options [data-sort="sa"]  { display: inline; }}
    @include media(max-width em(520)) { [data-sort="tas"] { display: none; } .sort-options [data-sort="tas"] { display: inline; }}
    @include media(max-width em(560)) { [data-sort="vic"] { display: none; } .sort-options [data-sort="vic"] { display: inline; }}
    @include media(max-width em(680)) { [data-sort="wa"]  { display: none; } .sort-options [data-sort="wa"]  { display: inline; }}
    @include media(max-width em(790)) { [data-sort="no"]  { display: none; } .sort-options [data-sort="no"]  { display: inline; }}
    @include media(max-width em(860)) { [data-sort="nz"]  { display: none; } .sort-options [data-sort="nz"]  { display: inline; }}
    @include media(min-width em(860)) { .sort-more { display: none; }}
  }

  .database.all & {
    .second-row { display: none; }
    @include media(min-width em(860)) { .sort-more { display: none; } .second-row { display: block; border-top: 1px solid #ddd; margin-top: .75em; padding-top: .5em;}}
  }

  .database.journals & {
    @include media(max-width em(400)) { [data-sort="nz"]  { display: none; } .sort-options [data-sort="nz"]  { display: inline; }}
    @include media(max-width em(590)) { [data-sort="js"]  { display: none; } .sort-options [data-sort="js"]  { display: inline; }}
    @include media(max-width em(900)) { [data-sort="lrs"] { display: none; } .sort-options [data-sort="lrs"] { display: inline; }}
    @include media(max-width em(900)) { [data-sort="mt"]  { display: none; } .sort-options [data-sort="mt"]  { display: inline; }}
    @include media(min-width em(900)) { .sort-more { display: none; }}
  }

  .sort-more {
    & > a {
      @include transition(all 0.25s ease-in-out);
      width: 60px;
    }

    & > a:after {
      content: '▼';
      font-size: .6em;
      color: #aaa;
      margin-left: .5em;
    }

    &.selected > a:after {
      color: $action-color;
    }
  }

  .sort-options { 
    @include transition(all 0.25s ease-in-out);
    width: 140px;
    background: #e3e3e3;
    border-radius: 0 $base-border-radius $base-border-radius $base-border-radius;
    position: absolute;
    z-index: 5;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    @include media(max-width $medium-screen) {
      border-radius: $base-border-radius 0 $base-border-radius $base-border-radius;
      margin-left: -80px;
    }

    li, a {
      display: block;
    }

    a {
      @include transition(all 0 ease-in-out);
      padding: .5em .75em;
      font-weight: normal;
      border-bottom: #d4d4d4 1px solid;
      color: #838383;

      &:hover {
        background: $blue;
        border-color: darken($blue, 5);
        color: white;
      }
    }

    li:last-child a {
      border: none;
    }
  }

  &.options-visible {
    .sort-options {
      opacity: 1;
      max-height: 500px;
    }

    .sort-more > a {
      background: #e3e3e3;
      border-radius: $base-border-radius $base-border-radius 0 0;
      color: #838383;
    }
  }
}

.search #page-main .button {
  margin: 0 0 2em 1em;
}
