// Page Content

#page-content { 
  position: relative;
  z-index: 1; 
  min-height: 700px;
  @include outer-container;

  @include media(max-width $medium-screen) { font-size: 1.05em; }

  @include media($medium-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media print { font-size: .8em; }
}

// Page Main

.database #page-main,
.search #page-main { position: relative; }

.document #page-main {
  @include media($large-screen) {
    background: white;
    padding-right: 4em;
    border-right: $base-border;
  }
}

#page-main {
  padding-top: .5em;

  @include media($medium-screen) {
    min-height: 800px;
    padding-top: 1em;
  }

  @include media($large-screen) {
    @include span-columns(8.5);
  }

  .database.all &,
  .database.cases & {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($large-screen) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

html.no-js .sort-more { display: none !important; }

#page-sort-2 {
  font-size: .9em;
  background: white;
  padding-top: .5em;
  border: $base-border;
  border-radius: $base-border-radius;
  margin-bottom: 1em;

  a {
    display: inline-block;
    font-size: $side-font-size;
    @include transition(all 0.25s ease-in-out); 
    margin-right: 1em;
    color: $medium-gray; 

    &.selected { text-decoration: underline; }
  }

  .page-sort-inner { 
    @include outer-container;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sort-extra-item {
    margin-bottom: .25em;
    padding-bottom: .25em;
    display: inline-block;
    border-right: $base-border;
    margin-right: .75em;
    padding-right: .25em;

    &:last-child {
      border: none;
    }
  }
}

#page-sort.sort-solo,
#pagination-sort {
  padding: .5em 1em 0;
  display: inline-block;
  font-size: $side-font-size;

  @include media($medium-screen) {
    padding: 0 1em 1em;
  }

  li, a {
    display: inline-block;
  }

  & > ul > li a {
    color: $medium-gray;
    border: 1px solid transparent;
    border-radius: $base-border-radius;
    line-height: 2.3;
    padding: 0 .5em;
  }

  & > ul > .selected > a {
    color: $red;
    font-weight: bold;
    border-color: $red;
    padding: 0 .75em;
  }
}

#page-sort.sort-tabs {
  font-size: .9em;
  padding-bottom: 0;
  position: relative;
  bottom: -1px;

  & > ul > li,
  & > ul > li > a { display: inline-block; }

  a {
    @include transition(all 0.2s ease-in-out);
    padding: .5em;
    font-size: $discovery-font-size;
    color: $medium-gray;
    border: 1px solid transparent;
    border-bottom: 0;
  }

  & > ul > .selected > a {
    color: $base-font-color;
    border: $base-border;
    padding: .5em 1em;
    background: white; 
    border-radius: $base-border-radius $base-border-radius 0 0;
    border-bottom: 0;
  }
}

#pagination-sort { 
  width: 100%;

  ul {
    display: inline-block;
  }

  .prev a:before {
    font-size: 1.5em;
    line-height: .5em;
    margin: 0 .5em 0 0;
    position: relative;
    top: 1px; 
    content: "\2039";
    color: $medium-gray;
  }

  .next a:after {
    margin: 0 0 0 .5em;
    content: "\203A";
    font-size: 1.5em;
    line-height: .5em;
    position: relative;
    top: 1px; 
    color: $medium-gray;
  }

  .prev a,
  .next a{
    background: $base-border-color;

    &:hover { background: darken($base-border-color, 5); }
  }

  .prev.selected a,
  .next.selected a {
    border: 1px solid transparent;
    color: $medium-gray;
  }

  .select-pages { 
    position: relative;
    float: right;
    margin-left: .5em;

    select { 
      background: $base-border-color;
      color: $medium-gray;
      padding-right: 1.8em;
      -moz-appearance: none;
      appearance: none;

      &:hover { background: darken($base-border-color, 5); }
    }

    &:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 136, 136, 0);
      border-top-color: $medium-gray;
      border-width: 4px;
      margin-left: -4px;
      right: 1.2em;
      top: 1.4em;
      -webkit-transform: translatey(-25%);
    }
  }
}

#page-sort {
  .sort-options { 
    [data-sort="qld"], [data-sort="sa"], [data-sort="tas"], [data-sort="vic"],
    [data-sort="wa"], [data-sort="no"], [data-sort="nz"], [data-sort="js"],
    [data-sort="lrs"], [data-sort="mt"] { display: none; }
  }

  .sort-accessed { display: inline; }
  .sort-options .more-cited { display: none; }
  .sort-options .more-accessed { display: none; }

  &.has-special {
    .sort-accessed { display: none; }
    .sort-options .more-accessed { display: inline; }
  }

  @include media(max-width em(560)) {
    .sort-accessed { display: none; }
    .sort-options .more-cited { display: none; }
    .sort-options .more-accessed { display: inline; }

    &.has-special {
      .sort-cited { display: none; }
      .sort-options .more-cited { display: inline; }
    }
  }

  .database.all & ,
  .database.cases &,
  .database.status & {
    @include media(max-width em(430)) { [data-sort="qld"] { display: none; } .sort-options [data-sort="qld"] { display: block; }}
    @include media(max-width em(470)) { [data-sort="sa"]  { display: none; } .sort-options [data-sort="sa"]  { display: block; }}
    @include media(max-width em(520)) { [data-sort="tas"] { display: none; } .sort-options [data-sort="tas"] { display: block; }}
    @include media(max-width em(560)) { [data-sort="vic"] { display: none; } .sort-options [data-sort="vic"] { display: block; }}
    @include media(max-width em(680)) { [data-sort="wa"]  { display: none; } .sort-options [data-sort="wa"]  { display: block; }}
    @include media(max-width em(790)) { [data-sort="no"]  { display: none; } .sort-options [data-sort="no"]  { display: block; }}
    @include media(max-width em(860)) { [data-sort="nz"]  { display: none; } .sort-options [data-sort="nz"]  { display: block; }}
    @include media(min-width em(860)) { .sort-more { display: none; }}
  }

  .database.status & {
    @include media(min-width em(680)) { .sort-more { display: none; }}
  }

  .database.all & {
    .second-row { display: none; }
    @include media(min-width em(860)) {
      .sort-more { display: none; }

      .second-row {
        display: block;
        clear: both;
      }
    }
  }

  .database.journals & {
    @include media(max-width em(400)) { [data-sort="nz"]  { display: none; } .sort-options [data-sort="nz"]  { display: inline; }}
    @include media(max-width em(590)) { [data-sort="js"]  { display: none; } .sort-options [data-sort="js"]  { display: inline; }}
    @include media(max-width em(900)) { [data-sort="lrs"] { display: none; } .sort-options [data-sort="lrs"] { display: inline; }}
    @include media(max-width em(900)) { [data-sort="mt"]  { display: none; } .sort-options [data-sort="mt"]  { display: inline; }}
    @include media(min-width em(900)) { .sort-more { display: none; }}
  }

  .results.search & {
    @include media(max-width em(400)) { .sort-date      { display: none; } .more-date      { display: inline; }}
    @include media(max-width em(590)) { .sort-title     { display: none; } .more-title     { display: inline; }}
    @include media(max-width em(900)) { .sort-database  { display: none; } .more-database  { display: inline; }}
    @include media(max-width em(900)) { .sort-citations { display: none; } .more-citations { display: inline; }}
    @include media(min-width em(900)) { .sort-more { display: none; }}
  }

  .sort-more {
    & > a {
      @include transition(all 0.2s ease-in-out);
      width: 70px;
    }

    & > a:after {
      content: '\25bc';
      font-size: .6em;
      color: #aaa;
      margin-left: .5em;
    }

    &.selected > a:after { color: $action-color; }
  }

  &.sort-solo .sort-more.selected > a:after { color: $red; }

  .sort-options {
    @extend %dropdown;
    margin-top: -0.5px;
    width: 140px;
    border-radius: 0 $base-border-radius $base-border-radius $base-border-radius;

    @include media(max-width $medium-screen) {
      border-radius: $base-border-radius 0 $base-border-radius $base-border-radius;
      margin-left: -70px;
    }

    .selected a { color: $blue; }
  }

  &.options-visible {
    .sort-options {
      opacity: 1;
      max-height: 500px;
    }

    .sort-more > a {
      color: $base-font-color;
      border: $base-border;
      border-bottom: none;
      padding: .5em 1em;
      background: white; 
      border-radius: $base-border-radius $base-border-radius 0 0;
      position: relative;
      z-index: 6;
    }
  }
}

.search #page-main .button {
  margin: 0 0 2em 1em;
}
