// Page Content

#page-content {
  position: relative;
  z-index: 1;
  min-height: 700px;
  @include outer-container;

  .contribute & {
    padding-bottom: $base-spacing;
  }

  @include media(max-width $medium-screen) { font-size: 1.05em; }

  @include media($medium-screen) {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
  }

  @media print { font-size: .8em; }
}

// Page Main

.database #page-main,
.search #page-main { position: relative; }

.document #page-main {

  @include media(max-width $large-screen) {
    background: white;
    margin-left: -1em;
    margin-right: -0.1em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: $base-border;
  }

  @include media($large-screen) {
    background: white;
    padding-right: 4em;
    border-right: $base-border;
  }
}

#page-main {
  padding-top: .5em;

  @include media($medium-screen) {
    min-height: 800px;
    padding-top: 1em;
  }

  @include media($large-screen) {
    @include span-columns(8.5);
  }

  .database.all &,
  .database.cases & {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($large-screen) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .contribute & {
    float: none;
    margin: 0 auto;
  }
}

html.no-js .sort-more,
.no-js #page-sort,
.no-js .card-options,
.no-js .select-all-none { display: none !important; }

// Search results sort row for joining sort-tabs
#page-sort-2 {
  font-size: .9em;
  background: white;
  padding-top: .5em;
  border-top: $base-border;
  border-bottom: $base-border;
  margin-bottom: 1em;

  @include media($medium-screen) {
    border-radius: $base-border-radius;
    border: $base-border;
  }

  a {
    display: inline-block;
    font-size: $side-font-size;
    @include transition(all 0.25s ease-in-out);
    margin-right: 1em;
    color: $medium-gray;

    &.selected { text-decoration: underline; }
  }

  .page-sort-inner {
    @include outer-container;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sort-extra-item {
    margin-bottom: .25em;
    padding-bottom: .25em;
    display: inline-block;

    @include media(max-width $medium-screen) {
      display: block;
      border-bottom: $base-border;

      &:last-child {
        border: none;
      }
    }

    @include media($medium-screen) {
      border-right: $base-border;
      padding-right: .25em;
      margin-right: .75em;
    }

    &:last-child {
      border: none;
    }
  }
}

#page-sort.sort-solo,
#pagination-sort {
  padding: .5em 1em .1em;
  display: inline-block;
  font-size: $side-font-size;

  @include media($medium-screen) {
    padding: 0 1em 1em;
  }

  li,
  a,
  span.sort-button {
    display: inline-block;
    margin-bottom: .1em;
  }

  & > ul > li a,
  & > ul > li span.sort-button { padding: 0 .5em; }

  & > ul > li a,
  & > ul > li span.sort-button,
  & > ul > .sort-options {
    color: $medium-gray;
    border: 1px solid $border-light-gray;
    background: $border-light-gray;
    border-radius: $base-border-radius;
    line-height: 2.2;
    height: 2.3em;

    @include media($medium-screen) {
      border: 1px solid #eee;
      background: #eee;
    }
  }

  & > ul > .selected > a,
  & > ul > .selected > span.sort-button,
  & > ul > .selected.sort-options {
    color: $red;
    border-color: $red;
    background: transparent;
    padding: 0 .75em;
  }

  & > ul > .sort-options {
    position: relative;

    a {
      border: none;
      background: transparent;
      padding: 0 .7em 0 .75em;
    }

    div {
      position: absolute;
      top: .2em;
      right: .25em;
      cursor: pointer;
      background: $red;
      border: 1px solid $red;
      border-radius: $base-border-radius;
      display: none;
      width: 2em;
      height: 1.7em;

    select {
      display: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    }

  }

  & > ul > .selected.sort-options {
    padding: 0 2.2em 0 0;

    div {
      display: block;

      &:hover {
        border-color: $medlight-gray;
        background: transparent;
      }
    }

    select {
      background: transparent;
      border: 1px solid transparent;
      border-radius: $base-border-radius;
      display: block;
      color: white;
      height: 1.9em;
      font-size: .85em;
      margin-bottom: 0;
      line-height: 1.5;
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      outline: none;

      option {
        text-align: center;
        background: #eee;
        color: $dark-gray;

        &.active {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 10;
          background: $red;
        }

        }

      &:hover {
        color: $dark-gray;

        option.active {
          position: relative;
          color: white;
        }
      }
    }
  }
}

.sort-button {
  cursor: pointer;
}

#page-sort.sort-solo {
  .second-row {
    margin-top: .25em;
  }

  @include media(max-width $medium-screen) {
    padding: .6em 1em .6em;
    background: #eee;
    margin-top: -0.6em;
  }
}

#page-sort.sort-tabs {
  font-size: .9em;
  padding-bottom: 0;
  position: relative;
  bottom: -1px;
  margin-top: .2em;

  li, li > a { display: inline-block; }

  // Move the tabs away from the side on small screens
  @include media(max-width $medium-screen) {
    li:first-child { margin-left: .5em; }
    li:first-child.selected { margin-left: 1em; }
  }

  a {
    @include transition(all 0.2s ease-in-out);
    padding: .5em;
    font-size: $discovery-font-size;
    color: $medium-gray;
    border: 1px solid transparent;
    border-bottom: 0;
  }

  & > ul > .selected > a {
    color: $base-font-color;
    border: $base-border;
    padding: .5em 1em;
    background: white;
    border-radius: $base-border-radius $base-border-radius 0 0;
    border-bottom: 0;
  }

  & > ul > .sort-item.is-loading > a.sort-url {
    position: relative;
    padding: .5em 1.75em .5em 1em;
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 4px;
      top: 9px;
      opacity: 1;
      transition: opacity .3s;
      transition-delay: .2s;
      height: 15px;
      width: 15px;
      @extend .load-spinner;
    }
  }
  
  & > ul > .sort-item > a.sort-url {
    &:after {
      content: "";
      opacity: 0;
      transition: opacity .3s;
      transition-delay: .2s;
    }
  }
}

//inclosed tabs with block content
.tabs-block {
  background: #f9f9f9;
  overflow: auto;
  overflow-y: hidden;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: $base-border-color;
  margin-bottom: 1px;
  
  @include media($desktop-screen) {
    font-size: .9em;
  }
  
  @include media(em(1024)) {
    overflow: visible;
  }
  
  @include media(em(1165)) {
    font-size: 1em;
  }

  ul {
    white-space: nowrap;
    
    .query-type {
      @include transition(all 0.2s ease-in-out);
      padding: .5em;
      font-size: $discovery-font-size;
      color: #A4A4A4;
      border: 1px solid transparent;
      border-bottom: 0;
      display: inline-block;
      cursor: pointer;
  
      @include media($desktop-screen) {
        padding: .5em .25em;
      }
      
      @include media($x-large-screen) {
        padding: .5em;
      }
        
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
        background: transparent;
        transition: background .3s;
      }

      &.selected {
        color: $base-font-color;
        border-left: $base-border;
        border-right: $base-border;
        background: white;
        border-radius: 0;
        border-bottom: 0; 
        position: relative;

        &:first-child {
          border-left: 1px solid transparent;
        }
        
        &::after {
          background: white;
        }
      }
    }    
  } 
  
  & + .card {
    .multi h6 {
      margin: 0;
      padding-top: .45em;
    }
  }
}

.load-spinner {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44'%3E%3Cpath fill='%23EE2F33' d='M21.963 7.5c-2.82-.09-5.582.66-7.976 2.16-2.386 1.49-4.34 3.718-5.507 6.33-1.176 2.6-1.558 5.598-1.072 8.464.477 2.87 1.84 5.61 3.88 7.76 2.03 2.154 4.725 3.71 7.66 4.37 2.934.667 6.093.458 8.946-.64 2.856-1.09 5.398-3.06 7.19-5.597 1.805-2.53 2.84-5.63 2.915-8.785.09 3.154-.78 6.356-2.5 9.063-1.707 2.712-4.247 4.922-7.224 6.24-2.974 1.33-6.364 1.75-9.62 1.188-3.258-.553-6.36-2.112-8.784-4.426-2.43-2.306-4.18-5.363-4.917-8.688-.745-3.323-.498-6.875.753-10.1 1.24-3.223 3.467-6.078 6.33-8.088 2.844-2.022 6.38-3.177 9.873-3.25l.072-.002c1.105-.023 2.02.854 2.043 1.958s-.854 2.02-1.96 2.043h-.102z'/%3E%3C/svg%3E");
  background-size: cover;
  -webkit-animation: load-spinner 1.4s infinite linear;
  animation: load-spinner 1.4s infinite linear;
}

@-webkit-keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



#pagination-sort {
  width: 100%;

  ul {
    display: inline-block;
  }

  .prev a:before {
    font-size: 1.5em;
    line-height: .5em;
    margin: 0 .5em 0 0;
    position: relative;
    top: 1px;
    content: "\2039";
    color: $medium-gray;
  }

  .next a:after {
    margin: 0 0 0 .5em;
    content: "\203A";
    font-size: 1.5em;
    line-height: .5em;
    position: relative;
    top: 1px;
    color: $medium-gray;
  }

  .prev a,
  .next a{
    background: $base-border-color;

    &:hover { background: darken($base-border-color, 5); }
  }

  .prev.selected a,
  .next.selected a {
    border: 1px solid transparent;
    color: $medium-gray;
  }

  .select-pages {
    position: relative;
    float: right;
    margin-left: .5em;

    select {
      background: $base-border-color;
      color: $medium-gray;
      padding-right: 1.8em;
      -moz-appearance: none;
      appearance: none;

      &:hover { background: darken($base-border-color, 5); }

      option {
      -moz-appearance: none;
      appearance: none;
      }
    }

    &:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 136, 136, 0);
      border-top-color: $medium-gray;
      border-width: 4px;
      margin-left: -4px;
      right: 1.2em;
      top: 1.4em;
      -webkit-transform: translatey(-25%);
    }
  }
}

#page-sort {
  width: 100%;

  @include media(max-width $medium-screen) {
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    ul { white-space: nowrap; }
  }
}

blockquote {
  padding-left: .5em;
}

//make tables work on smaller screens

table {
  @include media(max-width $medium-screen) {
    border-bottom: 1px solid $base-border-color;
    border-left: 1px solid $base-border-color;
    font-size: $base-font-size/1.25;

    thead {
      display: block;
      float: left;

      tr {
        display: block;

        th {
          display: block;
          text-align: left;
          background-color: darken($base-border-color, 50%);
          color: white;
          padding: $small-spacing;
          border-top: 1px solid;
          border-bottom: none;
        }
      }
    }

    tbody {
      display: block;
      overflow-x: auto;
      position: relative;
      white-space: nowrap;
      width: auto;

      tr,
      tr:last-child {
        display: inline-block;
        vertical-align: top;
        border-right: 1px solid $base-border-color;

        td {
          display: block;
          border-top: 1px solid $base-border-color;
          border-bottom: none;
          width: auto;
          padding: $small-spacing;

          br {
            display: none;

            &:after { content: " | "; }
          }
        }
      }
    }
  }
}

// Rules for printing homepage


@media print {

  html { background: white; }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-repeat: repeat-y;


    #page-content {
      padding-left: 0;
    }

    .card {
      img { display: none; }
    }

    #page-side {
      float: left;
      margin-left: 1em;
      margin-top: 2.4em;
      width: 23.2318%;
    }

    table {
      max-width: 560px !important;

      colgoup col{ width: auto; }
      td { border-bottom: none; }
    }

    #page-main {
      float: left;
      margin-right: 2.35765%;
      width: 70.1457%;

      #page-sort {

        &.sort-tabs a {
          line-height: .5;
        }

        ul { overflow: hidden; }
      }

      .the-document {
        h1 { display: block; }

        ol li::before {
          color: #333333;
        }
      }
    }

    &.document {
      background-color: #f8f8f8;

      #page-main {
        background: white;
        border-right: 1px solid #ebebeb;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: -1em;
      }
    }

    .closing {
      bottom: 0;
      float: right;
      margin-right: 2.35765%;
      position: relative;
      clear: both;
      width: 23.2318%;
      top: -12.5em;
    }

    header {
      .go-search,
      #page-search { display: none; }
      #page-title { white-space: nowrap; }
    }

    .card {
      border: 1px solid #ebebeb;
      border-radius: 3px;

      li { padding: .5em 1em; }

      &.card-checkboxes .checkbox { margin-left: 0 !important; }

      &.card-checkboxes a { padding: .5em 1em .5em .5em !important; }

    }

    .half-row {
      display: block;
      float: left !important;
      margin-right: 2.35765% !important;
      width: 48.8212% !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }

    #panels > div > div {
      font-size: 0.75em;
      //height: 65px;
    }

    .card-title { padding: 0.55em 1em 0.5em; }

    .card-options { display: none; }

    #ribbon,
    #panels { overflow: hidden; }

    #ribbon {

      a {
          line-height: .95;
      }
    }

    #panels {
      min-height: auto;

      li { padding: 1em 0 1em 0.65em; }

      li > a {
        min-height: auto;
        height: 30px;
        padding: 0.5em 1em 0.5em;
      }

      #panels h5 {
        line-height: 1;
        margin: 0;
      }
    }

    .card-group {
      margin-left: 1em;

      :first-child {
        .multi:nth-of-type(n+4) { display: none; }
      }

      :nth-child(2) {
        li:nth-of-type(n+20) { display: none; }
      }
    }

    #page-side {
      padding-bottom: 0;

      .side-tools,
      .side-statistics,
      .side-download {
        display: none !important;
      }

      .side-element svg {
        height: 20px;
        width: 20px;
        top: 1.3em;
      }
      .side-element:first-child svg {
        top: 3px;
      }
    }

    #pagination-sort, .side-about, .side-about > h6 + ul:last-child, .side-about > h6:nth-last-child(2) { display: none; }

    .closing {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;

      .inner {
        position: absolute;
        height: 100px;
        bottom: -100px;

        img { width: 100px; }
      }
    }

    #ribbon,
    #page-header {
      width: 100%;
      clear: both;
    }

    #page-header { padding-bottom: 1em; }

    #page-logo {
      padding: 0;
    }

    &.checklist {
      .filters-search { display: none; }
    }
  }

  .database,
  .results,
  .about,
  .search {

    #page-side {

      .side-tools,
      .side-statistics {
        display: block;
      }
    }
  }

  .about,
  .search {

    #page-side {

      .side-about {
        display: block;
        overflow: hidden;
      }
    }
  }

  .personnel {

    .person {
      padding-left: 180px;

      img {
        margin-left: -180px;
        position: absolute;
      }
    }
  }
}

//js helpers
.hide { display: none !important; }
