// Panels

#panels {
  background: $panel-bg;
  position: relative;
  z-index: 1;
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 70px;
  @include transition(all 0.25s ease-in-out);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  letter-spacing: -0.01em;

  .inner {
    max-width: 75em;
    margin: 0 auto;
  }

  @include media($medium-screen) {
    overflow: auto;
    overflow-y: hidden;
  }
 
  li, a {
    display: inline-block;
    color: white;
  }

  li {
    padding: 1em 0 1em .75em;
  }

  & li > a {
    min-height: 44px;

    &:hover {
      background: lighten($panel-fg, 20);
    }
  }

  a,
  #panel-year li div {
    padding: 1em 1em .3em;
    background: $panel-fg;
    border-radius: $base-border-radius; 
  }

  #panel-year li > div {
    padding: 1em 1em .7em;
    min-height: 57px;
  }

  h5 {
    color: white;
    margin-bottom: .45em;
  }

  p {
    color: #c5c4c4;
    margin: -5px 0 .7em;
  }

  .is-selected a {
    background: white;
    color: $panel-bg;
    
    h5 {
      color: $panel-bg;
    }
    
    p {
      color: darken(#c5c4c4, 15);
    }
  }

  & > div > div {
    @include transition(all 0.25s ease-in-out);
    font-size: .85em;
    max-height: 0;
    opacity: 0;
    position: relative;
  }

  &.is-type {
    height: 90px;

    ul {
      min-width: 1550px;
    }

    @include media($medium-screen) {
      height: 105px;
    }
    
    #panel-type {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-jurisdiction {
    ul {
      min-width: 850px;
    }

    #panel-jurisdiction {
      max-height: 100px;
      opacity: 1;
      z-index: 10;

      @include media($medium-screen + 20em) {
        .home & {
          text-align: center; 
        }
      }
    }
  }

  &.is-closed {
    height: 0;
    min-height: 0;
  }

  &.is-year {
    height: 83px;

    ul {
      min-width: 500px;
    }

    #panel-year {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-letter {
    height: 70px;

    @include media($medium-screen) {
      height: 80px;
    }

    ul {
      min-width: 1400px;
    }

    #panel-letter {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  #panel-year {
    h5 {
      display: inline-block;
    }

    .year-specific-dropdown,
    .year-range-dropdown-1,
    .year-range-dropdown-2,
    .date-range {
      padding: .2em .5em;
      margin-left: .7em;
      display: inline-block;
      background: #434343;
      border: 2px solid #575757;
      color: white;

      &.is-selected {
        background: white;
        color: $base-font-color;
        border-color: #ddd;
      }

      &:after {
        content: '▼';
        color: #858585;
        font-size: .8em;
        margin-left: .5em;
      }
    }


    .date-range {
      padding: 0;

      &:after {
        content: '';
        display: none;
      }
      
      a {
        background: transparent;
        padding: 0;
        padding: .2em .5em .2em .6em;
        border-right: 2px solid #575757;
        border-radius: 0;

        &.is-selected {
          background: white;
          color: #333;
          border-color: #ddd;
        }

        &:after {
          content: '▼';
          color: #858585;
          font-size: .8em;
          margin-left: .5em;
        }

        &:last-child {
          border: none;
        }
      }
    }

    .button {
      background: $red;
      color: white;
      padding: .2em .5em;
      border: 2px solid $red;
      margin-left: .7em;

      &:hover {
        background: lighten($red, 10);
        border: 2px solid lighten($red, 10);
      }
    }
  }
}

.year-options-list {
  background: $panel-fg;
}

.year-options {
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  @include transition(all 0.5s ease-in-out);

  &.is-visible {
    opacity: 1;
    max-height: 700px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  li {
    display: inline-block;

    // Specific rows/columns for years at certain screen sizes
    @include media(max-width em(480)) {
      @include span-columns(3);
      a { width: 100%; }
      &:nth-child(4n) { @include omega; }
    }

    @include media(min-width em(480) max-width em(800)) {
      @include span-columns(2);
      a { width: 100%; }
      &:nth-child(6n) { @include omega; }
    }

    @include media(min-width em(800) max-width em(1200)) {
      @include span-columns(1);
      a { width: 100%; }
      &:nth-child(12n) { @include omega; }
    }
  }

  a {
    display: inline-block;
    padding: .8em 1em;
    background: darken($panel-fg, 10);
    border-radius: $base-border-radius;
    margin: .5em 1em 0 0;
    color: white;
    font-size: .8em;

    &:hover {
      background: lighten($panel-fg, 10);
    }
  }
}
