// Panels

#panels {
  background: $panel-bg;
  border-top: 1px solid darken($panel-bg, 5);
  border-bottom: 1px solid darken($panel-bg, 5);
  position: relative;
  z-index: 1;
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 70px;
  @include transition(all 0.25s ease-in-out);
  letter-spacing: -0.01em;

  &.is-closed {
    border: none;
  }

  .inner {
    max-width: 75em;
    margin: 0 auto;
  }

  @include media($medium-screen) {
    overflow: auto;
    overflow-y: hidden;
  }
 
  li, a {
    display: inline-block;
    color: white;
  }

  li {
    padding: 1em 0 1em .75em;
    vertical-align: top;
  }

  li:first-child {
    margin-left: .4em;
  }

  & li > a {
    min-height: 44px;
  }

  & li a:hover {
    background: lighten($panel-fg, 20);
  }

  & li.is-selected a:hover {
    background: darken(white, 10);
  }

  a,
  #panel-year li div {
    padding: 1em 1em .3em;
    background: $panel-fg;
    border-radius: $base-border-radius; 
  }
  
  #panel-letter {
    
    a {
      padding: 0;
      
      h5 {
        background: transparent;
        color: white;
        min-height: initial;
      }
    }
    
    h5 {
      padding: 1em 1em 0;
      background: lighten($panel-fg, 5);
      color: $medlight-gray;
      min-height: 44px;
      border-radius: $base-border-radius;
      margin-bottom: 0;
    }
    
    .is-selected {
      a h5 {
        color: $panel-bg;
      }
    }
  }

  #panel-year li > div {
    padding: 1em 1em .7em;
    min-height: 57px;
  }

  h5 {
    color: white;
    margin-top: .05em;
  }

  p {
    color: #c5c4c4;
    margin: -5px 0 .7em;
  }

  .is-selected a {
    background: white;
    color: $panel-bg;
    
    h5 {
      color: $panel-bg;
    }
    
    p {
      color: darken(#c5c4c4, 15);
    }
  }

  & > div > div {
    @include transition(all 0.25s ease-in-out);
    font-size: .85em;
    max-height: 0;
    opacity: 0;
    position: relative;
  }

  &.is-type {
    ul { min-width: 1550px; }

    #panel-type {
      max-height: 100px;
       @include media($xx-large-screen) { max-height: 110px; }
       @include media($xxx-large-screen) { max-height: 118px; }
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-jurisdiction {
    ul { min-width: 850px; }

    #panel-jurisdiction {
      max-height: 100px;
      opacity: 1;
      z-index: 10;

      @include media($medium-screen + 20em) {
        .home & {
          text-align: center; 
        }
      }
    }
  }

  &.is-closed {
    height: 0;
    min-height: 0;
  }

  &.is-year {
    ul { min-width: 500px; }

    #panel-year {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-letter {

    #panel-letter {
      max-height: 100px;
      opacity: 1;
      z-index: 10;
      white-space: nowrap;
      
      li {
        padding-left: .35em;
        
        @include media(em(1600)){
          h5 {
            padding: .75em 1em 0;
          }
        }
      }
    }
  }

  #panel-year {
    min-width: 550px;

    h5 { display: inline-block; }

    select { display: none; }

    .year-specific-dropdown,
    .year-range-dropdown-1,
    .year-range-dropdown-2,
    .date-range {
      @include font-feature-settings("tnum");
      padding: .2em .5em;
      margin-left: .7em;
      display: inline-block;
      background: #434343;
      border: 2px solid #575757;
      color: white;

      &.is-selected {
        background: white;
        color: $base-font-color;
        border-color: $border-light-gray;
      }

      &:after {
        content: '\25bc';
        color: #858585;
        font-size: .65em;
        margin-left: .5em;
      }
    }

    .date-range {
      padding: 0;

      &:after {
        content: '';
        display: none;
      }
      
      a {
        background: transparent;
        padding: 0;
        padding: .2em .5em .2em .6em;
        border-right: 2px solid #575757;
        border-radius: 0;

        &.is-selected {
          background: white;
          color: #333;
          border-color: $border-light-gray;
        }

        &:after {
          content: '\25bc';
          color: #858585;
          font-size: .65em;
          margin-left: .5em;
          pointer-events: none;
        }

        &:last-child {
          border: none;
        }
      }
    }

    .button {
      background: $red;
      color: white;
      padding: .2em .5em;
      border: 2px solid $red;
      margin-left: .7em;

      &:hover {
        background: lighten($red, 10);
        border: 2px solid lighten($red, 10);
      }
    }
  }
}

.year-options-list {
  background: $panel-fg;
  @include font-feature-settings("tnum");
}

.year-options {
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  @include transition(all 0.5s ease-in-out);

  &.is-visible {
    max-height: 3000px;
    opacity: 1;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  li {
    text-align: center;
    padding: 0 .4em;
    float: left;
    a { width: 100%; }

    // Specific rows/columns for years at certain screen sizes
    @include media(max-width em(480)) {
      width: 25%;
    }

    @include media(min-width em(480) max-width em(800)) {
      width: 16.6%;
    }

    @include media(min-width em(800) max-width em(1200)) {
      width: 10%;
    }

    @include media(min-width em(1200) max-width em(1600)) {
      width: 6.6%;
    }

    @include media(min-width em(1600) max-width em(2400)) {
      width: 5%;
    }
  }

  a {
    display: inline-block;
    padding: .8em 1em;
    background: darken($panel-fg, 10);
    border-radius: $base-border-radius;
    margin: .5em 1em 0 0;
    color: white;
    font-size: .8em;

    &:hover {
      background: lighten($panel-fg, 10);
    }
  }
}

// No-JS select boxes
.no-js {
  .year-specific-dropdown,
  .year-range-dropdown-1,
  .year-range-dropdown-2 {
    display: none !important
  }

  #panel-year select {
    display: inline-block !important;
    margin: 0 0 0 10px;
  }
}
