// Ribbons

.about #ribbon a {
    color: #ffbfba;
}

#ribbon {
  background: $red;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 4;
  letter-spacing: -0.01em;

  .inner {
    max-width: 74em;
    margin: 0 auto;
  }

  .ribbon-type { z-index: 7; }
  .ribbon-jurisdiction { z-index: 6; }
  .ribbon-library { z-index: 6; }
  .ribbon-database { z-index: 5; }
  .ribbon-year { z-index: 4; }
  .ribbon-letter { z-index: 3; }
  .ribbon-citation { z-index: 2; }
  .ribbon-country { z-index: 1; }
  .ribbon-subject { z-index: 0; }
  
  [class^="ribbon-"] {
    margin-right: 1px;
  }

  .ribbon-type a {
    padding-left: .5em;
  }

  @include media($medium-screen) {
    overflow: auto;
    overflow-y: hidden;
  }

  span {
    display: block;
    color: #ffbfba;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    font-weight: 400;
  
    @include media(max-width $medium-screen) {
      display: none;
    }
  }

  ul {
    min-width: 370px;
    white-space: nowrap;

    @include media($medium-screen) {
      min-width: 850px;
    }
  }

  li, a {
    display: inline-block;
    color: white;
  }

  a {
    padding: .7em .55em .7em 1em;
    position: relative;
    font-size: .9em;
    font-weight: 600;
    line-height: 1.4;
    margin-left: -4px;

    .home & {
      padding: .7em .75em;
    }

    @include media($medium-screen) {
      padding: .75em 1.55em .85em 1.5em;
    }

    @include media($xx-large-screen) {
      line-height: 1.1;
    }
  }

  a:hover,
  a:focus,
  .is-selected a {
    background: lighten($red, 10);
  }

  .ribbon-document.is-selected a {
    background: $red;
  }

  .is-selected:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 10px 10px 0 10px;
    position: absolute;
    border-color: transparent transparent transparent transparent; // the first one
    bottom: -5px;
    left: 40%; 
    z-index: 2;
  }

  li {
    position: relative;
  }

  li:first-child.is-selected a,
  li:first-child a:hover,
  li:first-child a:focus {
    @include linear-gradient(90deg, $red 0%, lighten($red, 10) 50%);
  }

  li:last-child.is-selected a,
  li:last-child a:hover,
  li:last-child a:focus {
    @include linear-gradient(90deg, lighten($red, 10) 50%, $red 100%);
  }

  li:first-child a {
    padding-left: 1.4em;
  }

  li:last-child a:before,
  li:last-child a:after {
    display: none;
  }

  a:hover:before,
  a:focus:before,
  a:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 20px 0 20px 7px;
    position: absolute;
    border-color: transparent transparent transparent #d82d21; 
    top: 0;
    right: -7px;

    @include media($medium-screen) {
      border-width: 32px 0 32px 7px;
    }
  }

  .results & {
    .ribbon-letter a:hover:before,
    .ribbon-letter a:focus:before,
    .ribbon-letter a:before,
    .ribbon-country a:hover:before,
    .ribbon-country a:focus:before,
    .ribbon-country a:before,
    .ribbon-subject a:hover:before,
    .ribbon-subject a:focus:before,
    .ribbon-subject a:before {
      border-color: #d82d21;
    }
  }

  a:hover:after,
  a:focus:after,
  a:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 20px 0 20px 7px;
    position: absolute;
    border-color: transparent transparent transparent $red;
    top: 0;
    right: -6px;

    @include media($medium-screen) {
      border-width: 32px 0 32px 7px;
    }
  }

  .results & {
    .ribbon-letter a:hover:after,
    .ribbon-letter a:focus:after,
    .ribbon-letter a:after,
    .ribbon-country a:hover:after,
    .ribbon-country a:focus:after,
    .ribbon-country a:after,
    .ribbon-subject a:hover:after,
    .ribbon-subject a:focus:after,
    .ribbon-subject a:after {
      border-color: $red;
    }
  }

  a:hover:after,
  a:focus:after,
  .is-selected a:after {
    border-color: transparent transparent transparent lighten($red, 10);
  }

  .results & {
    .ribbon-letter a:hover:after,
    .ribbon-letter.is-selected a:after,
    .ribbon-country a:hover:after,
    .ribbon-country.is-selected a:after,
    .ribbon-subject a:hover:after,
    .ribbon-subject.is-selected a:after {
      border-color: lighten($red, 10);
    }
  }

  .home &,
  .about & {
    a:after,
    a:before {
      display: none;
    }

    @include media($medium-screen) {
      a {
        padding: .8em 1em;
        font-weight: 400;
      }
    }

    @include media($medium-screen + 20em) {
      text-align: center;

      a {
        padding: 1em;
        font-size: 1em;
      }
    }
  }

  .home.about & {
    @include media($medium-screen + 20em) {
      text-align: left;
    }
  }
}
