// Search

.search-box {
  position: absolute;
  top: 0;
  max-height: 50px;
  width: 100%;
  padding-right: 50px;
  padding-left: 1em;

  fieldset {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;

    legend { display: none; }
  }

  #page-sort & {
    position: relative;
    top: 0;
    padding-left: 0;
  }

  @include media($medium-screen) {
    top: -22px;
  }

  @include media($medium-screen + 20em) {
    right: 0;
    top: -46px;
    width: 500px;
    padding-right: 1em;
  }

  @include media($medium-screen + 20em) {
    .home & {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: 600px;
      margin: 0 auto;
      padding-left: 135px
    }
  }
}

// The down arrow to open search dropdowns
.search-dropdown {
  @include transition(all 0.25s ease-in-out);
  text-align: center;
  display: inline-block;
  float: left;
  width: 15%;
  height: 33px;
  font-size: .8em;
  background: $light-gray;
  border: $base-border;
  border-right: none;
  border-radius: $base-border-radius 0 0 $base-border-radius;
  color: #a1a1a1;
  line-height: 2.7;

  // Gray this out when no JS is available
  html.no-js & { color: #f4f4f4; }

  // Enable hover states when JS is available
  html.js & {
    &:hover { color: black; }
  }

  // Change width on larger screens (since it's % based)
  @include media(em(480)) { width: 10%; }

  // Change height on larger screens (to match width changes)
  @include media($medium-screen) {
    height: 40px;
    line-height: 3.2;
  }
}

// If no JS, list out these options underneath the search box
html.no-js .search-options {
  position: absolute;
  top: 38px;
  right: 1em;
  text-align: right;
  width: 100%;

  li {
    display: inline-block;
    font-size: .7em;
    margin-left: .25em;
  }

  input { margin-left: .25em; }
}

// Reposition search options dropdown on homepage
html.js .home .search-box .search-options {
  @include media($medium-screen) { left: 135px; }
}

// Create search options dropdown styles & hide them
html.js .search-options {
  @include transition(all 0.25s ease-in-out);
  background: #e9e9e9;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  position: absolute;
  z-index: 5;
  top: 33px;
  left: 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  a,
  label {
    padding: 0 .75em .5em;
    display: block;
    margin: 0;
    font-size: .8em;
    font-weight: normal;
  }

  li {
    border-bottom: #d4d4d4 1px solid;
    margin-left: .75em;

    label { padding-left: 0; }

    &:last-child { border-bottom: none; }
  }

  label:first-child { padding-top: .5em; }

  li.this-database,
  li.title-only {
    border-bottom: #d4d4d4 2px solid;
    margin-left: 0;
    padding-left: .75em;
  }

  a {
    padding: .51em .75em .5em 1em;
    margin-left: -12px;
    margin-top: -2px;

    &:hover {
      background: $blue;
      color: white;
    }
  }

  input[type="radio"] {
    float: right;
    margin: 4px 4px 0 10px;
  }

  @include media($medium-screen) { top: 40px; }

  @include media($medium-screen + 20em) { .home & { left: 135px; }}
}

// Reveal search options dropdown when you tap .search-dropdown
.search-box.options-visible {
  .search-options {
    opacity: 1;
    max-height: 270px;
  }

  .search-dropdown {
    background: #e9e9e9;
    border-radius: $base-border-radius 0 0 0;
  }
}

// Make sure search options aren't visible when search is hidden, even if opened
@include media(max-width $medium-screen + 20em) {
  .options-visible .search-options {
    opacity: 0 !important;
    max-height: 0 !important;
  }

  .search-is-visible .options-visible .search-options {
    opacity: 1 !important;
    max-height: 270px !important;
  }
}

// The actual input field in the search section
.search-box input[type="text"] {
  float: left; 
  background: $light-gray;
  border: $base-border;
  box-shadow: none;
  border-radius: 0 $base-border-radius $base-border-radius 0;
  -webkit-appearance: none;
  width: 85%;
  font-size: .9em;
  padding-top: .6em; 
  padding-bottom: .6em;
  height: 33px;

  @include media(em(480)) { width: 90%; }

  @include media($medium-screen) {
    height: 40px;

    &:hover,
    &:focus { background: darken(#f4f4f4, 2); }
  }
}

// The submit button
.search-box input[type="submit"] {
  width: 10%;
  height: 27px;
  text-indent: -999em;
  background: $red url('../images/search-2.svg') center no-repeat;
  background-size: 15px auto;
  float: left;
  box-shadow: none;
  border: none;
  border-radius: $base-border-radius;
  -webkit-appearance: none;
  position: absolute;
  right: 53px;
  top: 3px;

  &:hover,
  &:focus { background-color: darken($red, 10); }

  @include media($medium-screen) { height: 34px; }

  @include media($medium-screen + 20em) {
    right: 1.2em;
    width: 7%;
  }
}

// The button that hides search again on mobiles
.go-primary {
  position: absolute;
  right: 1em;
  top: 0;
  text-indent: -999em;
  background: url('../images/close.svg') right 10px no-repeat;
  background-size: 15px auto;
  width: 10%;
  height: 40px;
  padding: 0;

  @include media($medium-screen) { top: -20px; }

  @include media($medium-screen + 20em) { display: none;  }
}

.search-is-visible #page-search { top: -38px; }

// The button that opens search on mobiles
.go-search {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -999em;
  background: $medium-gray;
  float: right;
  margin-top: 7px;
  background: url('../images/search.svg') center right no-repeat;
  background-size: 20px auto;

  @include media($medium-screen) { margin-top: 26px; }

  @include media($medium-screen + 20em) { display: none; }
}

.search #page-content #panels .date-range:first-child {
  margin-left: 0;
  margin-bottom: 6px;
}

html.no-js .extra-search { display: none; }

html.js .extra-search {
  display: none;

  @include media($large-screen) {
    display: block;
    float: left;
    margin: -11px 0 0 49px;
    font-size: .72em;
    color: #727272;
    position: relative;
    top: .25em;

    label {
      display: inline-block;
      margin-right: 1.25em;
      font-weight: normal;
    }
  }
}
