// Search

.search-box {
  position: absolute;
  top: 3px;
  max-height: 50px;
  width: 100%;
  padding-right: 50px;
  padding-left: 1rem;

  fieldset {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;

    legend { display: none; }
  }

  @include media($medium-screen) {
    top: -22px;
  }

  @include media($medium-screen + 20em) {
    right: 0;
    top: -46px;
    width: 600px;
    padding-right: 1rem;
  }

  @include media($medium-screen + 20em) {
    .home & {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      width: 600px;
      margin: 0 auto;
      padding-left: 135px
    }
  }
}

// The actual input field in the search section
.search-box input[type="text"] {
  float: left; 
  background: $light-gray;
  border: $base-border;
  box-shadow: none;
  border-radius: $base-border-radius;
  -webkit-appearance: none;
  font-size: .9em;
  padding-top: .6em; 
  padding-bottom: .6em;
  padding-right: 124px;
  height: 33px;
  position: relative;
  z-index: 6;

  @include media($medium-screen) {
    height: 40px;

    &:hover,
    &:focus,
    &:focus + .search-box-clear,
    &:hover + .search-box-clear { background: darken($light-gray, 2); }
  }
}

.search-box-controls {
  position: absolute;
  right: 53px;
  top: 3px;
  z-index: 6;

  @include media($medium-screen + 20em) {
    right: 1.1875rem;
  }
}

// The submit button
.search-box input[type="submit"] {
  height: 27px;
  font-size: 0.8125rem;
  background: $red url('../images/search-2.svg') 0.8rem center no-repeat;
  background-size: 11px 11px;
  padding: 0.6rem;
  padding-left: 1.8rem;
  letter-spacing: -0.2px;
  float: left;

  box-shadow: none;
  border: none;
  border-radius: $base-border-radius;
  -webkit-appearance: none;

  &:hover,
  &:focus { background-color: darken($red, 10) !important; }

  @include media($medium-screen) {
    height: 34px;
  }

  html.js & {
    overflow: hidden;
    width: 40px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba($red, 0);
    background-image: url('../images/search.svg');
    background-size: 15px 15px;
    background-position: 0.8rem center;
    background-repeat: no-repeat;
    @include transition(background-color .25s .15s ease-out, color .15s ease-out, background-image 0s .25s);
    position: relative;
    
    &.is-active {
      width: auto;
      pointer-events: initial;
      background-color: rgba($red, 1);
      background-image: url('../images/search-2.svg');
      background-size: 11px 11px;
      color: rgba(255, 255, 255, 1);
      @include transition(background-color .25s ease-in-out, color .15s .25s ease-out);
    }
    
    &:not(.is-active) {
      &:hover {
        background-image: url('../images/search-2.svg');
        @include transition(background-color .25s ease-out, background-image 0s);
      }
    }
  }
}

// Clear search button
.search-box-clear {
  display: none;

  @include media($medium-screen + 20em) {
    display: inline-block;
    float: left;
    padding: 0 9px 0 3px;
    height: 34px;
    line-height: 1.4;
    font-size: 1.5em;
    color: darken($light-gray, 15);

    &.hide { display: none; }

    &:hover { color: black; }
  }
  @include media($xx-large-screen) {
    font-size: 1.4em;
  }
  @include media($xxx-large-screen) {
    font-size: 1.5em;
    line-height: 1.15;
  }
}

.search-dropdown {
  position: absolute;

  html.js & {
    display: block;
    top: 30px;
    left: 1rem;
    right: 50px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    font-size: 0.8125rem;
    padding-top: 2px;
    opacity: 0;
    @include transform(translateY(-10px));
    @include transition(opacity .3s ease-in-out, transform .3s ease-in-out);
    z-index: 5;

    @include media($medium-screen) {
      top: 37px;
    }

    @include media($medium-screen + 20em) {
      right: 1rem;
    }

    &.is-active {
      opacity: 1;
      @include transform(translateY(0px));
    }

    &.is-hidden {
      display: none;
    }
  }

  html.js .home & {
    @include media($medium-screen + 20em) {
      left: 135px;
    }
  }

  html.no-js & {
    top: 44px;
    right: 1em;
    text-align: right;
    width: 100%;
    font-size: .7rem;

    @include media(max-width $medium-screen + 20em) {
      display: none;
    }
  }
}

.search-dropdown-suggestions {
  opacity: 0;
  @include transition(opacity .1s ease-out);
  overflow: hidden;

  &.is-active {
    opacity: 1;
  }
  
  &.is-hidden {
    height: 0;
  }

  li {
    display: inline-block;
    width: 100%;

    a {
      display: inline-block;
      width: 100%;
      font-weight: 600;
      color: #333;
      padding: 3px 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      padding-top: 3px;
    }

    &:last-child {
      padding-bottom: 3px;
    }
  }
}

.search-dropdown-databases {
  html.js & {
    display: block;
    padding-bottom: 1px;
    margin-top: -1px;

    li {
      display: block;
      cursor: pointer;
      background-color: transparent;
      margin-bottom: -1px;
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-top: 1px solid #C4C4C4;
        border-right: 1px solid #C4C4C4;
        @include transform(rotate(45deg));
        position: absolute;
        top: 12px;
        right: 10px;
      }

      > span {
        display: block;
        margin-left: 10px;
        border-top: solid 1px #ebebeb;
        padding: 6px 0;
        padding-right: 25px;
  
        strong {
          font-weight: 600;
        }
      }
  
      > label {
        display: none;
      }
  
      &:hover {
        background-color: #ebebeb;
      }
    }
  }

  html.no-js & {
    display: inline;

    li {
      display: inline;
      margin-left: 1em;
      
      > span {
        display: none;
      }

      > label {
        display: inline;
      }
    }
  }
}

.search-dropdown-options {
  html.js & {
    border-top: 1px solid #ebebeb;

    li {
      display: inline-block;
      padding: 5px 10px;
      border-right: 1px solid #ebebeb;

      &:last-child {
        border-right: none;
      }

      label {
        font-weight: normal;
        margin: 0;

        input {
          margin-right: 5px;
          margin-top: 3px;
          vertical-align: top;
        }
      }
    }
  }

  html.no-js & {
    display: inline;

    li {
      display: inline;
      margin-left: 1em;

      label {
        display: inline;
      }
    }
  }
}

.search-dropdown-loader {
  position: relative;
  opacity: 0;
  text-align: center;
  font-size: 0;
  @include transition(opacity .1s ease-out);
  overflow: hidden;

  &::before {
    content: '';
    display: inline-block;
    width: 72px;
    height: 72px;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    @include retina-image('/images/loader', 24px, png, '/images/loader', \@2x);
    background-position: center;
    background-repeat: no-repeat;
    @include animation(loader-rotate 1s linear infinite);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &.is-active {
    opacity: 1;
  }

  &.is-hidden {
    height: 0;
  }
}

@include keyframes(loader-rotate) {
  from {
    @include transform(translate(-50%, -50%) rotate(0deg));
  }

  to {
    @include transform(translate(-50%, -50%) rotate(360deg));
  }
}

// The button that hides search again on mobiles
.go-primary {
  position: absolute;
  right: 1em;
  top: 0;
  text-indent: -999em;
  background: url('../images/close.svg') right 10px no-repeat;
  background-size: 15px auto;
  width: 2em;
  height: 40px;
  padding: 0;

  @include media($medium-screen) { top: -20px; }

  @include media($medium-screen + 20em) { display: none;  }
}

.search-is-visible {
  #page-search { top: -38px; }

  #page-search.filters-search {
    top: 0;

    .go-primary {
      top: 2em;

      @include media(max-width $medium-screen) {
        top: 1.8em;
      }
    }

    @include media(max-width $medium-screen) {
      top: -20px;
    }
  }
}

// The button that opens search on mobiles
.go-search {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -999em;
  background: $medium-gray;
  float: right;
  margin-top: 7px;
  background: url('../images/search.svg') center right no-repeat;
  background-size: 20px auto;

  &.filters {
    position: absolute;
    right: .75em;
    top: 2em;
    margin-top: 0;
    z-index: 2;

    @include media(max-width $medium-screen) {
      top: .65em;
    }
  }

  @include media($medium-screen) { margin-top: 26px; }

  @include media($medium-screen + 20em) { display: none; }
}

.search #page-content #panels .date-range:first-child {
  margin-left: 0;
  margin-bottom: 6px;
}

.checklist #page-content {
  position: static;

  #page-main {
    position: static;

    .card-options {
      bottom: -2.5em;
      margin-top: -2.5em;
      position: relative;
      text-align: right;
      z-index: 0;

      @include media(max-width $medium-screen) {
        margin-bottom: 2.5em;
        text-align: left;
      }
    }
  }

  .filters-search {
    position: absolute;
    right: 0;
    left: 0;

    @include media($medium-screen + 20em) {
      top: 0;
    }

    .search-box {
      top: 31px;
    }
  }
}

html.no-js .extra-search { display: none; }

html.js .extra-search {
  display: none;

  @include media($large-screen) {
    display: block;
    float: left;
    margin: -11px 0 0 49px;
    font-size: .72em;
    color: #727272;
    position: relative;
    top: .25em;

    label {
      display: inline-block;
      margin-right: 1.25em;
      font-weight: normal;
    }
  }
}

//suggestions dropdown
.suggestions {
  position: absolute;
  z-index: 100;
  width: 67%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,.05);
  
  @include media($tiny-screen) { width: 62%; }  
  @include media($small-screen) { width: 69%; }
  @include media(em(960)) { width: em(360); }
}

.suggestions > div {
  padding: .35em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid $border-light-gray;
  border-right: 1px solid $border-light-gray;
  background: white;
  transition: all .3s;
  cursor: pointer;

  &:nth-child(2n) {
    background: #f7fbfd;
    border-top: 1px solid #e5eff4;
    border-bottom: 1px solid #e5eff4;
  }
  &:last-child {
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }
  &.current {
    background: #e5eff4;
  }
}

.check-inblock {
  cursor: pointer;
  
  .checkbox {
    margin: 0 .5em .1em .05em !important;
    border: 2px solid #d2d2d2;
    
    &.checked {
      border: 2px solid transparent;
      
      &::before {
        left: 4px;
        top: 0px;
      }
    }
  }
}
