// Page Side

#page-index {
  padding-right: 1em;
  word-break: break-word;

  .side-element {
    font-size: .8em;
  }

  @include media(max-width $x-large-screen) {
    border: 1px solid $base-border-color;
    padding: 1em 1em 0;
    margin-bottom: 2em;
  }

  @include media($x-large-screen) {
    margin-top: 3em;
    display: block;
    @include span-columns(2.5);
    position: absolute;
    top: 1em;
    left: 0;
  }
}

#page-side {
  padding-right: 1em;
  word-break: break-word;

  .selected a {
    text-decoration: underline;
  }

  @include media(max-width $large-screen) {
    padding-left: 1em;
  }

  @include media($large-screen) {
    margin-top: .8em;
    display: block;
    @include span-columns(3);
    position: absolute;
    top: 1em;
    right: 0;

    .side-element {
      font-size: .8em;
    }
  }

  .contribute-now a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.side-element {
  position: relative;
  padding-left: 3em;
  margin-bottom: 2em;

  @include media(max-width $large-screen) {
    padding-left: 2.5em;
  }

  h4 {
    font-size: 1.3em;
    font-weight: normal;
    padding-top: 2px;
  }

  a {
    margin-bottom: .7em;
    display: block;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
    }

    @include media(max-width $large-screen) {
      border-top: 1px solid rgba(0,0,0,.1);
      padding-top: .25em;
    }
  }

  svg {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 0;
    left: 0px; 
  }

  &.side-statistics {
    li {
      color: #a0a0a0;
      margin-bottom: .75em;
    }

    strong {
      display: block;
      font-size: 1.2em;
      color: $base-font-color;
      line-height: 1;
    }
  }

  &.side-about {
    @include transition(all 0.25s ease-in-out);

    svg {
      @include transition(all 0.25s ease-in-out);
    }

    .side-about-more-link {
      display: block;
      opacity: 1;
      max-height: 80px;
      overflow: hidden;
      @include transition(all 0.25s ease-in-out);
    }

    .side-about-more {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      @include transition(all 0.25s ease-in-out);
    }

    &.has-more {
      padding-left: 0;

      svg {
        opacity: 0;
      }

      .side-about-more-link {
      }

      .side-about-more {
        opacity: 1;
        max-height: 1000px;
      }
    }
  }
}
