// Page Side

// Table of contents for documents
#page-index {
  padding-right: 1em;
  word-break: break-word;
  font-size: $side-font-size;
  background: white;

  @include media($medium-screen) {
    float: right;
    margin: 1em 0 1em 2em;
    width: 20em;
  }

  // Contain in an inline box on smaller screens
  border: $base-border;
  padding: 1em 1em 0;
  margin-bottom: 2em;
}

// Main right-sidebar
#page-side {
  font-size: $side-font-size;
  word-break: break-word;

  .selected a { text-decoration: underline; }

  @include media(max-width $large-screen) { padding-left: 1em; }
  @include media(max-width $medium-screen) { padding: 0 1em; }

  @include media($large-screen) {
    @include span-columns(3);
    @include omega;
    margin-top: 2.4em;
    display: block;
    position: relative;
    float: right;
    //compensate for footer
    padding-bottom: 16em;
  }
}

.contribute-now {
  .button {
    display: inline-block;
    text-align: center;
  }
}

#page-content .annual-reports {
  display: block;

  .button {
    background: $border-light-gray;
    color: #888;
    position: relative;
    z-index: 2; 
    margin-top: .5em;

    &:hover {
      background: #ccc;
      color: #777;
    }
  }


  .annual-reports-dropdown {
    html.js & {
      @include transition(all 0.25s ease-in-out);
    }

    position: absolute;
    z-index: 1;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 90px;
    background: white;
    margin-top: -3px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.07);
    border-radius: $base-border-radius;
    margin-bottom: 2em;

    li:first-child a {
      padding-top: .7em;
    }

    li:last-child a {
      border-radius: 0  $base-border-radius $base-border-radius;
    }

    li a {
      padding: .3em 0 .4em .75em;
      margin-bottom: 0;
    }

    li:nth-child(2n) a {
      background: $light-blue;
    }
  }

  &.is-open .annual-reports-dropdown {
    max-height: 500px;
    opacity: 1;
  }
}


// Elements of the sidebars
.side-element {
  position: relative;
  padding-left: 2.75em;
  margin-bottom: 1.5em;
  padding-top: 1.1em;

  &:first-child {
    border-top: none;
    padding-top: 0;

    svg { top: 0; }
  }

  img {
    background: white;
    padding: .25em;
    border: $base-border;
  }

  &.side-toc {
    padding-left: 1em;
  }

  @include media(max-width $large-screen) { padding-left: 2.5em; }

  // Sidebar link lists
  a,
  [data-show] {
    margin-bottom: .6em;
    display: block;
    line-height: 1.3;

    &:hover { text-decoration: underline; }
  }
  
  [data-show] {
    cursor: pointer;
    color: $blue;
    text-decoration: none;
    transition: color 0.1s linear;
  }

  // Sidebar sub-lists
  ul >  li > ul > li {
    padding-left: .5em;

    &:before {
      content: '\2022 ';
      padding-right: .5em;
      float: left;
      color: #b6b6b6;
      line-height: 1.2em;
    }

    ul > li:before { content: '-'; }
  }

  // Sidebar icons
  svg {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 1.2em;
    left: 0px; 
  }

  // Special rules for the stat sidebar element
  &.side-statistics {
    li {
      color: $medium-gray;
      margin-bottom: .75em;
    }

    strong {
      display: block;
      font-size: 1.2em;
      color: $base-font-color;
      line-height: 1;
    }
  }

  // Special rules for the about sidevar element
  // (Has 'More' / 'Less' collapsible)
  &.side-about {
    @include transition(all 0.25s ease-in-out);

    svg { @include transition(all 0.25s ease-in-out); }

    .side-about-more-link {
      @include transition(all 0.25s ease-in-out);
      display: block;
      opacity: 1;
      max-height: 80px;
      overflow: hidden;
    }

    .side-about-more {
      @include transition(all 0.25s ease-in-out);
      opacity: 0;
      max-height: 0;
      overflow: hidden;
    }

    &.has-more {
      padding-left: 0;

      svg { opacity: 0; }

      .side-about-more {
        opacity: 1;
        max-height: 1600px;
      }
    }

    p a,
    small a {
      display: inline;
    }
  }
}
