// Page Side

// Table of contents for documents
#page-index {
  padding-right: 1em;
  word-break: break-word;
  font-size: $side-font-size;

  // Contain in an inline box on smaller screens
  @include media(max-width $x-large-screen) {
    border: $base-border;
    padding: 1em 1em 0;
    margin-bottom: 2em;
  }

  // Turn into a sidebar on larger screens
  @include media($x-large-screen) {
    @include span-columns(2.5);
    position: absolute;
    top: 1em;
    left: 0;
    margin-top: 4.5em;
  }
}

// Main right-sidebar
#page-side {
  padding-right: 1em;
  font-size: $side-font-size;
  word-break: break-word;

  .selected a { text-decoration: underline; }

  @include media(max-width $large-screen) { padding-left: 1em; }

  @include media($large-screen) {
    @include span-columns(3);
    margin-top: 1.4em;
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
  }
}

.contribute-now {
  margin-top: .4em;

  a {
    width: 120px;
  }
}

#page-content .annual-reports {

  .button {
    background: #ddd;
    color: #888;
    margin-top: .5em;
    width: 120px;
    position: relative;
    z-index: 1;

    &:hover {
      background: #ccc;
      color: #777;
    }
  }


  .annual-reports-dropdown {
    @include transition(all 0.25s ease-in-out);
    max-height: 500px;
    width: 120px;
    background: white;
    margin-top: -3px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.07);
    border-radius: $base-border-radius;

    li:first-child a {
      padding-top: .7em;
    }

    li:last-child a {
      border-radius: 0  $base-border-radius $base-border-radius;
    }

    li a {
      padding: .3em .75em;
      margin-bottom: 0;
    }

    li:nth-child(2n) a {
      background: $light-blue;
    }
  }

  &.is-collapsed {
    .annual-reports-dropdown {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
}


// Elements of the sidebars
.side-element {
  position: relative;
  padding-left: 2.75em;
  margin-bottom: 1.5em;

  @include media(max-width $large-screen) { padding-left: 2.5em; }

  // Sidebar link lists
  a {
    margin-bottom: .2em;
    display: block;

    &:hover { text-decoration: underline; }
  }

  // Sidebar icons
  svg {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 0;
    left: 0px; 
  }

  // Special rules for the stat sidebar element
  &.side-statistics {
    li {
      color: $medium-gray;
      margin-bottom: .75em;
    }

    strong {
      display: block;
      font-size: 1.2em;
      color: $base-font-color;
      line-height: 1;
    }
  }

  // Special rules for the about sidevar element
  // (Has 'More' / 'Less' collapsible)
  &.side-about {
    @include transition(all 0.25s ease-in-out);

    svg { @include transition(all 0.25s ease-in-out); }

    .side-about-more-link {
      @include transition(all 0.25s ease-in-out);
      display: block;
      opacity: 1;
      max-height: 80px;
      overflow: hidden;
    }

    .side-about-more {
      @include transition(all 0.25s ease-in-out);
      opacity: 0;
      max-height: 0;
      overflow: hidden;
    }

    &.has-more {
      padding-left: 0;

      svg { opacity: 0; }

      .side-about-more {
        opacity: 1;
        max-height: 1000px;
      }
    }
  }
}
