// Tertiary

#page-tertiary {
  display: none;
  @include outer-container;
  @extend %container;
  text-align: right;

  @include media($medium-screen + 20em) {
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    
    .has-announcement & {
      top: 38px;
    }
    
    li {
      display: inline-block;
      
      a {
        font-size: .75em;
        color: #727272;
        margin-left: 1em;
        position: relative;
        top: .25em;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
